<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../../../epgn_front_end/css/menu.css">
    <script src="../../../epgn_front_end/js/jquery-1.7.2.min.js"></script>
    <script src="../../../epgn_front_end/js/header.js"></script>
    <script src="../../../epgn_front_end/js/google-maps.js"></script>
    <script>
        $(document).ready(function () {
            $(".vertical-nav").verticalnav({
                speed: 400,
                align: "left"
            });
        });
    </script>
    <style>
        .footer {
            width: 100%;
            float: right;
            /* border-top: 1px solid #409ea2; */
            margin: 5% 0;
        }

        .foot_link {
            text-align: center;
            margin-top: 30px;
        }

        .foot_link a,
        .foot_link span {
            color: #4e4e4e;
        }

        .foot_link a:hover {
            color: #ff8800
        }

        .foot_link span {
            padding: 0 10px
        }

        .footer p {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div style="display: block;margin-left:8.33%;margin-top:26px;margin-right: 0px;">
        <img src="../../../epgn_front_end/image/dazhong.png" alt="dazhogn">
    </div>
    <a href="../../../epgn_front_end/login.html">登录</a>
    <div style="float:left;margin-left:6.5%;" class="kePublic">
        <div class="content">
            <ul class="vertical-nav dark red">
                <li class="active ">
                    <a href="#">
                        <i class="icon-home "></i>首页</a>
                </li>
                 <li class="active ">
                    <a href="../../../epgn_front_end/upload.html">
                        <i class="icon-files "></i>文件上传</a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-cogs "></i>平台
                        <span class="submenu-icon "></span>
                    </a>
                    <ul>
                        <li>
                            <a href="../../../epgn_front_end/mqb37.html">MQB 37</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/mqb37w.html">MQB 37W</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/mqb37a.html">MQB 37A</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/mqb41b.html">MQB 41B</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/mqb48.html">MQB 48</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/pq25.html">PQ 25</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/pq35.html">PQ 35</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/pq34l.html">PQ 34L</a>
                        </li>
                        <li>
                            <a href="../../../epgn_front_end/mqbao.html">MQB AO</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-briefcase "></i>产品
                        <span class="submenu-icon "></span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">二级导航</a>
                        </li>
                        <li>
                            <a href="#">二级导航</a>
                        </li>
                        <li>
                            <a href="#">二级导航
                                <span class="submenu-icon "></span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">三级导航</a>
                                </li>
                                <li>
                                    <a href="#">三级导航</a>
                                </li>
                                <li>
                                    <a href="#">三级导航
                                        <span class="submenu-icon "></span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">四级导航</a>
                                        </li>
                                        <li>
                                            <a href="#">四级导航</a>
                                        </li>
                                        <li>
                                            <a href="#">四级导航</a>
                                        </li>
                                        <li>
                                            <a href="#">四级导航</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">三级导航</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">二级导航</a>
                        </li>
                        <li>
                            <a href="#">二级导航</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="../../../epgn_front_end/search.html">
                        <i class="icon-user "></i>高级搜索</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <img style="float:right;width: 70%; margin-right: 10%;" src="../../../epgn_front_end/image/back.jpg" alt="上汽大众">
    <div class="footer no-mp">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2016 上汽大众汽车科技有限公司 All Rights Reserved</p>
        <p>电话：010-****888 京ICP备*******8号</p>
    </div>
    <script type="text/javascript" src="../../../epgn_front_end/js/login.js"></script>
</body>

</html>


data: {
                    car_num: function () {
                        return $("#car_num").val()
                    },
                    platform: function () {
                        return $("#platform").val()
                    },
                    car_model: function () {
                        return $("#car_model").val()
                    },
                    power: function () {
                        return $("#power").val()
                    },
                    propulsion: function () {
                        return $("#propulsion").val()
                    },
                    direction: function () {
                        return $("#direction").val()
                    },
                    date: function () {
                        return $("#date").val()
                    }
                },