<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EPGN_INFO Air</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<form action="/air/parse_air" style="text-align: center" method="POST">
    <input style="height: 30px;width: 20%" type="file" name="filename">
    <input style="height: 30px; background: bisque" type="submit" value="提交">
</form>
<hr>
<div>
    <table style="width: 80%; text-align: center" align="center" border="1px" cellspacing="0px">
        <tr>
            <td> 档位一</td>
            <td> 档位二</td>
            <td> 档位三</td>
            <td> 档位四</td>
            <td> 档位五</td>
            <td> 档位六</td>
            <td> 档位七</td>
        </tr>
        <tr>
            <td> 数据---</td>
            <td> 数据---</td>
            <td> 数据---</td>
            <td> 数据---</td>
            <td> 数据---</td>
            <td> 数据---</td>
            <td> 数据---</td>
        </tr>
    </table>
</div>
</body>

</html>