{% extends 'base.html' %}

{% load static %}

{% block title %}SEARCH{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/vue_2.6.10.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
{% endblock link %}

{% block style %}
    <style>
        .sec {
            display: none
        }

        .dataContrastList {
            border-radius: 5px 5px 0 0;
            position: fixed;
            float: right;
            top: 30%;
            right: 4%;
            width: 230px;
            height: 280px;
            z-index: 1000;
            background: rgba(0, 0, 0, 0.6);
            display: none;
            border-radius: 5px 5px 0 0;
        {#overflow: scroll;#}

        }

        .list-title {
            font-size: 22px;
            font-weight: bold;
            text-align: left;
            color: wheat;
            margin-top: 15px;
            padding-left: 10px
        }

        .data-download {
            border-left: 1px solid white !important;
            background: rgba(0, 150, 136, 1);
        }

        .data-list {
            font-size: 16px;
            text-align: left;
            margin-top: 8px;
            color: white;
            padding-left: 10px;
            overflow: scroll;
            height: 200px;

        }

        .bulletbox-button {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            height: 35px;
            line-height: 35px;
            font-size: 16px;
            color: white;
            background: rgba(42, 149, 241, 1) !important;
        }

        .bulletbox-button button {
            text-align: center;
            width: 50%;
            border: 0px;
            border-top: 1px solid white;
            color: white;
        }

        ::-webkit-scrollbar {
            width: 4px;
            height: 10px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: rgba(255, 255, 255, 0.9);
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0;
            background: rgba(0, 0, 0, 0.1);
        }

        .list-data {
            white-space: nowrap;
            /* padding-right: 20px; */
            /* background: rgb(57, 170, 226) url("../image/close.gif") right 9px no-repeat */
        }

        .list-data-close {
            padding-right: 8px;
            width: 9px;
            height: 9px;
        }

        .list-data-close:hover {
            width: 13px;
            height: 13px;
        }

        .data-submit {
            background: rgba(30, 159, 255, 1);
        }

    </style>
{% endblock style %}

{% block content %}
    <div class="layui-fluid">
        <div class="layui-row">
            <!-- Ajax请求的条件查询 -->
            <ul class="select" style="width: 100%">
                <li class="select-list">
                    <dl id="select1">
                        <dt>车型：</dt>
                        <dd class="select-all selected"><a href="#">不限</a></dd>
                        {% for car in cars %}
                            {% for car_model in car.subs %}
                                <dd><a href="#">{{ car_model.name }}</a></dd>
                            {% endfor %}
                        {% endfor %}
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select2">
                        <dt>动力总成：</dt>
                        <dd class="select-all selected"><a href="#">不限</a></dd>
                        {% for propulsion in propulsions %}
                            <dd><a href="#">{{ propulsion.num }}</a></dd>
                        {% endfor %}
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select3">
                        <dt>功率：</dt>
                        <dd class="select-all selected"><a href="#">不限</a></dd>
                        {% for power in powers %}
                            <dd><a href="#">{{ power }} KW</a></dd>
                        {% endfor %}
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select4">
                        <dt>专业方向：</dt>
                        <dd class="select-all selected"><a href="#">不限</a></dd>
                        {% for part in parts %}
                            <dd><a href="#">{{ part.name }}</a></dd>
                        {% endfor %}
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select5">
                        <dt>测试项目：</dt>
                        <dd class="select-all selected sec5"><a href="#">不限</a></dd>
                        <div id="secSection">
                            <div id="sec1" class="sec">
                                <dd><a href="#">整车内部噪声</a></dd>
                                <dd><a href="#">整车滚动噪声</a></dd>
                                <dd><a href="#">整车怠速启停</a></dd>
                            </div>
                            <div id="sec2" class="sec">
                                <dd><a href="#">整车内部噪声</a></dd>
                                <dd><a href="#">整车滚动噪声</a></dd>
                                <dd><a href="#">整车怠速启停</a></dd>
                                <dd><a href="#">风扇(整车)</a></dd>
                                <dd><a href="#">风扇(台架)</a></dd>
                                <dd><a href="#">空调中间耳旁(整车)</a></dd>
                                <dd><a href="#">空调左侧出风口(整车)</a></dd>
                                <dd><a href="#">空调中央左侧出风口(整车)</a></dd>
                                <dd><a href="#">空调中央右侧出风口(整车)</a></dd>
                                <dd><a href="#">空调右侧出风口(整车)</a></dd>
                                <dd><a href="#">空调除霜出风口(整车)</a></dd>
                                <dd><a href="#">空调(台架)</a></dd>
                                <dd><a href="#">发电机</a></dd>
                                <dd><a href="#">压缩机</a></dd>
                                <dd><a href="#">摇窗机</a></dd>
                                <dd><a href="#">电动后盖撑杆</a></dd>
                                <dd><a href="#">燃油泵</a></dd>
                                <dd><a href="#">天窗</a></dd>
                                <dd><a href="#">前/后雨刮</a></dd>
                                <dd><a href="#">导航风扇</a></dd>
                                <dd><a href="#">座椅通风</a></dd>
                                <dd><a href="#">外后视镜(台架)</a></dd>
                            </div>

                            <div id="sec3" class="sec">
                                <dd><a href="#">整车内部噪声</a></dd>
                                <dd><a href="#">整车滚动噪声</a></dd>
                                <dd><a href="#">整车怠速启停</a></dd>
                                <dd><a href="#">排气系统</a></dd>
                                <dd><a href="#">排气结构声</a></dd>
                                <dd><a href="#">排气次级声</a></dd>
                                <dd><a href="#">排气管口噪声</a></dd>
                                <dd><a href="#">进气管</a></dd>
                                <dd><a href="#">导流板</a></dd>
                                <dd><a href="#">空滤</a></dd>
                                <dd><a href="#">1/4波长管</a></dd>
                                <dd><a href="#">谐振腔</a></dd>
                                <dd><a href="#">波纹管</a></dd>
                            </div>
                            <div id="sec5" class="sec">
                                <dd><a href="#">整车内部噪声</a></dd>
                                <dd><a href="#">整车滚动噪声</a></dd>
                                <dd><a href="#">整车怠速启停</a></dd>
                                <dd><a href="#">涡轮增压器</a></dd>
                                <dd><a href="#">发动机整车</a></dd>
                                <dd><a href="#">高压油泵</a></dd>
                                <dd><a href="#">发动机声功率</a></dd>
                                <dd><a href="#">进气增压管</a></dd>
                                <dd><a href="#">发动机(台架)</a></dd>
                                <dd><a href="#">插电混合动力电驱动总成(整车)</a></dd>
                                <dd><a href="#">纯电驱动总成(整车)</a></dd>
                            </div>
                            <div id="sec6" class="sec">
                                <dd><a href="#">整车内部噪声</a></dd>
                                <dd><a href="#">整车滚动噪声</a></dd>
                                <dd><a href="#">整车怠速启停</a></dd>
                                <dd><a href="#">座椅</a></dd>
                            </div>
                            <div id="sec7" class="sec">
                                <dd><a href="#">整车内部噪声</a></dd>
                                <dd><a href="#">整车滚动噪声</a></dd>
                                <dd><a href="#">整车怠速启停</a></dd>
                                <dd><a href="#">内部噪声</a></dd>
                                <dd><a href="#">滚动噪声</a></dd>
                            </div>
                            <div id="sec8" class="sec">
                                <dd><a href="#">整车内部噪声</a></dd>
                                <dd><a href="#">整车滚动噪声</a></dd>
                                <dd><a href="#">整车怠速启停</a></dd>
                                <dd><a href="#">轮胎(室内转鼓)</a></dd>
                                <dd><a href="#">稳速轮胎噪声(室外)</a></dd>
                                <dd><a href="#">滚动噪声</a></dd>
                                <dd><a href="#">轮胎唱歌声</a></dd>
                                <dd><a href="#">支撑内部噪声</a></dd>
                                <dd><a href="#">支撑怠速舒适性</a></dd>
                                <dd><a href="#">支撑启停</a></dd>
                                <dd><a href="#">支撑Stuckern</a></dd>
                                <dd><a href="#">支撑隔振率</a></dd>
                                <dd><a href="#">全局运行模态</a></dd>
                                <dd><a href="#">底盘舒适性</a></dd>
                                <dd><a href="#">方向盘Tilger(整车)</a></dd>
                                <dd><a href="#">传动轴(整车)</a></dd>
                            </div>
                        </div>
                    </dl>
                </li>
                <li class="select-result">
                    <dl>
                        <dt class="layui-btn" data-type="reload" style="color: aliceblue;">点击查询</dt>
                        <dd class="select-no">&nbsp;</dd>
                    </dl>
                </li>
            </ul>

            <!-- 后台返回的数据在这里展示 -->
            <div class="layui-tab-item layui-show" style="margin-top: 15px">
                <div class="layui-main">
                    <div id="LAY_preview">
                        <div class="demoTable">
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="demoReload" autocomplete="off"
                                       placeholder="这里是模糊搜索字段...">
                            </div>
                            <button class="layui-btn" id="search-work" data-type="reload">模糊搜索</button>
                            <table id="info" lay-filter="test"></table>
                        </div>
                    </div>
                    <div class="site-mobile-shade"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block right_data %}
    <div class="dataContrastList" id="dataContrastList">
        <div class="list-title">已选数据:</div>
        <div class="data-list">
        </div>
        <div class="bulletbox-button">
            <button class="data-submit">
                <a href="/calculate/" style="color: white">
                    确认计算
                </a>
            </button>
            <button class="data-download">
                <a href="/autocalculate/" style="color: white">
                    自动统计
                </a>
            </button>
        </div>
    </div>
    <div class="dataContrastList" id="dataDownload">
        <div class="list-title">已选数据:</div>
        <div class="data-list"></div>
        <div class="bulletbox-button">
            <button class="data-download" onclick="data_download()" style="background: #FF5722">
                文件下载
            </button>
            <button class="data-download" onclick="data_Blockskip()">
                添加对比
            </button>
        </div>
    </div>
{% endblock right_data %}

{% block javascript %}
    <!-- 使用layui框架 -->
    <script>
        var listArray = null;
        var sessionArray = [];
        var judge_sessionValue = sessionStorage.getItem("sessionString");
        // judge_sessionValue里面有值
        if (judge_sessionValue != null) {
            //取session转数组
            sessionArray = JSON.parse(judge_sessionValue);
            for (var i = 0; i < sessionArray.length; i++) {
                $(".data-list").append(
                    `<div class='list-data'><img class='list-data-close' src='../../../epgn_front_end/image/close.png'/>${sessionArray[i].file_name}</div>`
                );
            }
            ;

            // 显示数组
            var compare_dataBlock = document.getElementById('dataContrastList');
            compare_dataBlock.style.display = "block";


            $(".data-list").off('click');
            $(".data-list").on('click', '.list-data', function () {
                var compare_dataIndex = $(".list-data").index(this);
                console.log(compare_dataIndex);
                $(this).remove();
                sessionArray.splice(compare_dataIndex, 1);
                sessionString = JSON.stringify(sessionArray);
                sessionStorage.setItem("sessionString", sessionString);
                if (sessionArray.length == 0) {
                    var compare_dataBlock = document.getElementById('dataContrastList');
                    compare_dataBlock.style.display = "none";
                    sessionStorage.removeItem("sessionString");
                }
            });
        }

        layui.config({
            base: '../../../epgn_front_end/home/' //静态资源所在路径
        }).use('index', function () {
            var $ = layui.jquery,
                layer = layui.layer,
                admin = layui.admin,
                element = layui.element,
                table = layui.table,
                form = layui.form;
        });
    </script>

    <!-- 使用script的方式把这段代码添加到html中 -->
    <script type="text/html" id="toolbarDemo">
        <div class="demoTable">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="getDownload">下载</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="getCheckData">添加对比</button>
            <!--
            <button class=" layui-btn layui-btn-sm" id="addContrast" lay-event="addContrast">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="rebootContrast">刷新</button>
            <a class="layui-btn layui-btn-sm layui-btn-normal" id="download-btn" onclick="file_download();">下载</a>
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="catContrast">查看</button>
            -->
        </div>
    </script>

    <!-- 文件批量下载 -->
    <script>
        function data_download() {
            console.log(sessionArray);
            for (let i = 0; i < sessionArray.length; i++) {
                download('第' + i + '个文件', "/download/" + sessionArray[i].pk);
            }
        }

        function data_Blockskip() {
            var compare_dataBlock = document.getElementById('dataDownload');
            compare_dataBlock.style.display = "none";
            var compare_dataBlock = document.getElementById('dataContrastList');
            compare_dataBlock.style.display = "block";
        }

        function download(name, href) {
            var a = document.createElement("a"), //创建a标签
                e = document.createEvent("MouseEvents"); //创建鼠标事件对象
            e.initEvent("click", false, false); //初始化事件对象
            a.href = href; //设置下载地址
            a.download = name; //设置下载文件名
            a.dispatchEvent(e); //给指定的元素，执行事件click事件
        }

        function remove_compareData() {
            console.log(this);
            var compare_dataIndex = $(".data-list div").index(this);
            console.log(compare_dataIndex);
            $(this).remove();
            sessionArray.splice(compare_dataIndex, 1);
            console.log(sessionArray);
            sessionString = JSON.stringify(sessionArray);
            sessionStorage.setItem("sessionString", sessionString);
            if (sessionArray.length == 0) {
                var compare_dataBlock = document.getElementById('dataContrastList');
                compare_dataBlock.style.display = "none";
                sessionStorage.removeItem("sessionString");
            }
        }

        //给多文件下载按钮添加点击事件
        function file_download(params) {
            allcookies = document.cookie;
            btn = document.getElementById('download-btn');
            mp3arr = [];
            if (!$.cookie('contrast')) {
                cookieChoiceIdArray = []; //转化数组
            } else {
                cookieChoiceIdArray = $.cookie('contrast').split(','); //转化数组
            }
            cookie_list = cookieChoiceIdArray.splice(-1, 1)
            for (var i in cookieChoiceIdArray) {
                mp3arr.splice(-1, 0, "/download/" + parseInt(cookieChoiceIdArray[i]))
            }
            for (let index = 0; index < mp3arr.length; index++) {
                download('第' + index + '个文件', mp3arr[index]);
            }
        }
    </script>

    <!-- 表格 -->
    <script>
        layui.use('table', function () {
            var $ = layui.$,
                table = layui.table;

            //方法级渲染
            tableIns = table.render({
                elem: '#info', // 找到制定的容器
                url: "/parse_file/", // 表格请求的URL
                page: true, // 是否分页
                limit: 20, // 一页显示多少条数据
                height: 'full-130', // 表格的高度
                // even: true, // 隔行背景
                // skin: 'line', // 行边框风格
                // loading: true, // 开启进度条
                defaultToolbar: ['filter', 'print', 'exports'], // 表头右侧工具栏
                toolbar: '#toolbarDemo',
                cols: [
                    [{
                        type: 'checkbox',
                        LAY_CHECKED: false,
                    }, {
                        field: 'car_num',
                        title: '车辆编号',
                        width: '10%',
                        sort: true,     // 开启排序
                        align: 'center'   // 居中显示
                    }, {
                        field: 'produce',
                        title: '生产阶段',
                        width: '10%',
                        sort: true,
                        align: 'center'
                    }, {
                        field: 'status',
                        title: '试验工况',
                        width: '20%'
                    }, {
                        field: 'author',
                        title: '试验员',
                        width: '12%',
                        hide: true,
                        align: 'center'
                    }, {
                        field: 'file_name',
                        title: '文件名',
                        width: '40%',
                        sort: true,
                    }, {
                        field: 'other_need',
                        title: '其他',
                        width: 280,
                    }]
                ],
                // initSort:{
                //     field: 'pk',    // 自定义排序字段
                //     type: 'desc'    // 设置排序类型
                // }
            });

            // 表格重载动作
            active_table = {
                reload: function () {
                    //执行重载
                    table.reload('info', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            "carmodel": $('#carmodel').children('a').html(),
                            "propulsion": $('#propulsion').children('a').html(),
                            "power": $('#power').children('a').html(),
                            "discipline": $("#discipline").children('a').html(),
                            "parts": $('#parts').children('a').html(),
                            "key_word": $("#demoReload").val(),
                            "time": (new Date()).valueOf(),
                        },
                        done: function (res, curr, count) {
                            this.where = {
                                "carmodel": $('#carmodel').children('a').html(),
                                "propulsion": $('#propulsion').children('a').html(),
                                "power": $('#power').children('a').html(),
                                "discipline": $("#discipline").children('a').html(),
                                "parts": $('#parts').children('a').html(),
                                "key_word": $("#demoReload").val(),
                                "time": (new Date()).valueOf(),
                            };
                        }
                    });
                }
            };

            active_btu = {
                reload: function () {
                    //执行重载
                    table.reload('info', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            "carmodel": $('#carmodel').children('a').html(),
                            "propulsion": $('#propulsion').children('a').html(),
                            "power": $('#power').children('a').html(),
                            "discipline": $("#discipline").children('a').html(),
                            "parts": $('#parts').children('a').html(),
                            "key_word": $("#demoReload").val(),
                            "time": (new Date()).valueOf(),
                        },
                        done: function (res, curr, count) {
                            this.where = {
                                "carmodel": $('#carmodel').children('a').html(),
                                "propulsion": $('#propulsion').children('a').html(),
                                "power": $('#power').children('a').html(),
                                "discipline": $("#discipline").children('a').html(),
                                "parts": $('#parts').children('a').html(),
                                "key_word": $("#demoReload").val(),
                                "time": (new Date()).valueOf(),
                            };
                        }
                    });
                }
            };

            // 在这里监听点击事件 ==> 两个地方分别进行判断 ==> 后台把所有的数据都接受，只返回对于这个标签有用的值
            $('.select-result .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active_table[type] ? active_table[type].call(this) : '';
            });

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active_btu[type] ? active_btu[type].call(this) : '';
            });

            // 监听表头事件 ==> 下载
            table.on('toolbar(test)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    switch (obj.event) {
                        case 'catContrast': // 查看
                            $.ajax({
                                url: "/contrast/",
                                dataType: "html",
                                type: "get",
                                success: function (result) {
                                    layer.msg("OK")
                                }
                            });
                            break;
                        case 'getCheckData':
                            var add_arrayData = checkStatus.data;
                            judge_sessionValue = sessionStorage.getItem("sessionString");
                            if (judge_sessionValue == null) {
                                sessionArray = add_arrayData;
                                if (sessionArray.length == 0) {
                                    return false;
                                } else {
                                    sessionString = JSON.stringify(sessionArray);
                                    document.getElementById('dataContrastList').style.display = "block";
                                }
                            } else {
                                var result = [];
                                function get_sameArray() {
                                    for (let i = 0; i < add_arrayData.length; i++) {
                                        new_itemName = add_arrayData[i].file_name;
                                        for (let j = 0; j < sessionArray.length; j++) {
                                            old_itemName = sessionArray[j].file_name;
                                            if (new_itemName === old_itemName) {
                                                result.push(add_arrayData[i]);
                                                break;
                                                // console.log(arr1[i])
                                            }
                                        }
                                    }
                                }
                                get_sameArray();
                                add_arrayData = add_arrayData.filter(item => {
                                    let idList = result.map(v => v.file_name)
                                    return !idList.includes(item.file_name)
                                })
                                sessionArray = sessionArray.concat(add_arrayData);
                                sessionString = JSON.stringify(sessionArray);
                            }
                            sessionStorage.setItem("sessionString", sessionString);

                            for (var i = 0; i < add_arrayData.length; i++) {
                                $(".data-list").append(
                                    `<div class='list-data'><img class='list-data-close' src='../../../epgn_front_end/image/close.png'/>${add_arrayData[i].file_name}</div>`
                                );
                            };
                            $(".data-list").off('click');
                            $(".data-list").on('click', '.list-data', function () {
                                var compare_dataIndex = $(".list-data").index(this);
                                console.log(compare_dataIndex);
                                $(this).remove();
                                sessionArray.splice(compare_dataIndex, 1);
                                sessionString = JSON.stringify(sessionArray);
                                sessionStorage.setItem("sessionString", sessionString);
                                if (sessionArray.length == 0) {
                                    var compare_dataBlock = document.getElementById('dataContrastList');
                                    compare_dataBlock.style.display = "none";
                                    sessionStorage.removeItem("sessionString");
                                }
                            });
                            break;
                        case 'getDownload':
                            var add_arrayData = checkStatus.data;
                            judge_sessionValue = sessionStorage.getItem("sessionString");
                            if (judge_sessionValue == null) {
                                sessionArray = add_arrayData;
                                if (sessionArray.length == 0) {
                                    return false;
                                } else {
                                    sessionString = JSON.stringify(sessionArray);
                                    document.getElementById('dataDownload').style.display = "block";
                                }
                            } else {
                                var result = [];
                                function get_sameArray() {
                                    for (let i = 0; i < add_arrayData.length; i++) {
                                        new_itemName = add_arrayData[i].file_name;
                                        for (let j = 0; j < sessionArray.length; j++) {
                                            old_itemName = sessionArray[j].file_name;
                                            if (new_itemName === old_itemName) {
                                                result.push(add_arrayData[i]);
                                                break;
                                                // console.log(arr1[i])
                                            }
                                        }
                                    }
                                }

                                get_sameArray();
                                add_arrayData = add_arrayData.filter(item => {
                                    let idList = result.map(v => v.file_name)
                                    return !idList.includes(item.file_name)
                                });
                                sessionArray = sessionArray.concat(add_arrayData);
                                sessionString = JSON.stringify(sessionArray);
                            }
                            sessionStorage.setItem("sessionString", sessionString);

                            for (var i = 0; i < add_arrayData.length; i++) {
                                $(".data-list").append(
                                    `<div class='list-data'><img class='list-data-close' src='../../../epgn_front_end/image/close.png'/>${add_arrayData[i].file_name}</div>`
                                );
                            };
                            $(".data-list").off('click');
                            $(".data-list").on('click', '.list-data', function () {
                                var compare_dataIndex = $(".list-data").index(this);
                                console.log(compare_dataIndex);
                                $(this).remove();
                                sessionArray.splice(compare_dataIndex, 1);
                                sessionString = JSON.stringify(sessionArray);
                                sessionStorage.setItem("sessionString", sessionString);
                                if (sessionArray.length == 0) {
                                    var compare_dataBlock = document.getElementById('dataContrastList');
                                    compare_dataBlock.style.display = "none";
                                    sessionStorage.removeItem("sessionString");
                                }
                            });
                            break;
                        case
                        'rebootContrast'
                        : // 重置cookie
                            $.removeCookie('contrast', {
                                path: '/'
                            }); // 删除指定路径下的cookie
                            layer.msg("缓存已清空")
                    };
                }
            );

            //监听复选框点击
            table.on('checkbox(test)', function (obj) {
                if ($.cookie('contrast')) {
                    var contrast_list = $.cookie('contrast').split(',')
                } else {
                    var contrast_list = []
                }
                if (obj.type == "all") {
                    // var checkStatus = table.checkStatus('useruv');
                    console.log(obj.data)
                    var id_str = [];
                    var data = obj.data;
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            id_str += data[i].id + ',';
                        }
                    }
                } else if (obj.type == "one") {
                    if (obj.checked) { // 当前文件为选中状态
                        if (!$.cookie('contrast')) {
                            // cookie为空
                            $.cookie('contrast', obj.data["pk"] + ',', {
                                path: "/"
                            })
                        } else {
                            contrast = $.cookie('contrast') + obj.data["pk"] + ','
                            $.cookie('contrast', contrast, {
                                path: "/"
                            })
                        }
                    } else { // 当前为取消动作
                        contrast_list_2 = contrast_list.splice($.inArray(obj.data["pk"],
                            contrast_list), 1);
                        for (var i in contrast_list_2) {
                            contrast_2 = contrast_2 + contrast_list[i] + ','
                        }
                        $.cookie('contrast', contrast_2, {
                            path: "/"
                        })
                    }
                    ;
                }
            });
        });
    </script>
{% endblock javascript %}
