{% extends 'base.html' %}

{% block title %}EPGN HOME{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/epgn_front_end/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/epgn_front_end/layui/css/admin.css" media="all">
    <link rel="stylesheet" href="/epgn_front_end/layui/css/modules/layer/default/layer.css">
    <style>
        .tips {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-left: 1%;
            margin-right: 5%

        }

        .tips-block {
            width: 24%;
            height: 150px;
            background: white;
            border-radius: 2px
        }

        .schedule {
            width: 23%;
            height: 430px;
            background: white;
            border-radius: 2px;
            margin-left: 1.2%;

        }

        .tips-block-title {
            padding-left: 14px;
            font-size: 21px;
            font-weight: bold;
            border-bottom: 1px solid #f6f6f6;
            color: #333;
            border-radius: 2px 2px 0 0;
            line-height: 42px;
            height: 42px;
            display: flex;
            padding-right: 20px;
            justify-content: space-between
        }

        .tips-block-all-data {
            font-size: 14px;
            /* border-bottom: 1px solid #f6f6f6; */
            color: #333;
            border-radius: 2px 2px 0 0;
            line-height: 42px;
            height: 42px;
            display: flex;
            justify-content: space-between
        }

        .layui-icon-flag:before {
            content: "\e66c";
        }


        .time-frequency {
            border-radius: 2px;
            padding: 0px 6px;
            top: 50%;
            margin-top: 12px;
            height: 21px;
            line-height: 21px;
            font-size: 13px;
            color: white;

        }

        .day {
            background-color: #FFB800;
        }

        .week {
            background-color: #1E9FFF;
        }

        .month {
            background-color: #2F4056;
        }

        .tips-block-datadisplay {
            padding: 12px
        }

        .now-data {
            font-size: 36px;
            color: #666;
            line-height: 36px;
            padding: 5px 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }

        .task-list {
            overflow: auto;
            word-break: break-all;
            padding: 16px;
            font-size: 20px;
            height: 350px
        }

        .task-list div {
            margin-bottom: 8px;
            font-size: 18px
        }

        .index-body {
            display: flex;
            justify-content: flex-start;
            margin-left: 1%;
        }

        .data-chart {
            width: 47%;
            background: white;
            height: 430px;
        }

        .chart-title {
            padding-left: 10px;
            border-bottom: 1px #f6f6f6 solid;
            line-height: 40px;
            height: 40px;
            font-size: 16px
        }
    </style>
{% endblock %}

{% block content %}
    <div class="layui-body" id="LAY_app_body" style="top:7%">
        <div class="tips">
            <div class="tips-block">
                <div class="tips-block-title">
                    <div>Page View</div>
                    <div class="time-frequency day">day</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data">116</div>
                    <div class="tips-block-all-data">
                        <div>Total Page View</div>
                        <div>58,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>
            <div class="tips-block">
                <div class="tips-block-title">
                    <div>Upload Volume</div>
                    <div class="time-frequency week">week</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data">886</div>
                    <div class="tips-block-all-data">
                        <div>Total files uploaded</div>
                        <div>25,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>

            <div class="tips-block">
                <div class="tips-block-title">
                    <div>Download Volume</div>
                    <div class="time-frequency month">month</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data">2,317</div>
                    <div class="tips-block-all-data">
                        <div>Total file downloads</div>
                        <div>31,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>

            <div class="tips-block">
                <div class="tips-block-title">
                    <div>Task Quantity</div>
                    <div class="time-frequency" style="background-color: #009688">week</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data">16</div>
                    <div class="tips-block-all-data">
                        <div>Total tasks completed</div>S
                        <div>1,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="index-body">
            <div class="data-chart">
                <div class="chart-title" style="font-weight:bold;font-size: 21px;color: #333;">Tendency</div>
                <div style="display: flex;justify-content: flex-start;;">
                    <div id="main" style="width: 96%;height:400px;margin-left: 2%"></div>

                </div>
            </div>
            <div style="width: 22.8%;margin-left: 1.2%;background: white;">
                <div id="main2" style="width: 82%;height:400px;padding-left: 9%;margin-top: 20px;"></div>
            </div>

            <div class="schedule">
                <div class="tips-block-title" style="font-size: 19px;font-weight: bold">
                    <div>Pending task</div>
                    <div class="time-frequency week">week</div>
                </div>
                <div class="task-list">
                    <div>1. EPG_GA Lavida NF oil pump noise <br/>Analysis.</div>
                    <div>2. KW41 Lavida NF Klima Noise Analysis.</div>

                </div>
            </div>
        </div>

        <div class="layui-form">
            <table class="layui-table" style="background: white;width: 94.2%;margin-left: 1%">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>Vehicle Number</th>
                    <th>Production Stage</th>
                    <th>Test Condition</th>
                    <th>File Name</th>
                    <th>Else</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>A8N-206</td>
                    <td>PT</td>
                    <td>(N)100 km/h</td>
                    <td>2019-06-05_A8N-206 OCTAVIA a8 hinten boden without daempfung NEW N 100 run13.hdf</td>
                    <td>CKD</td>
                </tr>
                <tr>
                    <td>A8N-206</td>
                    <td>PT</td>
                    <td>(N)100 km/h</td>
                    <td>2019-06-05_A8N-206 OCTAVIA a8 hinten boden without daempfung NEW N 100 run11.hdf</td>
                    <td></td>
                </tr>
                <tr>
                    <td>H07-316</td>
                    <td>VFF</td>
                    <td>(N) Stuckern 40-80</td>
                    <td>2019-03-22_Polo 316 CKD GL stuckern run08.hdf</td>
                    <td>CKD</td>
                </tr>
                <tr>
                    <td>H07-316</td>
                    <td>VFF</td>
                    <td>(N) Stuckern 40-80</td>
                    <td>2019-03-22_Polo 316 Jianxin LC GL stuckern run06.hdf</td>
                    <td>JIANXIN LC GL</td>
                </tr>
                <tr>
                    <td>H07-316</td>
                    <td>VFF</td>
                    <td>(Squar) SS</td>
                    <td>2019-03-22_Polo 316 Jianxin LC GL SS run04.hdf</td>
                    <td>JIANXIN LC GL</td>
                </tr>
                <tr>
                    <td>H07-316</td>
                    <td>VFF</td>
                    <td>(N) Stuckern 40-80</td>
                    <td>2019-03-22_Polo 316 CKD GL stuckern run08.hdf</td>
                    <td>CKD</td>
                </tr>
                <tr>
                    <td>H07-316</td>
                    <td>VFF</td>
                    <td>(N) Stuckern 40-80</td>
                    <td>2019-03-22_Polo 316 Jianxin LC GL stuckern run06.hdf</td>
                    <td>JIANXIN LC GL</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="../../../epgn_front_end/layui/layui.js"></script>
    <script src="../../../epgn_front_end/js/echart.js"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                , url: '/demo/table/user/'
                , cols: [[
                    {type: 'checkbox'}
                    , {field: 'id', width: 80, title: 'ID', sort: true}
                    , {field: 'username', width: 80, title: '用户名'}
                    , {field: 'sex', width: 80, title: '性别', sort: true}
                    , {field: 'city', width: 80, title: '城市'}
                    , {field: 'sign', title: '签名', minWidth: 100}
                    , {field: 'experience', width: 80, title: '积分', sort: true}
                    , {field: 'score', width: 80, title: '评分', sort: true}
                    , {field: 'classify', width: 80, title: '职业'}
                    , {field: 'wealth', width: 135, title: '财富', sort: true}
                ]]
                , page: true
            });
        });


        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: ''
            },
            tooltip: {},
            legend: {
                data: ['Upload data volume', 'Download data volume'],
                "textStyle": {
                    "fontSize": 15
                }
            },
            xAxis: {
                data: ["KW_30", "KW_31", "KW_32", "KW_33", "KW_34", "KW_35", "KW_36", "KW_37", "KW_38", "KW_39", "KW_40", "KW_41"]
            },
            yAxis: {},
            series: [{
                name: 'Upload data volume',
                type: 'line',
                data: [15, 23, 36, 13, 10, 20, 11, 22, 28, 21, 32, 28]
            },
                {
                    name: 'Download data volume',
                    type: 'line',
                    data: [25, 10, 21, 17, 7, 24, 31, 26, 22, 17, 23, 21]
                }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


        var myChart2 = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option2 = {
            title: {
                text: ''
            },
            tooltip: {
                "trigger": "item",
                "formatter": "{a} <br\/>{b} : {c}%",
                "textStyle": {
                    "fontSize": 20
                }
            },
            legend: {
                data: ['Vehicle Data Ratio'],
                "textStyle": {
                    "fontSize": 17
                }
            },

            series: [{
                name: 'Vehicle Data Ratio',
                type: 'pie',
                avoidLabelOverlap: true,
                minAngle: 5,
                data: [
                    {value: 28, name: 'BMPV'},
                    {value: 10, name: 'Octavia A8'},
                    {value: 37, name: 'Lamando NF'},
                    {value: 25, name: 'BSUV'}],
                "label": {
                    "normal": {
                        "show": true,
                        "textStyle": {
                            "fontSize": 14
                        }
                    },
                    "emphasis": {
                        "show": true
                    }
                },

            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);
        layui.config({
            base: '../../../epgn_front_end/home/' //静态资源所在路径
        }).use('index', function () {
            var layer = layui.layer,
                admin = layui.admin,
                element = layui.element;
        });
    </script>
{% endblock %}