{% extends 'base.html' %}

{% block title %}EPGN-index{% endblock %}

{% block link %}
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/admin.css" media="all">
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/modules/layer/default/layer.css">
{% endblock %}

{% block content %}
    <div class="layui-fluid" style="padding:15px">
        <h3>username</h3>
        <h3>123123123</h3>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        layui.config({
            base: '../../../epgn_front_end/home/' //静态资源所在路径
        }).use('index', function () {
            var layer = layui.layer,
                admin = layui.admin,
                element = layui.element;
        });
    </script>
    <script>
        $('dl.layui-nav-child>dd').click(function () {
            alert("当前的点击事件")
        });
    </script>
{% endblock %}
