{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
{% endblock %}

{% block content %}
    <div class="layui-fluid" id="layui-fluid" style="padding:15px">
        <h3>[[ job_number ]]</h3>
        <h3>[[ username ]]</h3>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        layui.config({
            base: '{% static '/home/' %}' //静态资源所在路径
        }).use('index', function () {
            var layer = layui.layer,
                admin = layui.admin,
                element = layui.element;
        });
    </script>

    <!-- 绑定用户信息 -->
    <!--<script>
    var vm = new Vue({
        el: "#layui-fluid",
        // el: "#LAY_app",
        delimiters: ['[[', ']]'],
        data: {
            user_id: sessionStorage.user_id || localStorage.user_id,
            token: sessionStorage.token || localStorage.token,
            username: '',
            job_number: '',
        },
        mounted: function () {
            // 判断用户的登录状态
            if (this.user_id && this.token) {
                axios.get('/user/', {
                    // 向后端传递JWT token的方法
                    headers: {
                        'Authorization': 'JWT ' + this.token
                    },
                    responseType: 'json',
                    withCredentials: true
                })
                    .then(response => {
                        // 加载用户数据
                        this.user_id = response.data.id;
                        this.job_number = response.data.job_number;
                        this.username = response.data.username;
                    })
                    .catch(error => {
                        if (error.response.status == 401 || error.response.status == 403) {
                            location.href = '../../../epgn_front_end/login_2.html';
                        }
                    });
            } else {
                location.href = '../../../epgn_front_end/login_2.html';
            }
        },
        methods: {
            // 登录
            login: function () {
                location.href = '../../../epgn_front_end/login_2.html';
            },
            // 退出
            logout: function () {
                sessionStorage.clear();
                localStorage.clear();
                location.href = '../../../epgn_front_end/login_2.html';
            },
        }
    })
</script>-->

{% endblock %}
