<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>EPGN login</title>
    <link rel="stylesheet" type="text/css" href="../../../epgn_front_end/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../epgn_front_end/css/main.css">
    <script type="text/javascript" src="../../../epgn_front_end/js/hosts.js"></script>
    <script type="text/javascript" src="../../../epgn_front_end/js/vue_2.6.10.js"></script>
    <script type="text/javascript" src="../../../epgn_front_end/js/axios-0.18.0.min.js"></script>
</head>
<body>
    <div class="login_top clearfix">
        <a href="index.html" class="login_logo"><img src="../../../epgn_front_end/image/dazhong.png"></a>
    </div>
    <div class="login_form_bg" id='app'>
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <a href="javascript:;" class="cur">账户登录</a>
                </div>
                <div class="form_con">
                    <div class="form_input cur">
                        <form id="login-form" @submit.prevent="on_submit">
                            <input type="text" v-model="username" @blur="check_username" name="" class="name_input" placeholder="请输入用户名或手机号">
                            <div v-show="error_username" class="user_error" v-cloak>请填写用户名或手机号</div>
                            <input type="password" v-model="password" @blur="check_pwd" name="pwd" class="pass_input" placeholder="请输入密码">
                            <div v-show="error_pwd" class="pwd_error" v-cloak>{{ error_pwd_message }}</div>

                            <div class="more_input clearfix">
                                <input type="checkbox" v-model="remember">
                                <label>记住登录</label>
                                <a href="/find_password.html">忘记密码</a>
                            </div>
                            <input type="submit" name="" value="登 录" class="input_submit">
                        </form>
                    </div>
                </div>
                <div class="third_party">
                    <a @click="qq_login" class="qq_login">QQ</a>
                    <a href="#" class="weixin_login">微信</a>
                    <a href="register.html" class="register_btn">立即注册</a>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../../epgn_front_end/js/login.js"></script>
</body>
</html>