{% extends 'base.html' %}

{% block title %}UPLOAD{% endblock %}

{% block link %}
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/admin.css" media="all">
    <script type="text/javascript" src="../../../epgn_front_end/js/vue_2.6.10.js"></script>
    <script type="text/javascript" src="../../../epgn_front_end/js/axios-0.18.0.min.js"></script>
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/modules/layer/default/layer.css">
{% endblock %}

{% block content %}
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header" style="margin-top: 20px">
                        <blockquote class="layui-elem-quote">
                            使用手册: 请查看
                            <a href="/word/" style="color: #36da96;">EPGN_INFO使用文档</a>
                        </blockquote>
                    </div>

                    <div class="layui-card-body">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>试验信息表</legend>
                        </fieldset>

                        <!-- 第一行表单数据 -->
                        <div>
                            <!-- 车型 -->
                            <div class="layui-form layui-form-item layui-input-inline">
                                <label class="layui-form-label">车型</label>
                                <div class="layui-input-inline">
                                    <select name="car_model" lay-verify="required" id="car_model" 　lay-search="">
                                        <option value="">直接选择或搜索选择</option>
                                        <option v-for="car_model in car_models" 　v-bind:value=car_model.id>[[
                                            car_model.name ]]
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- 生产阶段 -->
                            <div class="layui-form layui-form-item layui-input-inline">
                                <label class="layui-form-label">生产阶段</label>
                                <div class="layui-input-inline">
                                    <select name="produce" lay-verify="required" id="produce" lay-search="">
                                        <option value="">直接选择或搜索选择</option>
                                        <option value="AGT">AGT</option>
                                        <option value="PT">PT</option>
                                        <option value="VFF">VFF</option>
                                        <option value="PVS">PVS</option>
                                        <option value="OS">OS</option>
                                        <option value="SOP">SOP</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 车号 -->
                            <div class="layui-form-item layui-input-inline">
                                <label class="layui-form-label">车号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="car_num" id="car_num" lay-verify="required"
                                           placeholder="请输入车号..." autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <!-- 动力总成 功率 -->
                            <div class="layui-form-item layui-input-inline" id="propulsion_power">
                                <label class="layui-form-label">动力总成</label>
                                <div class="layui-input-inline">
                                    <select class="layui-input-inline" v-model="form_power.propulsion_id"
                                            id="propulsion"
                                            lay-verify="required"
                                            style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                        <option disabled value="">请选择</option>
                                        <option v-for="propulsion in propulsions" v-bind:value=propulsion.id>[[
                                            propulsion.num ]]
                                        </option>
                                    </select>
                                </div>
                                <label class="layui-form-label">功率</label>
                                <div class="layui-input-inline">
                                    <select class="layui-input-inline" v-model="form_power.power_id" id="power"
                                            lay-verify="required"
                                            style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                        <option disabled value="">请选择</option>
                                        <option v-for="power in powers" v-bind:value=power.id>[[ power.num ]]</option>
                                    </select>
                                </div>


                            </div>
                        </div>

                        <!-- 第二行表单数据 -->
                        <div class="layui-form-item layui-input-inline" id="direction_parts">
                            <!-- 专业方向 -->
                            <label class="layui-form-label">专业方向</label>
                            <div class="layui-input-inline">
                                <select class="layui-input-inline" v-model="form_data.direction_id" id="direction"
                                        lay-verify="required"
                                        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                    <option value="">请选择</option>
                                    <option v-for="direction in directions" v-bind:value=direction.id>[[ direction.name
                                        ]]
                                    </option>
                                </select>
                            </div>

                            <!-- 零部件 -->
                            <label class="layui-form-label">测试项目</label>
                            <div class="layui-input-inline">
                                <select class="layui-input-inline" lay-verify="required" v-model="form_data.parts_id"
                                        id="part"
                                        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                    <option value="">请选择</option>
                                    <option v-for="part in parts" v-bind:value=part.id>[[ part.name ]]</option>
                                </select>
                            </div>

                            <!-- 工况 -->
                            <label class="layui-form-label">工况</label>
                            <div class="layui-input-inline">
                                <select class="layui-input-inline" lay-verify="required" v-model="form_data.working_id"
                                        id="status"
                                        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                    <option value="">请选择</option>
                                    <option v-for="working in workings" v-bind:value=working.id>[[ working.name ]]
                                    </option>
                                </select>
                            </div>
                            <div class="layui-inline" style="margin-right:0px">
                                <label class="layui-form-label">其他</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="other_need" id="other_need" placeholder="特殊需求"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <!-- 第三行表单数据 -->
                        <div class="layui-form layui-form-item" lay-filter="example">
                            <!-- 日期选择 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">试验时间</label>
                                <div class="layui-input-inline">
                                    <input name="date_hash" id="date_hash" lay-verify="date_hash"
                                           placeholder="请选择试验日期..."
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <!-- 作者名 -->
                            <div class="layui-inline" style="margin-right:0px">
                                <label class="layui-form-label">作者名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="author" id="author" lay-verify="username"
                                           placeholder="请输入作者名..." autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <!-- 车号 -->
                            <div class="layui-inline" style="margin-right:0px">
                                <label class="layui-form-label" style="width: 50px">KW</label>
                                <div style="width: 100px" class="layui-input-inline">
                                    <input id="kv" type="text" placeholder="汇报" autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label" style="width: 50px">EPG_GA</label>
                                <div style="width: 100px" class="layui-input-inline">
                                    <input id="EPG" type="text" placeholder="报告" autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label" style="width: 50px">其他</label>
                                <div style="width: 100px" class="layui-input-inline">
                                    <input id="other" type="text" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">这里是选择上传的什么文件(KV_EPG_其他_)
                                </div>
                            </div>

                        </div>


                        <!-- 文件上传 -->
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>文件上传</legend>
                        </fieldset>

                        <div class="layui-upload">
                            <div class="layui-upload-list">
                                <table class="layui-table">
                                    <thead>
                                    <tr>
                                        <th>文件名</th>
                                        <th>大小</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="demoList"></tbody>
                                </table>
                            </div>
                            <div style="text-align: center">
                                <button type="button" name="filename" class="layui-btn layui-btn-normal"
                                        id="testList">选择文件
                                </button>
                                <button type="submit" class="layui-btn" id="testListAction">开始上传</button>
                                <button type="button" class="layui-btn  layui-btn-disabled"
                                        style="margin-left: 0px">分析计算
                                </button>
                                <!-- <script>
                                                    $("#math").click(function () {
                                                        layer.msg('玩命提示中');
                                                    })
                                                </script> -->
                            </div>
                            <div style="text-align: center; margin-top: 10px" class="layui-form-mid layui-word-aux">
                                要在上传的同时提交表单数据
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        layui.config({
            base: './home/' //静态资源所在路径
        }).use('index', function () {
            var form = layui.form,
                flayer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                upload = layui.upload;
        });
    </script>

    <!-- 使用layui框架 -->
    <script>
        var filenameArray = [];
        layui.use(['upload', 'form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form,
                flayer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                upload = layui.upload;

            form.render();

            // 这里绑定分析计算的点击事件
            $("#math").click(function () {
                // layer.msg('后期这里会做成数据计算的超链接');
                layer.confirm('后期这里会做成数据计算的超链', {
                    btn: ['OK', 'NO'] //按钮
                }, function () {
                    layer.msg("好嘞", {
                        icon: 1
                    });
                }, function () {
                    layer.msg('那你想做成什么呢,跟我说说吧!', {
                        time: 20000, //20s后自动关闭
                        btn: ['明白了', '知道了']
                    });
                });
            })

            //日期
            laydate.render({
                elem: '#date_hash',
            });

            // 表单中所有信息必须都填写
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                },
            });

            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                return false;
            });

            //表单初始赋值
            form.val('example', {
                "date_hash": date_hash, // "name": "value"
                // "author": "username",
            });

            //多文件上传列表
            // var file_name = "文件名";
            var demoListView = $('#demoList'),
                uploadListIns = upload.render({
                    title: '上传文件： ',
                    elem: '#testList',
                    url: '/upload/',
                    accept: 'file',
                    multiple: true,
                    headers: {
                        "Authorization": "JWT " + sessionStorage.token  // user_id = sessionStorage.user_id
                    },
                    auto: false,
                    bindAction: '#testListAction',
                    exts: 'asc|hdf',
                    data: {
                        car_model: function () {
                            return $("#car_model").val()
                        },
                        produce: function () {
                            return $("#produce").val()
                        },
                        direction: function () {
                            return $("#direction").val()
                        },
                        parts: function () {
                            return $('#part').val()
                        },
                        status: function () {
                            return $("#status").val()
                        },
                        author: function () {
                            return $('#author').val()
                        },
                        car_num: function () {
                            return $('#car_num').val()
                        },
                        propulsion: function () {
                            return $('#propulsion').val()
                        },
                        power: function () {
                            return $('#power').val()
                        },
                        date_hash: function () {
                            return $("#date_hash").val()
                        },
                        kv: function () {
                            return $("#kv").val()
                        },
                        EPG: function () {
                            return $("#EPG").val()
                        },
                        other: function () {
                            return $("#other").val()
                        },
                        other_need: function () {
                            return $("#other_need").val()
                        },
                        // filename: function () {
                        //     return filename // 选择文件后, 用filename接受上传的文件名, 在这里直接上传获取到的文件名就可以了
                        // }
                    },
                    choose: function (obj) {
                        var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                        //读取本地文件
                        obj.preview(function (index, file, result) {
                            filename = file.name; // 在这里获取的是单个文件名, 但是在外面就拿不到所有的文件名了
                            // alert(filename + "准备上传");
                            var tr = $(['<tr id="upload-' + index + '">',
                                '<td id="file_name">' + file.name + '</td>',
                                '<td>' + (file.size / 1024 / 1024).toFixed(
                                    1) +
                                'MB</td>',
                                '<td>等待上传</td>', '<td>',
                                '<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>',
                                '<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>',
                                '</td>', '</tr>'
                            ].join(''));

                            //单个重传
                            tr.find('.demo-reload').on('click', function () {
                                obj.upload(index, file);
                            });

                            //删除
                            tr.find('.demo-delete').on('click', function () {
                                delete files[index]; //删除对应的文件
                                tr.remove();
                                uploadListIns.config.elem.next()[0].value =
                                    ''; //清空 input file 值，以免删除后出现同名文件不可选
                            });

                            demoListView.append(tr);
                        });
                    },
                    done: function (res, index, upload) {
                        if (res.code == 0) { //上传成功
                            filenameArray.push({'oldname': res.data.file_old_name, 'newname': res.data.file_new_name});
                            console.log(filenameArray);
                            var tr = demoListView.find('tr#upload-' + index),
                                tds = tr.children();
                            tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                            tds.eq(3).html(''); //清空操作
                            // tds.eq(3).html(
                            //     '<button id="cancel" class="layui-btn layui-btn-mini layui-btn-normal demo-reload" onclick="cancel()">撤销</button>'
                            // );
                            return delete this.files[index]; //删除文件队列已经上传成功的文件
                            //     $("#cancel").click(function(){
                            //     alert("判断点击事件")
                            // })
                        }
                        ;

                        this.error(res, index, upload);
                    },
                    error: function (res, index, upload) {
                        var tr = demoListView.find('tr#upload-' + index),
                            tds = tr.children();
                        tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                        tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                        layer.msg(res.data["info"], {
                            time: 1000, // 5s后自动关闭
                            // btn: ['OK']
                        });
                    },
                });

        });
    </script>

    <!-- 这里是选择位置发送的ajax请求 -->
    <!-- 后台返回车型 -->
    <script>
        var vm = new Vue({
            el: "#car_model",
            delimiters: ['[[', ']]'],
            data: {
                car_models: [],
            },
            mounted: function () {
                axios.get('/car_model/', {
                    responseType: 'json'
                })
                    .then(response => {
                        this.car_models = response.data;
                    })
                    .catch(error => {
                        // alert(error.response.data);
                        alert("这里是发送车型的请求")
                    })
            }
        })
    </script>

    <!-- 后台返回动力总成+功率 -->
    <script>
        var vm = new Vue({
            el: '#propulsion_power',
            delimiters: ['[[', ']]'],
            data: {
                propulsions: [],
                powers: [],
                form_power: {
                    propulsion_id: '',
                    power_id: '',
                },
            },
            mounted: function () {
                axios.get(
                    '/propulsionpower_num/', {
                        responseType: 'json'
                    })
                    .then(response => {
                        this.propulsions = response
                            .data; // 这里把返回的数据赋值给propulsion
                        // alert(response.data[1]["num"])
                    })
                    .catch(error => {
                        alert(error.response.data);
                    });
            },
            watch: {
                // 在第一次加载页面的时候, form_power.propulsion会发生变化
                'form_power.propulsion_id': function () {
                    if (this.form_power.propulsion_id) {
                        axios.get(
                            '/propulsionpower_num/' +
                            this.form_power.propulsion_id +
                            '/', {
                                responseType: 'json'
                            })
                            .then(response => {
                                this.powers = response.data
                                    .subs;
                            })
                            .catch(error => {
                                console.log(error.response
                                    .data);
                                this.powers = [];
                            });
                    }
                },
            },
            // updated: function () {
            //     layui.use(['form'], function () {
            //         layui.form.render('select');
            //     })
            // }
            // updated: function () {
            //     this.$nextTick(function () {
            //         layui.use(['form'], function () {
            //             if (self.customer.countyInfo != null) {
            //                 $("#power").val(this.form_power.power_id);
            //             } else {
            //                 $("#power").val("");
            //             }
            //             layui.form.render('select')
            //         });
            //     });
            // }
        })
    </script>

    <!-- 后台返回专业方向-零部件-工况 -->
    <script>
        var vm = new Vue({
            el: '#direction_parts',
            delimiters: ['[[', ']]'],
            data: {
                directions: [],
                parts: [],
                workings: [],
                form_data: {
                    direction_id: '',
                    parts_id: '',
                    working_id: '',
                },
            },
            mounted: function () {
                axios.get(
                    // 页面加载的时候就发送婆娘个ajax请求
                    '/direction_num/', {
                        responseType: 'json'
                    })
                    .then(response => {
                        this.directions = response.data; // 这里把返回的数据赋值给propulsion
                    })
                    .catch(error => {
                        alert(error.response.data);
                    });
            },
            watch: {
                // 监听到direction_id发生变化时,根据选择的direction_id 发送ajax请求
                'form_data.direction_id': function () {
                    if (this.form_data.direction_id) {
                        axios.get(
                            '/direction_num/' + this.form_data.direction_id +
                            '/', {
                                responseType: 'json'
                            })
                            .then(response => {
                                this.parts = response.data.subs;
                                this.workings = [];
                            })
                            .catch(error => {
                                alert(error.response.data);
                                this.parts = [];
                                this.workings = []
                            });
                    }
                },
                // 监听到parts_id 发生变化时,根据选择的parts_id 发送ajax请求
                'form_data.parts_id': function () {
                    if (this.form_data.parts_id) {
                        axios.get(
                            '/direction_num/' + this.form_data.parts_id + '/', {
                                responseType: 'json'
                            })
                            .then(response => {
                                this.workings = response.data.subs;
                            })
                            .catch(error => {
                                alert(error.response.data);
                                this.workings = [];
                            });
                    }
                },
            },
            // updated: function () {
            //     layui.use(['form'], function () {
            //         layui.form.render('select');
            //     })
            // }
        })
    </script>

    <!-- 撤销的点击事件 -->
    <script>


        // $("#cancel").parent().siblings()[0].innerHTML
        // $("#cancel").parent().parent().siblings()
        // $("#demoList").children()
        function cancel() {
            var oUl = document.getElementById('demoList);
            var Lis = oUl.getElementsByTagName('button');
            for (var i = 0; i < Lis.length; i++) {
                Lis[i].index = i;
                Lis[i].onclick = function () {
                    alert(i)
                }
            }


            var fileName2019 = $(this).parent().siblings();
            console.log($(this));
            // console.log($(this).html());
            console.log(fileName2019);
            $.ajax({
                url: '/cancel/',
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                async: true,//异步请求
                cache: false,
                data: JSON.stringify({'filename': fileName}),

                //执行成功的回调函数
                success: function (data) {
                    layer.msg(data.info)
                },
                //执行失败或错误的回调函数
                error: function (data) {
                    layer.msg("执行撤销失败, 请联系超管!");
                }
            });
        }

        $("#cancel").click(function () {
            $.ajax({
                url: '/cancel/',
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                async: true,//异步请求
                cache: false,
                data: $('#file_name').val(),
                //执行成功的回调函数
                success: function (data) {
                    layer.msg(data.info)
                },
                //执行失败或错误的回调函数
                error: function (data) {
                    layer.msg("执行撤销失败, 请联系超管!");
                }
            });
        })
    </script>

{% endblock %}