<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EPGN-index</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/admin.css" media="all">
    <link rel="stylesheet" href="../../../epgn_front_end/layui/css/modules/layer/default/layer.css">
</head>

<body class="layui-layout-body" layadmin-themealias="default">
    <div id="LAY_app" class="">
        <div class="layui-layout layui-layout-admin">

            <!-- 头部区域 -->
            <div class="layui-header">

                <!-- 左侧 -->
                <ul class="layui-nav layui-layout-left">

                    <!-- 侧边栏 -->
                    <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                        <a href="javascript:;" layadmin-event="flexible" title="侧边栏">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>

                    <!-- 超链接 -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="http://www.baidu.com" target="_blank" title="超链接">
                            <i class="layui-icon layui-icon-website"></i>
                        </a>
                    </li>

                    <!-- 刷新 -->
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>

                    <!-- 搜索框 -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
                            layadmin-event="serach" lay-action="template/search.html?keywords=">
                    </li>

                    <!-- 随着鼠标动的那条线 -->
                    <span class="layui-nav-bar" style="left: 38px; top: 48px; width: 0px; opacity: 0;"></span>

                </ul>

                <!-- 右侧 -->
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                    <!-- 可以做超链接获取iframe页面 -->
                    <li class="layui-nav-item" lay-unselect="">
                        <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                            <i class="layui-icon layui-icon-notice"></i>
                            <!-- 如果有新消息，则显示小圆点 -->
                        </a>
                    </li>

                    <!-- 右侧弹出 -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="javascript:;" layadmin-event="theme">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>

                    <!-- 笔记本 -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="javascript:;" layadmin-event="note">
                            <i class="layui-icon layui-icon-note"></i>
                        </a>
                    </li>

                    <!-- 全屏 -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="javascript:;" layadmin-event="fullscreen">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>

                    <!-- 用户信息 -->
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;">
                            <cite>贤心</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                            <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                            <hr>
                            <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                        </dl>
                    </li>

                    <!-- 右侧弹出 -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="javascript:;" layadmin-event="about">
                            <i class="layui-icon layui-icon-more-vertical"></i>
                        </a>
                    </li>

                    <!-- 这是什么 -->
                    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect="">
                        <a href="javascript:;" layadmin-event="more">
                            <i class="layui-icon layui-icon-more-vertical"></i>
                        </a>
                    </li>
                    <span class="layui-nav-bar" style="left: 28px; top: 48px; width: 0px; opacity: 0;"></span>
                </ul>

                <hr class="layui-bg-g" style="margin-top: 2.6%">

            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo">
                        <a href="../../../epgn_front_end/index.html">
                            <span>EPGN INFO 2.0</span>
                        </a>
                    </div>

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                        lay-filter="layadmin-system-side-menu">
                        <li data-name="get" class="layui-nav-item layui-this">
                            <a href="../../../epgn_front_end/index.html" lay-tips="主页" lay-direction="2">
                                <i class="layui-icon layui-icon-home"></i>
                                <cite>主页</cite>
                            </a>
                        </li>
                        <li data-name="get" class="layui-nav-item">
                            <a href="../../../epgn_front_end/upload.html" lay-tips="上传" lay-direction="2">
                                <i class="layui-icon layui-icon-upload-circle"></i>
                                <cite>上传</cite>
                            </a>
                        </li>
                        <li data-name="home" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="检索" lay-direction="2">
                                <i class="layui-icon layui-icon-search"></i>
                                <cite>检索</cite>
                                <span class="layui-nav-more"></span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/mqb27.html">MQB 27</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/mqb37.html">MQB 37</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/mqb37a.html">MQB 37A</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/mqb37w.html">MQB 37W</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/mqb41b.html">MQB 41B</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/mqb48.html">MQB 48</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/meb.html">MEB</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/mlb.html">MLB</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/pq25.html">PQ 25</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/pq34.html">PQ 34</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/pq34l.html">PQ 34L</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="../../../epgn_front_end/pq35.html">PQ 35</a>
                                </dd>
                                </dd>

                            </dl>
                        </li>
                        <li data-name="get" class="layui-nav-item">
                            <a href="../../../epgn_front_end/calculate.html" lay-tips="算法" lay-direction="2">
                                <i class="layui-icon layui-icon-chart"></i>
                                <cite>算法</cite>
                            </a>
                        </li>
                        <li data-name="get" class="layui-nav-item">
                            <a href="../../../epgn_front_end/search.html" lay-tips="高级搜索" lay-direction="2">
                                <i class="layui-icon layui-icon-auz"></i>
                                <cite>高级搜索</cite>
                            </a>
                        </li>
                        <span class="layui-nav-bar" style="top: 308px; height: 0px; opacity: 0;"></span>
                    </ul>
                </div>
            </div>

            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <div class="layui-card layadmin-header">
                        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                            <a lay-href="">主页</a><span lay-separator="">/</span>
                            <a><cite>设置</cite></a><span lay-separator="">/</span>
                            <a><cite>我的资料</cite></a>
                        </div>
                    </div>
                    <div class="layui-fluid">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">设置我的资料</div>
                                    <div class="layui-card-body" pad15="">

                                        <div class="layui-form" lay-filter="">
                                            <!-- 用户名 -->
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">用户啊名</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="username" value="xianxin" readonly=""
                                                        class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
                                            </div>
                                            <!-- 昵称 -->
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">昵称</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="nickname" value="贤心" lay-verify="nickname"
                                                        autocomplete="off" placeholder="请输入昵称" class="layui-input">
                                                </div>
                                            </div>


                                            <div class="layui-form" lay-filter="">
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">当前密码</label>
                                                    <div class="layui-input-inline">
                                                        <input type="password" name="oldPassword" lay-verify="required"
                                                            lay-vertype="tips" class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">新密码</label>
                                                    <div class="layui-input-inline">
                                                        <input type="password" name="password" lay-verify="pass"
                                                            lay-vertype="tips" autocomplete="off" id="LAY_password"
                                                            class="layui-input">
                                                    </div>
                                                    <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">确认新密码</label>
                                                    <div class="layui-input-inline">
                                                        <input type="password" name="repassword" lay-verify="repass"
                                                            lay-vertype="tips" autocomplete="off" class="layui-input">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="layui-form-item layui-form-text">
                                            <label class="layui-form-label">备注</label>
                                            <div class="layui-input-block">
                                                <textarea name="remarks" placeholder="请输入内容"
                                                    class="layui-textarea"></textarea>
                                            </div>
                                        </div> -->
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit=""
                                                    lay-filter="setmyinfo">确认修改</button>
                                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    layui.use('set', layui.factory('set'));
                </script>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
    </div>

    <script src="../../../epgn_front_end/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../../epgn_front_end/home/' //静态资源所在路径
        }).use('index', function () {
            var layer = layui.layer,
                admin = layui.admin,
                element = layui.element;
        });
    </script>
    <script>
        $('dl.layui-nav-child>dd').click(function () {
            alert("当前的点击事件")
        });
    </script>

    <div class="layui-layer-move"></div>
</body>

</html>

<!-- 专业方向 -->
<label class="layui-form-label">专业方向</label>
<div class="layui-input-inline">
    <select class="layui-input-inline" v-model="form_data.direction_id"
        id="direction" lay-verify="required"
        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
        <option value="">请选择</option>
        <option v-for="direction in directions" v-bind:value="direction.id">
            {{ direction.name }}</option>
    </select>
</div>

<!-- 零部件 -->
<label class="layui-form-label">测试项目</label>
<div class="layui-input-inline">
    <select class="layui-input-inline" lay-verify="required"
        v-model="form_data.parts_id" id="part"
        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
        <option value="">请选择</option>
        <option v-for="part in parts" v-bind:value="part.id">{{ part.name }}
        </option>
    </select>
</div>

<!-- 工况 -->
<label class="layui-form-label">工况</label>
<div class="layui-input-inline">
    <select class="layui-input-inline" lay-verify="required"
        v-model="form_data.working_id" id="status"
        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
        <option value="">请选择</option>
        <option v-for="working in workings" v-bind:value="working.id">
            {{ working.name }}</option>
    </select>
</div>
<div class="layui-inline" style="margin-right:0px">
    <label class="layui-form-label">其他</label>
    <div class="layui-input-inline">
        <input type="text" name="other_need" id="other_need" placeholder="特殊需求"
            autocomplete="off" class="layui-input">
    </div>
</div>