<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细信息</title>
    <link rel="stylesheet" href="{% static 'ele/index.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <style>
        #app {
            margin-top: 10px;
        }
        #detail_content {
            display: flex;
        }
        #content1 {
            width: 30%;
            padding-right: 5%;
            line-height: 45px;
            padding-left: 2%;
            font-size: 19px;
        }
        #content1 div {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5px;
            margin-right: 10px;

        }
        #content1 div div{
            width: 50%;
        }

        #content1 div:nth-child(2) {
            display: flex;
            justify-content: center;
        }

        #download-content {
            display: flex;
            justify-content: space-between;
            width: 65%;
            margin-left: 15%;
            line-height: 50px;
            font-size: 20px;
        }
        #download-left{
            width: 50%;
        }
        #download-right{
            width: 50%;
        }
        #download-left div {
            display: flex;
            margin-bottom: 10px;
        }

        #download-left div div{
            width: 50%;
            text-align: center;
        }
        #download-right {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
<div style="display: flex">
    <div style="width: 12%;border-top: 1px solid black;margin-top: 30px"></div>
    <div style="line-height:60px;width: 240px;text-align: center;font-size: 24px">声学抱怨信息表</div>
    <div style="width: 100%;border-top: 1px solid black;margin-top: 30px"></div>
</div>

<div id="app">
    <div id="detail_content">
        <div id="content1">
            <div>
                <div>抱怨来源：</div>
                <div>bodyboom</div>
            </div>
            <div>
                <div style="width: 50%">抱怨频率：</div>
                <div>60HZ</div>
            </div>
            <div>
                <div>关键零件或因素：</div>
                <div></div>
            </div>
            <div>
                <div>措施：</div>
                <div></div>
            </div>
            <div>
                <div>工况：</div>
                <div></div>
            </div>
        </div>
        <div id="content2" style="display: flex;margin-left: 15%;font-size: 19px">
                <div>抱怨特征图：</div>
                <div><img src="demo.png"></div>
        </div>
    </div>


</div>

<div style="display: flex">
    <div style="width: 12%;border-top: 1px solid black;margin-top: 30px"></div>
    <div style="line-height:60px;width: 160px;text-align: center;font-size: 24px">文件下载</div>
    <div style="width: 100%;border-top: 1px solid black;margin-top: 30px"></div>
</div>

<div id="download-content">
    <div id="download-left">
        <div>
            <div>抱怨音频：</div>
            <div>
                <audio src="S.mp3" controls="controls">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div>
            <div>抱怨原始数据：</div>
            <div style="padding-left: 180px">
                <button style="background:#3a8ee6;color: white;width: 80px;text-align: center;line-height: 30px;height: 45px;border: 0px;font-size: 18px;border-radius: 2px">下载</button>
            </div>
        </div>

        <div>
            <div>分析报告：</div>
            <div style="padding-left: 180px">
                <button style="background:#3a8ee6;color: white;width: 80px;text-align: center;line-height: 30px;height: 45px;border: 0px;font-size: 18px;border-radius: 2px">下载</button>
            </div>
        </div>


    </div>
    <div id="download-right">
        <button style="background:#3a8ee6;color: white;width: 120px;text-align: center;line-height: 60px;height: 60px;border: 0px;font-size: 20px;border-radius: 2px">打包下载</button>
    </div>
</div>


</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>

<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->


<script>
    function handleChange() {
        var ph2 = document.getElementsByClassName("el-input__inner");
        console.log(ph2[0].value);
        console.log(ph2[0].text);
        console.log(zhi1);

    }

    new Vue({
        el: '#app',
        data: function () {
            return {
                car_modal: '',
                car_engine: '',
                car_gearbox: '',
                source: '',
                power: '',
                condition: '',
                complain_features: 'frequency',
                frequency: '',
                order: '',
                user_name: '',
                key_parts: '',
                measure: '',
                tire_type: '',
                detailed_description: '',
                mohu: '',
                Frequency_show: true,
                Order_show: false,
                frequency_range: [{
                    value: "<50"
                }, {
                    value: "50-100"
                }, {
                    value: "100-500"
                }, {
                    value: "500-1000"
                }, {
                    value: "1000-3000"
                }, {
                    value: ">3000"
                }],
                gearbox: [{
                    value: 'AL551e-8F',
                    label: 'AL551e-8F'
                }, {
                    value: 'MQ250-5F',
                    label: 'MQ250-5F'
                }, {
                    value: 'MQ350-6F',
                    label: 'MQ350-6F'
                }, {
                    value: 'MQ200-5F',
                    label: 'MQ200-5F'
                }, {
                    value: 'AQ160-6F',
                    label: 'AQ160-6F'
                }, {
                    value: 'DQ200-7F',
                    label: 'DQ200-7F'
                }, {
                    value: 'DQ250-6F',
                    label: 'DQ250-6F'
                }, {
                    value: 'DQ380-7F',
                    label: 'DQ380-7F'
                }, {
                    value: 'DQ381-7F',
                    label: 'DQ381-7F'
                }, {
                    value: 'DQ381-7A',
                    label: 'DQ381-7A'
                }, {
                    value: 'DQ500-7F',
                    label: 'DQ500-7F'
                }, {
                    value: 'DQ500-7A',
                    label: 'DQ500-7A'
                }, {
                    value: 'DQ501-7F',
                    label: 'DQ501-7F'
                }, {
                    value: 'DQ501-7A',
                    label: 'DQ501-7A'
                }, {
                    value: 'DL501-7A',
                    label: 'DL501-7A'
                }, {
                    value: 'DL382-7F',
                    label: 'DL382-7F'
                }, {
                    value: 'DL382-7A',
                    label: 'DL382-7A'
                }, {
                    value: 'DQ400E-6F',
                    label: 'DQ400E-6F'
                }, {
                    value: 'EQ270-1F',
                    label: 'EQ270-1F'
                }, {
                    value: '电驱动减速器',
                    label: '电驱动减速器'
                }],
                car_condition: [{
                    value: '加/减速',
                    label: '加/减速'
                }, {
                    value: '匀速',
                    label: '匀速'
                }, {
                    value: '滚动噪声',
                    label: '滚动噪声'
                }, {
                    value: '怠速',
                    label: '怠速'
                }, {
                    value: '启停',
                    label: '启停'
                }, {
                    value: '底盘舒适性',
                    label: '底盘舒适性'
                }, {
                    value: '手动输入',
                    label: '手动输入'
                }],
                carmodal: [{
                    value: 'T-Cross',
                    label: 'T-Cross'
                }, {
                    value: 'Polo NF',
                    label: 'Polo NF'
                }, {
                    value: 'Entry NB',
                    label: 'Entry NB'
                }, {
                    value: 'Lamando PA',
                    label: 'Lamando PA'
                }, {
                    value: 'Lavida',
                    label: 'Lavida'
                }, {
                    value: 'Octavia A7',
                    label: 'Octavia A7'
                }, {
                    value: 'Gran Lavida',
                    label: 'Gran Lavida'
                }, {
                    value: 'Tharu',
                    label: 'Tharu'
                }, {
                    value: 'Karoq',
                    label: 'Karoq'
                }, {
                    value: 'Lavida BEV',
                    label: 'Lavida BEV'
                }, {
                    value: 'Tharu BEV',
                    label: 'Tharu BEV'
                }, {
                    value: 'Lamando NF',
                    label: 'Lamando NF'
                }, {
                    value: 'Octavia A8',
                    label: 'Octavia A8'
                }, {
                    value: 'Tiguan L',
                    label: 'Tiguan L'
                }, {
                    value: 'Kodiaq',
                    label: 'Kodiaq'
                }, {
                    value: 'Touran L',
                    label: 'Touran L'
                }, {
                    value: 'Tiguan Coupe',
                    label: 'Tiguan Coupe'
                }, {
                    value: 'Tiguan L PHEV',
                    label: 'Tiguan L PHEV'
                }, {
                    value: 'Kodiaq GT',
                    label: 'Kodiaq GT'
                }, {
                    value: 'B SUV',
                    label: 'B SUV'
                }, {
                    value: 'B MPV',
                    label: 'B MPV'
                }, {
                    value: 'B SUV Coupe',
                    label: 'B SUV Coupe'
                }, {
                    value: 'NMS NF',
                    label: 'NMS NF'
                }, {
                    value: 'Superb NF',
                    label: 'Superb NF'
                }, {
                    value: 'NMS NF PHEV',
                    label: 'NMS NF PHEV'
                }, {
                    value: 'Polo',
                    label: 'Polo'
                }, {
                    value: 'Santana',
                    label: 'Santana'
                }, {
                    value: 'Rapid',
                    label: 'Rapid'
                }, {
                    value: 'Tiguan SR',
                    label: 'Tiguan SR'
                }, {
                    value: 'NMS',
                    label: 'NMS'
                }, {
                    value: 'Kamiq',
                    label: 'Kamiq'
                }, {
                    value: 'Kamiq GT',
                    label: 'Kamiq GT'
                }, {
                    value: 'Lavida SR',
                    label: 'Lavida SR'
                }, {
                    value: 'A SUVe',
                    label: 'A SUVe'
                }, {
                    value: 'Aero A+',
                    label: 'Aero A+'
                }, {
                    value: 'AerB Neo',
                    label: 'AerB Neo'
                }, {
                    value: 'Lounge A SUVe',
                    label: 'Lounge A SUVe'
                }, {
                    value: 'Phideon',
                    label: 'Phideon'
                }, {
                    value: 'Audi A7L',
                    label: 'Audi A7L'
                }],
                engine: [{
                    value: '1.5L',
                    label: '1.5L'
                }, {
                    value: '1.4L',
                    label: '1.4L'
                }, {
                    value: '1.6L',
                    label: '1.6L'
                }, {
                    value: '1.4T',
                    label: '1.4T'
                }, {
                    value: '1.2T',
                    label: '1.2T'
                }, {
                    value: '1.8T',
                    label: '1.8T'
                }, {
                    value: '2.0T',
                    label: '2.0T'
                }, {
                    value: '2.5T',
                    label: '2.5T'
                }, {
                    value: '3.0L',
                    label: '3.0L'
                }, {
                    value: 'APP310 Base+',
                    label: 'APP310 Base+'
                }, {
                    value: 'AKA150 Base-',
                    label: 'AKA150 Base-'
                }, {
                    value: 'APP290',
                    label: 'APP290'
                }, {
                    value: 'HEM80',
                    label: 'HEM80'
                }],
                car_briefDescription: [{
                    value: 'Brmmen',
                    label: 'Brmmen'
                }, {
                    value: 'Pfeifen',
                    label: 'Pfeifen'
                }, {
                    value: 'Heulen',
                    label: 'Heulen'
                }, {
                    value: 'Schnarren',
                    label: 'Schnarren'
                }, {
                    value: 'Rasseln',
                    label: 'Rasseln'
                }, {
                    value: 'Heckraeusch',
                    label: 'Heckraeusch'
                }, {
                    value: 'Rollgeraeusch',
                    label: 'Rollgeraeusch'
                }, {
                    value: 'Torus',
                    label: 'Torus'
                }, {
                    value: 'Start/stop',
                    label: 'Start/stop'
                }, {
                    value: 'Motor Rauh/laut/present',
                    label: 'Motor Rauh/laut/present'
                }, {
                    value: 'Bodyboom',
                    label: 'Bodyboom'
                }, {
                    value: 'self_input',
                    label: '自行输入'
                }],
                brief_description: '',


            }
        },
        methods: {
            changefeature() {
                if (this.complain_features == "frequency") {
                    this.Frequency_show = true;
                    this.Order_show = false
                } else {
                    this.Frequency_show = false;
                    this.Order_show = true;
                }
            }
        }

    })
    new Vue({
        el: '#app2',
        data: function () {
            return {


                fileList: [{
                    name: 'food.jpeg',
                    url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
                }],

            }
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            }
        },
    })
</script>
</html>