{% extends 'base.html' %}

{% load static %}

{% block title %}UPLOAD{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/vue_2.6.10.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
    <link rel="stylesheet" href="{% static 'ele/index.css' %}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <style>
        .layui-form-label {
            font-size: 16px;
            font-weight: bold;
        }

        .layui-elem-field legend {
            font-weight: bold;
        }

        .layui-table td, .layui-table th {
            font-weight: bold;
        }

        .list-data {
            font-size: 18px;
            padding: 3px;
            height: 35px;
            line-height: 35px
        }

        .list-data img {
            height: 50%;
            padding-top: 2px;
            width: auto
        }

        #app {
            margin-top: 30px;
        }

        h3 {
            display: flex;
            flex-direction: row;
            font-size: 22px;
        }

        h3:before,
        h3:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid #000;
            margin: 10px;
        }

        .item-flex {
            display: flex;
            justify-content: space-around;
        }

        #submit-button {
            margin-top: 40px;
            display: flex;
            justify-content: center;
        }

        #app {
            display: flex;
        }

        #content1 {
            width: 30%;
            margin-left: 20%;
        }

        #content2 {
            width: 30%;
        }

        #content1 div {
            display: flex;
            margin-bottom: 5px;
        }

        #content1 div span:nth-child(1) {
            width: 150px;
            line-height: 45px;
        }

        .el-input__inner {
            width: auto;
        }

        .el-input {
            width: auto;
        }

        #content2 {
            margin-left: 10%;
        }

        #content2 div {
            display: flex;
            margin-bottom: 5px;
        }

        #content2 div span:nth-child(1) {
            width: 150px;
            line-height: 45px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="layui-fluid" id="complain_upload" v-loading="loading" element-loading-text="上传中,请稍等...">
        <div class="layui-card" style="padding: 10px">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>抱怨信息表</legend>
            </fieldset>
            <div id="app">
                <div id="content1">
                    <div>
                        <div><span><span style="color: red">*</span>抱怨简单描述：</span></div>
                        <el-select v-model="brief_description" placeholder="请选择">
                            <el-option v-for="item in car_briefDescription"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id"></el-option>
                        </el-select>
                    </div>
                    <div>
                        <div><span><span style="color: red">*</span>抱怨详细描述：</span></div>
                        <el-input
                                type="textarea"
                                :autosize="{ minRows: 2, maxRows: 4}"
                                placeholder="请输入内容"
                                v-model="detailed_description">
                        </el-input>
                    </div>
                    <div>
                        <div><span><span style="color: red">*</span>抱怨来源：</span></div>
                        <el-input v-model="source" placeholder="如：CVF08/2020" clearable></el-input>
                    </div>
                    <div>
                        <div><span>抱怨特征：</span></div>
                        <el-select v-model="complain_features" placeholder="请选择" @change="changefeature">
                            <el-option label="频率" value="frequency"></el-option>
                            <el-option label="阶次" value="order"></el-option>
                        </el-select>
                    </div>
                    <div v-show="Frequency_show">
                        <div><span>频率：</span></div>
                        <el-input v-model="frequency" placeholder="值或范围,如:100或30-50" clearable></el-input>
                    </div>
                    <div v-show="Order_show">
                        <div><span>阶次：</span></div>
                        <el-input v-model="order" placeholder="阶次值,如:23" clearable></el-input>
                    </div>
                    <div>
                        <div><span><span style="color: red">*</span>工况：</span></div>
                        <el-select v-model="condition" placeholder="请选择工况" @change="changecondition">
                            <el-option v-for="item in car_condition"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.name"></el-option>
                        </el-select>
                    </div>

                    <div v-show="Accelerate_show">
                        <div><span></span></div>
                        <el-select v-model="acceleratelist" placeholder="请选择具体工况">
                            <el-option v-for="item in accelerate_list"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.name"></el-option>
                        </el-select>
                    </div>
                    <div v-show="Accelerate_show">
                        <div><span></span></div>
                        <el-select v-model="accelerategear" placeholder="请选择档位">
                            <el-option v-for="item in accelerate_gear"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.name"></el-option>
                        </el-select>
                    </div>

                    <div v-show="Uniform_speed">
                        <div><span></span></div>
                        <el-input v-model="uniform_speed" clearable placeholder="填写车速"
                        ></el-input>6
                    </div>


                    <div v-show="Rolling_noise">
                        <div><span></span></div>
                        <el-select v-model="roll_road_condition" placeholder="选择路面">
                            <el-option v-for="item in roll_condition_list"
                                       :key="item.name"
                                       :label="item.name"
                                       :value="item.name"></el-option>
                        </el-select>
                    </div>
                    <div v-show="Rolling_noise">
                        <div><span></span></div>
                        <el-input v-model="roll_speed" clearable placeholder="填写车速"
                        ></el-input>
                    </div>


                    <div v-show="Chassis_comfort">
                        <div><span></span></div>
                        <el-select v-model="comfort_road_condition" placeholder="选择路面">
                            <el-option v-for="item in comfort_condition_list"
                                       :key="item.name"
                                       :label="item.name"
                                       :value="item.name"></el-option>
                        </el-select>
                    </div>
                    <div v-show="Chassis_comfort">
                        <div><span></span></div>
                        <el-input v-model="comfort_speed" clearable placeholder="填写车速"
                        ></el-input>
                    </div>


                    <div>
                        <div><span>关键零件或因素：</span></div>
                        <el-input v-model="key_parts" placeholder="" clearable></el-input>
                    </div>
                    <div>
                        <div><span>措施：</span></div>
                        <el-input v-model="measure" placeholder="具体措施" clearable></el-input>
                    </div>
                </div>

                <div id="content2">
                    <div>
                        <div><span><span style="color: red">*</span>车型：</span></div>
                        <el-select v-model="car_modal" placeholder="请选择">
                            <el-option v-for="item in carmodal"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id"></el-option>
                        </el-select>
                    </div>
                    <div>
                        <div><span>发动机：</span></div>
                        <el-select v-model="car_engine" placeholder="请选择">
                            <el-option v-for="item in engine"
                                       :key="item"
                                       :label="item"
                                       :value="item"></el-option>
                        </el-select>
                    </div>
                    <div>
                        <div><span>变速箱：</span></div>
                        <el-select v-model="car_gearbox" placeholder="请选择">
                            <el-option v-for="item in gearbox"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id"></el-option>
                        </el-select>
                    </div>
                    <div>
                        <div><span>功率：</span></div>
                        <el-select v-model="car_power" placeholder="请选择">
                            <el-option v-for="item in power"
                                       :key="item"
                                       :label="item"
                                       :value="item"></el-option>
                        </el-select>
                    </div>
                    <div>
                        <div><span>轮胎信息：</span></div>
                        <el-input v-model="tire_supplier" placeholder="供应商,如:Hankook" clearable></el-input>
                    </div>
                    <div>
                        <div><span></span></div>
                        <el-input v-model="tire_size" placeholder="轮胎尺寸,如:R21" clearable></el-input>
                    </div>
                    <div>
                        <div><span></span></div>
                        <el-input v-model="tire_pattern" placeholder="轮胎花纹,如：EGP Asia" clearable></el-input>
                    </div>
                    <div>
                        <div><span><span style="color: red">*</span>上传人：</span></div>
                        <el-input v-model="user_name" clearable placeholder="上传人"></el-input>
                    </div>
                </div>

            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>文件上传</legend>
            </fieldset>
            <div id="app2">
                <el-form :inline="true" class="demo-form-inline item-flex">
                    <el-form-item label="抱怨原始数据：">
                        <el-upload
                                class="upload-demo"
                                action="#"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                :on-success="hanlesuccess"
                                :on-change="changefile"
                                multiple
                                :limit="1"
                                :on-exceed="handleExceed"
                                :file-list="complain_filelist"
                                :auto-upload="false"

                        >
                            <el-button size="small" type="primary">选择文件</el-button>
                            <div slot="tip" class="el-upload__tip">只能上传hdf/dat文件</div>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="抱怨特征图：">
                        <el-upload
                                class="upload-demo"
                                action="#"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                :on-change="changefile"
                                multiple
                                :limit="1"
                                :on-exceed="handleExceed"
                                :auto-upload="false"
                                :file-list="complain_photo">
                            <el-button size="small" type="primary">选择文件</el-button>
                            <div slot="tip" class="el-upload__tip">只能上传jpg/png/bmp文件</div>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="抱怨音频：">
                        <el-upload
                                class="upload-demo"
                                action="#"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                :on-change="changefile"
                                multiple
                                :limit="1"
                                :on-exceed="handleExceed"
                                :auto-upload="false"
                                :file-list="complain_audio">
                            <el-button size="small" type="primary">选择文件</el-button>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="分析报告：">
                        <el-upload
                                class="upload-demo"
                                action="#"
                                :on-preview="handlePreview"
                                :on-change="changefile"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                multiple
                                :limit="1"
                                :on-exceed="handleExceed"
                                :auto-upload="false"
                                :file-list="complain_report">
                            <el-button size="small" type="primary">选择文件</el-button>
                        </el-upload>
                    </el-form-item>
                </el-form>
                <div id="submit-button">
                    <el-button type="primary" style="background-color: #009688;" @click="submitupload">开始上传</el-button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'vue.js' %}"></script>
    <script src="{% static 'ele/index.js' %}"></script>
    <script>
        {#import {Message} from{% static 'ele/index.js' %};#}
        {#Vue.use(Message);#}
        {#Vue.prototype.$message = Message;#}
        layui.use(['upload', 'form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                upload = layui.upload;
        })

        function handleChange() {
            var ph2 = document.getElementsByClassName("el-input__inner");
        }

        new Vue(
            {
                el: '#complain_upload',
                data: function () {
                    return {
                        car_modal: '',
                        car_engine: '',
                        car_gearbox: '',
                        source: '',
                        car_power: '',
                        condition: '',
                        complain_features: 'frequency',
                        frequency: '',
                        order: '',
                        user_name: '',
                        key_parts: '',
                        measure: '',
                        tire: '',
                        tire_supplier: '',
                        tire_size: '',
                        tire_pattern: '',

                        detailed_description: '',
                        Frequency_show: true,
                        Order_show: false,
                        gearbox: [],
                        car_condition: [],
                        carmodal: [],
                        engine: [],
                        power: [],
                        car_briefDescription: '',
                        brief_description: '',
                        Accelerate_show: false,
                        Uniform_speed: false,
                        accelerategear: '',
                        acceleratelist: '',
                        uniform_speed: '',
                        Rolling_noise: false,
                        roll_road_condition: '',
                        roll_speed: '',
                        Chassis_comfort: false,
                        comfort_road_condition: '',
                        comfort_speed: '',
                        filelist_hdf: [],
                        filelist_pic: [],
                        filelist_audio: [],
                        filelist_ppt: [],
                        loading: false,

                        accelerate_list: [{name: "VZ"}, {name: "VS"}, {name: "TZ"}, {name: "TS"}, {name: "加减速均有"}, {name: "不清楚"}],
                        accelerate_gear: [{name: "1"}, {name: "2"}, {name: "3"}, {name: "4"}, {name: "5"}, {name: "6"}, {name: "7"}, {name: "D"}, {name: "B"}, {name: "档位无关"}],
                        roll_condition_list: [{name: "Stuckern"}, {name: "Kleinpflaster"}, {name: "Kerben"}, {name: "Rauhasphalt"}, {name: "Glatteasphalt"}, {name: "其他"}],
                        comfort_condition_list: [{name: "减速带"}, {name: "Stuckern"}, {name: "负坎"}, {name: "沟槽路"}, {name: "金属横档条"}, {name: "随机水泥路面"}, {name: "其他"}],
                        complain_report: [],
                        complain_audio: [],
                        complain_filelist: [],
                        complain_photo: [],
                    }
                },
                methods: {
                    changefeature() {
                        if (this.complain_features == "frequency") {
                            this.Frequency_show = true;
                            this.Order_show = false
                        } else {
                            this.Frequency_show = false;
                            this.Order_show = true;
                        }
                    },
                    changecondition() {
                        if (this.condition == "加/减速") {
                            this.Accelerate_show = true;
                            this.Uniform_speed = false;
                            this.Rolling_noise = false;
                            this.Chassis_comfort = false;
                        } else if (this.condition == "匀速") {
                            this.Accelerate_show = false;
                            this.Uniform_speed = true;
                            this.Rolling_noise = false;
                            this.Chassis_comfort = false;
                        } else if (this.condition == "滚动噪声/轮胎噪声") {
                            this.Accelerate_show = false;
                            this.Uniform_speed = false;
                            this.Rolling_noise = true;
                            this.Chassis_comfort = false;
                        } else if (this.condition == "底盘舒适性") {
                            this.Accelerate_show = false;
                            this.Uniform_speed = false;
                            this.Rolling_noise = false;
                            this.Chassis_comfort = true;
                        } else if (this.condition == "其他") {
                            this.Accelerate_show = false;
                            this.Uniform_speed = true;
                            this.Rolling_noise = false;
                            this.Chassis_comfort = false;
                        } else {
                            this.Accelerate_show = false;
                            this.Uniform_speed = false;
                            this.Rolling_noise = false;
                            this.Chassis_comfort = false;
                        }
                    },
                    submitupload() {
                        if (this.brief_description == '') {
                            this.$message({
                                message: '请选择简要描述!',
                                type: 'warning'
                            })
                            return false
                        }
                        ;
                        if (this.detailed_description == '') {
                            this.$message({
                                message: '请填写详细描述!',
                                type: 'warning'
                            })
                            return false
                        }
                        if (this.source == '') {
                            this.$message({
                                message: '请填写抱怨来源!',
                                type: 'warning'
                            })
                            return false
                        }
                        if (this.condition == '') {
                            this.$message({
                                message: '请选择工况!',
                                type: 'warning'
                            })
                            return false
                        }
                        if (this.car_modal == '') {
                            this.$message({
                                message: '请选择车型信息!',
                                type: 'warning'
                            })
                            return false
                        }

                        this.loading = true;
                        let formData = new FormData();
                        formData.append('brief_description', this.brief_description);
                        formData.append('detailed_description', this.detailed_description);
                        formData.append('source', this.source);
                        formData.append('complain_features', this.complain_features);
                        formData.append('frequency', this.frequency);
                        formData.append('order', this.order);
                        formData.append('key_parts', this.key_parts);
                        formData.append('measure', this.measure);
                        formData.append('car_modal', this.car_modal);
                        formData.append('car_engine', this.car_engine);
                        formData.append('car_gearbox', this.car_gearbox);
                        formData.append('power', this.car_power);
                        this.tire = this.tire_supplier + "-" + this.tire_size + "-" + this.tire_pattern;
                        formData.append('tire', this.tire);
                        formData.append('user_name', this.user_name);
                        if (this.condition == "加/减速") {
                            let condition_list = this.condition + "-" + this.acceleratelist + "-" + this.accelerategear;
                            formData.append('condition', condition_list);
                        } else if (this.condition == "匀速") {
                            let condition_list = this.condition + "-" + this.uniform_speed + "km/h";
                            formData.append('condition', condition_list);
                        } else if (this.condition == "滚动噪声/轮胎噪声") {
                            let condition_list = this.condition + "-" + this.roll_road_condition + "-" + this.roll_speed + "km/h";
                            formData.append('condition', condition_list);
                        } else if (this.condition == "底盘舒适性") {
                            let condition_list = this.condition + "-" + this.comfort_road_condition + "-" + this.comfort_speed + "km/h";
                            formData.append('condition', condition_list);
                        } else if (this.condition == "其他") {
                            let condition_list = this.condition + "-" + this.uniform_speed + "km/h";
                            formData.append('condition', condition_list);
                        } else {
                            formData.append('condition', this.condition);
                        }

                        formData.append('conplain_file', this.filelist_hdf);
                        formData.append('conplain_pic', this.filelist_pic);
                        formData.append('conplain_report', this.filelist_ppt);
                        formData.append('conplain_audio', this.filelist_audio);

                        axios({
                            url: "/audio/file/",
                            method: 'post',
                            headers: {
                                "Content-Type": "multipart/form-data"
                            },
                            data: formData,
                        }).then((response) => {
                            if (response.data.code == 1) {
                                this.loading = false;

                                //需要用message的地方
                                Vue.prototype.$message({
                                    message: '文件上传成功!',
                                    type: 'success'
                                });
                            } else {
                                this.loading = false;
                                Vue.prototype.$message({
                                    message: '文件上传失败,请联系管理员!',
                                    type: 'error'
                                });
                            }

                        }).catch((error) => {
                            this.loading = false;
                            Vue.prototype.$message({
                                message: '文件上传失败,请联系管理员!',
                                type: 'error'
                            });
                        })
                    },

                    handleRemove(file, fileList) {
                    },
                    hanlesuccess(file) {
                    },
                    changefile(file, filelist) {
                        if (filelist[0].name.toLowerCase().indexOf('.hdf') != -1) {
                            this.filelist_hdf = filelist[0].raw;
                        } else if (filelist[0].name.toLowerCase().indexOf('.dat') != -1) {
                            this.filelist_hdf = filelist[0].raw;
                        } else if (filelist[0].name.toLowerCase().indexOf('.jpg') != -1) {
                            this.filelist_pic = filelist[0].raw
                        } else if (filelist[0].name.toLowerCase().indexOf('.jpeg') != -1) {
                            this.filelist_pic = filelist[0].raw
                        } else if (filelist[0].name.toLowerCase().indexOf('.png') != -1) {
                            this.filelist_pic = filelist[0].raw
                        } else if (filelist[0].name.toLowerCase().indexOf('.bmp') != -1) {
                            this.filelist_pic = filelist[0].raw
                        } else if (filelist[0].name.toLowerCase().indexOf('.mp3') != -1) {
                            this.filelist_audio = filelist[0].raw
                        } else if (filelist[0].name.toLowerCase().indexOf('.wav') != -1) {
                            this.filelist_audio = filelist[0].raw
                        } else if (filelist[0].name.toLowerCase().indexOf('.ppt') != -1) {
                            this.filelist_ppt = filelist[0].raw
                        } else {
                        }
                    },
                    handlePreview(file) {
                    },
                    handleExceed(files, fileList) {
                        this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
                    },
                    beforeRemove(file, fileList) {
                        return this.$confirm(`确定移除 ${file.name}？`);
                    },
                },

                created: function () {
                    var self = this;
                    self.user_name = sessionStorage.username;
                    $.ajax({
                        url: '/audio/wait/',
                        dataType: "json",
                        type: "get",
                        success: function (result) {
                            console.log(result);
                            self.car_briefDescription = result.brief_description;
                            self.car_condition = result.condition;
                            self.carmodal = result.car_modal;
                            self.engine = result.car_engine;
                            self.gearbox = result.car_gearbox;
                            self.power = result.power;
                            console.log(self.car_briefDescription)
                        }
                    });
                }
            })
    </script>
{% endblock %}