{% extends 'base.html' %}

{% load static %}

{% block title %}UPLOAD{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" media="all">
    <style>
        .layui-form-label {
            font-size: 16px;
            font-weight: bold;
        }

        .layui-elem-field legend {
            font-weight: bold;
        }

        .layui-table td, .layui-table th {
            font-weight: bold;
        }

        .list-data {
            font-size: 18px;
            padding: 3px;
            height: 35px;
            line-height: 35px
        }

        .list-data img {
            height: 50%;
            padding-top: 2px;
            width: auto
        }
    .el-cascader{
        width: 150px;
    }
    </style>
    <script type="text/javascript" src="{% static 'js/vue_2.6.10.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eleindex.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
{% endblock %}

{% block content %}
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-card-header" style="margin-top: 20px">
                            <blockquote class="layui-elem-quote">
                                使用手册: 请查看
                                <a href="/help/" style="color: #36da96;">EPGN_INFO使用文档</a>
                            </blockquote>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                            <legend>试验信息表</legend>
                        </fieldset>

                        <!-- 第一行表单数据 -->
                        <div>
                            <!-- 车型 -->
                            <div class="layui-form-item layui-input-inline">
                                <label class="layui-form-label">
                                    <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                    车型
                                </label>
                                <div class="layui-input-inline">
                                    <select name="car_model" lay-verify="required" id="car_model" 　lay-search=""
                                            style="border: 1px solid #e6e6e6;height: 38px;line-height:38px;width:190px;padding-left: 10px">
                                        <option value="">请选择</option>
                                        <option v-for="car_model in car_models" 　v-bind:value=car_model.id
                                                class="option_general">[[ car_model.name ]]
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- 生产阶段 -->
                            <div class="layui-form layui-form-item layui-input-inline">
                                <label class="layui-form-label">
                                    <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                    生产阶段
                                </label>
                                <div class="layui-input-inline">
                                    <select name="produce" lay-verify="required" id="produce" lay-search="">
                                        <option value="">请选择</option>
                                        <option value="AGT">AGT</option>
                                        <option value="PT">PT</option>
                                        <option value="VFF">VFF</option>
                                        <option value="PVS">PVS</option>
                                        <option value="OS">OS</option>
                                        <option value="SOP">SOP</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 车号 -->
                            <div class="layui-form-item layui-input-inline">
                                <label class="layui-form-label">
                                    <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                    车号
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="car_num" id="car_num" lay-verify="required"
                                           placeholder="请输入车号..." autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <!-- 动力总成 功率 -->
                            <div class="layui-form-item layui-input-inline" id="propulsion_power">
                                <label class="layui-form-label">
                                    <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                    发动机
                                </label>
                                <div class="layui-input-inline">
                                    <select class="layui-input-inline" v-model="form_power.propulsion_id"
                                            id="propulsion"
                                            lay-verify="required"
                                            style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                        <option disabled value="">请选择</option>
                                        <option v-for="propulsion in propulsions" v-bind:value=propulsion.id>[[
                                            propulsion.num ]]
                                        </option>
                                    </select>
                                </div>
                                <label class="layui-form-label">
                                    <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                    功率
                                </label>
                                <div class="layui-input-inline">
                                    <select class="layui-input-inline" v-model="form_power.power_id" id="power"
                                            lay-verify="required"
                                            style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                        <option disabled value="">请选择</option>
                                        <option v-for="power in powers" v-bind:value=power.id>[[ power.num ]]</option>
                                    </select>
                                </div>


                            </div>
                        </div>
                        <div class="layui-form-item layui-input-inline">
                            <label class="layui-form-label">
                                <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                变速箱
                            </label>
                            <div class="layui-input-inline">
                                <select name="car_gearbox" lay-verify="required" id="car_gearbox" 　lay-search=""
                                        style="border: 1px solid #e6e6e6;height: 38px;line-height:38px;width:190px;padding-left: 10px">
                                    <option value="">请选择</option>
                                    <option v-for="car_gearbox in car_gearboxs" 　v-bind:value=car_gearbox.name>[[
                                        car_gearbox.name ]]
                                    </option>
                                </select>
                            </div>

                        </div>

                        <!-- 第二行表单数据 -->
                        <div class="layui-form-item layui-input-inline" id="direction_parts" lay-filter="example">
                            <!-- 专业方向 -->
                            <label class="layui-form-label">
                                <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                专业方向
                            </label>
                            <div class="layui-input-inline">
                                <select class="layui-input-inline" v-model="form_data.direction_id" id="direction"
                                        lay-verify="required"
                                        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                    <option value="">请选择</option>
                                    <option v-for="direction in directions" v-bind:value=direction.id>[[ direction.name
                                        ]]
                                    </option>
                                </select>
                            </div>

                            <!-- 零部件 -->
                            <label class="layui-form-label" style="width: 85px">
                                <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                测试项目
                            </label>
                            <div class="layui-input-inline">
                                <select class="layui-input-inline" lay-verify="required" v-model="form_data.parts_id"
                                        id="part"
                                        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                    <option value="">请选择</option>
                                    <option v-for="part in parts" v-bind:value=part.id>[[ part.name ]]</option>
                                </select>
                            </div>


                            <!-- 工况 -->
                            <label class="layui-form-label" style="width: 83px">
                                <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                工况
                            </label>
                            <div class="layui-input-inline">
                                <select class="layui-input-inline" lay-verify="required"
                                        v-model="form_data.working_id"
                                        id="status"
                                        style="border-color: #e6e6e6; padding-left: 10px;height: 38px;border-width: 1px;border-style: solid; background-color: #fff;">
                                    <option value="">请选择</option>
                                    <option v-for="working in workings" v-bind:value=working.id>[[ working.name ]]
                                    </option>
                                    {#                                    <option value="self-input">自定义输入</option>#}
                                </select>
                            </div>
                            <div class="layui-inline" style="margin-right:0px;display: none" id="custom-staus">
                                <label class="layui-form-label" style="width: 85px;">自定义工况</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="other_need" id="self-statusInfo" placeholder="自定义工况信息"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline" style="margin-right:0px" id="special_need">
                                <label class="layui-form-label" style="width: 84px">试验状态</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="other_need" id="other_need" placeholder="特殊需求"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <!-- 第三行表单数据 -->
                        <div class="layui-form" lay-filter="three">

                            <!-- 日期选择 -->
                            <div class="layui-inline">
                                <label class="layui-form-label" style="padding: 9px 15px">
                                    <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                    试验时间
                                </label>
                                <div class="layui-input-inline">
                                    <input name="date_hash" id="date_hash" lay-verify="date_hash"
                                           placeholder="请选择试验日期..."
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <!-- 作者名 -->
                            <div class="layui-inline" style="margin-right:0px">
                                <label class="layui-form-label" style="padding: 9px 10px">
                                    <span style="display: inline-block;padding-top: 10px;font-size: 22px;color: red;vertical-align:middle">*</span>
                                    试验员
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="author" id="author" lay-verify="author"
                                           placeholder="如：张三" autocomplete="off" class="layui-input"
                                           onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')"
                                           onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\u4E00-\u9FA5]/g,''))">
                                </div>
                            </div>

                            <!-- 车号 -->
                            <div class="layui-inline" style="margin-right:0px">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 50px">KW</label>
                                    <div style="width: 100px" class="layui-input-inline">
                                        <input id="kv" type="text" placeholder="汇报" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 70px">EPG_GA</label>
                                    <div style="width: 100px" class="layui-input-inline">
                                        <input id="EPG" type="text" placeholder="报告" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 50px">其他</label>
                                    <div style="width: 100px" class="layui-input-inline">
                                        <input id="other" type="text" placeholder="" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                {#                                <div class="layui-form-mid layui-word-aux">这里是选择上传的什么文件(KV_EPG_其他_)#}
                            </div>
                        </div>

                    </div>


                    <!-- 文件上传 -->
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>文件上传</legend>
                    </fieldset>

                    <div class="layui-upload">
                        <div class="layui-upload-list">
                            <table class="layui-table">
                                <thead>
                                <tr>
                                    <th>文件名</th>
                                    <th>大小</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="demoList"></tbody>
                            </table>
                        </div>
                        <div style="text-align: center">
                            <button type="button" name="filename" class="layui-btn layui-btn-normal" id="testList">
                                选择文件
                            </button>
                            <button type="submit" class="layui-btn" id="testListAction">开始上传</button>
                            <button type="button" class="layui-btn  layui-btn-warm" style="margin-left: 0px"
                                    id="analysisCalculate">分析计算
                            </button>
                            <!-- <script>
                                                $("#math").click(function () {
                                                    layer.msg('玩命提示中');
                                                })
                                            </script> -->
                        </div>
                        <div style="text-align: center; margin-top: 10px" class="layui-form-mid layui-word-aux">
                            要在上传的同时提交表单数据
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="shadowlayer" style="width:100%;
    height: 100%;position:absolute;background:rgba(0,0,0,.5);z-index: 1000;display: none;top:0px"></div>
    <div id="shadowtext"
         style="width: 420px;height: 400px;background-color:white;position:absolute;z-index: 1001;left: 50%;margin-left:-175px;top:50%;margin-top:-200px;border-radius:5px;display: none">
        <div class="Popup-head" style="height: 40px;border-bottom:1px #DCDCDC solid">
            <div style="width:30px;height: 30px;margin-left:90%;padding-top:7px">
                <img id="closewindow11" style="width:100%;height: 100%;" src="{% static "image/close_window.png" %}"/>
            </div>
        </div>
        <div style="height: 290px;margin-bottom:10px;padding:6px;overflow: auto" id="namelist"></div>
        <div class="Popup-bottom" style="height: 60px;display: flex;justify-content:center">
            <button style="border:0px;width:150px;height: 40px;background-color:#1E9FFF;color:white;text-align:center;line-height:40px;font-size:16px"
                    id="confirmcalculate">确认计算
            </button>
        </div>
    </div>
    <div id="shadowlayer2" style="width:100%;
    height: 100%;position:absolute;background:rgba(0,0,0,.5);z-index: 1000;display: none;top:0px"></div>
    <div id="shadowtext2"
         style="width: 490px;height: 440px;background-color:white;position:absolute;z-index: 1001;left: 50%;margin-left:-245px;top:50%;margin-top:-220px;border-radius:5px;display: none">
        <div class="Popup-head" style="height: 40px;border-bottom:1px #DCDCDC solid">
            <div onclik="closewindow2()" style="width:30px;height: 30px;margin-left:90%;padding-top:7px"></div>
        </div>
        <div style="display: flex; justify-content: space-around;font-size:16px;line-height:40px">
            <div style="width:47%;text-align:center"> 当前文件通道名</div>
            <div style="width:47%;text-align:center"> 对应标准通道名</div>
        </div>
        <div style="height: 280px;margin-bottom:10px;padding:6px;overflow:auto;" id="namelist2">

        </div>
        <div class="Popup-bottom" style="height: 60px;display: flex;justify-content:center">
            <button style="border:0px;width:150px;height: 40px;background-color:#1E9FFF;color:white;text-align:center;line-height:40px;font-size:16px"
                    onclick="submitchannel()">确认修改
            </button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- 指定layui -->
    <script>
        // layui.config({
        //     base: './home/' //静态资源所在路径
        // }).use('index', function () {
        //     var form = layui.form,
        //         flayer = layui.layer,
        //         layedit = layui.layedit,
        //         laydate = layui.laydate,
        //         $ = layui.jquery,
        //         upload = layui.upload;
        // });
        $("#shadowlayer2").hide();
        $("#shadowtext2").hide();

        function closewindow2() {
            $("#shadowlayer2").hide();
            $("#shadowtext2").hide();
        }//关闭窗口操作

        function showchannel() {
            $("#shadowlayer2").show();
            $("#shadowtext2").show();
            let channelName = data.data;
            for (let j = 0; j < channelName.length; j++) {
                $("#namelist").append("<div class='layui-form layui-form-item layui-input-inline'><div class='layui-input-inline' style='line-height:38px;text-align:center;margin-right:70px'>" + channelName[j] + "</div><div class='layui-input-inline' style='margin-right:8px'><select name='produce' lay-verify='required' class='proce11' lay-search=''><option value=''>直接或搜索选择通道</option></select></div></div>")
                for (let i = 0; i < testarray.length; i++) {
                    testarr1.push(testarray[i].name);
                    $(".proce11").append("<option class='clearchannel' >" + testarray[i].name + "</option>")
                }
            }//得到不确定的通道信息放在页面显示
        }
    </script>

    <!-- 使用layui框架 -->
    <script>
        var filenameArray = [], username = sessionStorage.username;
        var filenameArr = [];
        var nameArray = [];
        var file_channel_list = [];
        var file_number = 0;
        var norm_data = [];
        var channelName = [];
        var channelfileArray = [];
        layui.use(['upload', 'form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                upload = layui.upload;

            form.render();
            //日期
            laydate.render({
                elem: '#date_hash',
                value: new Date(),
                isInitValue: true
            });

            // 用户名
            form.val("three", {
                "author": username
            });
            // 这里绑定分析计算的点击事件
            $("#analysisCalculate").click(function () {
                for (let i = 0; i < filenameArray.length; i++) {
                    filenameArr.push(filenameArray[i].newname)
                }
                sessionStorage.setItem("uploadnewname", JSON.stringify(filenameArr));
                nameArray = filenameArr;
                for (var i = 0; i < nameArray.length; i++) {
                    $("#namelist").append(
                        `<div class='list-data'><img class='list-data-close' src='{% static "image/close_window.png" %}'/>${nameArray[i]}</div>`
                    )
                }
                $("#shadowlayer").show();
                $("#shadowtext").show();
                $("#namelist").off('click');
                $("#namelist").on('click', '.list-data', function () {
                    var compare_dataIndex = $(".list-data").index(this);
                    $(this).remove();
                    nameArray.splice(compare_dataIndex, 1);
                    if (nameArray.length == 0) {
                        $("#shadowlayer").hide();
                        $("#shadowtext").hide();
                        sessionStorage.removeItem("uploadnewname");
                        filenameArr = [];
                    }
                    nameSession = JSON.stringify(nameArray);
                    sessionStorage.setItem("uploadnewname", nameSession);
                });
            });

            $("#closewindow11").click(function () {
                $("#shadowlayer").hide();
                $("#shadowtext").hide();
                sessionStorage.removeItem("uploadnewname");
                filenameArr = [];
                $('#namelist').html("");

            });

            $("#confirmcalculate").click(function () {
                $("#shadowlayer").hide();
                $("#shadowtext").hide();
                $('#namelist').html("");
                filenameArr = [];
                sessionStorage.setItem("sessionType", 1);
                window.open('/calculate/');
                $.ajax({
                    url: /parsefilelist/,
                    dataType: "json",
                    data: JSON.stringify({"fileList": filenameArr}),
                    type: "post",
                    success: function (result) {
                        $('#jumpbox').html(result);
                        $('#jumpbox').modal('show');
                    }
                });
            });

            $("#math").click(function () {
                // layer.msg('后期这里会做成数据计算的超链接');
                layer.confirm('后期这里会做成数据计算的超链', {
                    btn: ['OK', 'NO'] //按钮
                }, function () {
                    layer.msg("好嘞", {
                        icon: 1
                    });
                }, function () {
                    layer.msg('那你想做成什么呢,跟我说说吧!', {
                        time: 20000, //20s后自动关闭
                        btn: ['明白了', '知道了']
                    });
                });
            });

            // 表单中所有信息必须都填写
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                },
            });

            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                return false;
            });

            //表单初始赋值
            form.val('example', {
                "date_hash": date_hash, // "name": "value"
                // "author": "username",
            });

            //多文件上传列表
            // var file_name = "文件名";
            var demoListView = $('#demoList'),
                uploadListIns = upload.render({
                    title: '上传文件： ',
                    elem: '#testList',
                    url: '/test/upload/',
                    accept: 'file',
                    multiple: true,
                    headers: {
                        "Authorization": "JWT " + sessionStorage.token  // user_id = sessionStorage.user_id
                    },
                    auto: false,
                    bindAction: '#testListAction',
                    exts: 'hdf',
                    data: {
                        car_model: function () {
                            return $("#car_model").val()
                        },
                        produce: function () {
                            return $("#produce").val()
                        },
                        direction: function () {
                            return $("#direction").val()
                        },
                        parts: function () {
                            return $('#part').val()
                        },
                        status: function () {
                            var option_text = $('#status option:selected').text();
                            if (option_text == "自定义输入") {
                                var diyStatus = "DIY-" + $("#self-statusInfo").val();
                                return diyStatus
                            } else {
                                return $("#status").val()
                            }
                        },
                        author: function () {
                            ++file_number;
                            return $('#author').val()
                        },
                        car_num: function () {
                            return $('#car_num').val()
                        },
                        propulsion: function () {
                            return $('#propulsion').val()
                        },
                        power: function () {
                            return $('#power').val()
                        },
                        gearbox: function () {
                            return $('#car_gearbox').val()
                        },
                        date_hash: function () {
                            return $("#date_hash").val()
                        },
                        kv: function () {
                            return $("#kv").val()
                        },
                        EPG: function () {
                            return $("#EPG").val()
                        },
                        other: function () {
                            return $("#other").val()
                        },
                        other_need: function () {
                            return $("#other_need").val()
                        },
                        // filename: function () {
                        //     return filename // 选择文件后, 用filename接受上传的文件名, 在这里直接上传获取到的文件名就可以了
                        // }
                    },
                    choose: function (obj) {
                        var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                        //读取本地文件
                        obj.preview(function (index, file, result) {
                            filename = file.name; // 在这里获取的是单个文件名, 但是在外面就拿不到所有的文件名了
                            // alert(filename + "准备上传");
                            var tr = $(['<tr id="upload-' + index + '">',
                                '<td id="file_name">' + file.name + '</td>',
                                '<td>' + (file.size / 1024 / 1024).toFixed(
                                    1) +
                                'MB</td>',
                                '<td>等待上传</td>', '<td>',
                                '<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>',
                                '<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>',
                                '</td>', '</tr>'
                            ].join(''));

                            //单个重传
                            tr.find('.demo-reload').on('click', function () {
                                obj.upload(index, file);
                            });

                            //删除
                            tr.find('.demo-delete').on('click', function () {
                                delete files[index]; //删除对应的文件
                                tr.remove();
                                uploadListIns.config.elem.next()[0].value =
                                    ''; //清空 input file 值，以免删除后出现同名文件不可选
                            });
                            demoListView.append(tr);
                        });
                    },
                    done: function (res, index, upload) {
                        if (res.code == 0) { //上传成功
                            filenameArray.push({'oldname': res.data.file_old_name, 'newname': res.data.file_new_name});

                            file_channel_list = file_channel_list.concat(res.data.file_channel_list);

                            var file_channel = Array.from(new Set(file_channel_list));
                            --file_number;

                            if (file_number == 0) {
                                send_data = {"channel_list": file_channel}
                                $.ajax({
                                    url: '/test/channel/',
                                    type: 'post',
                                    dataType: 'json',
                                    contentType: "application/json",
                                    async: true,//异步请求
                                    cache: false,
                                    data: JSON.stringify(send_data),

                                    //执行成功的回调函数
                                    success: function (data) {
                                        layer.close(layer.index);
                                        if (data.data.length == 0) {
                                            layer.msg("上传成功")
                                        } else {
                                            $("#shadowlayer2").show();
                                            $("#shadowtext2").show();
                                            channelName = data.data;
                                            norm_data = data.norm_data;
                                            for (let j = 0; j < channelName.length; j++) {
                                                $("#namelist2").append("<div class='layui-form layui-form-item layui-input-inline'><div class='layui-input-inline' style='line-height:38px;text-align:center;margin-right:70px'>" + channelName[j] + "</div><div class='layui-input-inline' style='margin-right:8px'><el-cascader :options=\"options\" :show-all-levels=\"false\" filterable  ref=\"cascaderAddr\"></el-cascader></div></div>")
                                            }//得到不确定的通道信息放在页面显示
                                            for (let i = 0; i < norm_data.length; i++) {

                                                $(".proceoptions").append("<option class='clearchannel'>" + norm_data[i] + "</option>")
                                            }
                                            form.render('select');
                                            new Vue({
                                                el: '#namelist2',
                                                data: {
                                                    options: [],
                                                },
                                                mounted: function () {
                                                    var _this = this;
                                                    $.ajax({
                                                        url: '/test/channel/',
                                                        type: "get",
                                                        success: function (result) {
                                                            console.log(result.data);
                                                            _this.options = result.data;
                                                            console.log(_this.options);
                                                        },
                                                        error: function (result) {
                                                            alert(result.msg)
                                                        }
                                                    });
                                                }
                                            })
                                        }

                                    },
                                    //执行失败或错误的回调函数
                                    error: function (data) {
                                        layer.msg(data.msg);
                                    }
                                });
                            } else {
                            }

                            var tr = demoListView.find('tr#upload-' + index),
                                tds = tr.children();
                            tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                            tds.eq(3).html(''); //清空操作
                            // tds.eq(3).html(
                            //     '<button id="cancel" class="layui-btn layui-btn-mini layui-btn-normal demo-reload" onclick="cancel()">撤销</button>'
                            // );

                            return delete this.files[index]; //删除文件队列已经上传成功的文件
                            //     $("#cancel").click(function(){
                            //     alert("判断点击事件")
                            // })
                        }
                        ;

                        this.error(res, index, upload);
                    },
                    error: function (res, index, upload) {
                        var tr = demoListView.find('tr#upload-' + index),
                            tds = tr.children();
                        tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                        tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                        layer.msg(res.data["info"], {
                            time: 1000, // 5s后自动关闭
                            // btn: ['OK']
                        });
                    },
                });
        });

        function submitchannel() {
            let channel_list = {};
            let val = [];
            let standard_channel = [];
            var ph1 = document.getElementsByClassName("el-input__inner");
            for (let i = 0; i < ph1.length; i++) {
                val.push(ph1[i].value);
            }
            ;
            console.log(val);


            if (val.indexOf("") != -1) {
                layer.msg("请选择标准通道！若无，请联系官明超（53331）")
            } else {
                for (let i = 0; i < channelName.length; i++) {
                    if (standard_channel.includes(val[i])) {
                        channel_list[val[i]].push(channelName[i]);
                    } else {
                        standard_channel.push(val[i]);
                        channel_list[val[i]] = [channelName[i]];
                    }

                }
                console.log(channel_list);


                for (let i = 0; i < filenameArray.length; i++) {
                    channelfileArray.push(filenameArray[i].newname)
                }
                ;
                $.ajax({
                    url: '/test/upload/',
                    type: 'put',
                    dataType: 'json',
                    contentType: "application/json",
                    async: true,//异步请求
                    cache: false,
                    data: JSON.stringify({"data": channel_list, "filelist": channelfileArray}),

                    //执行成功的回调函数
                    success: function (data) {
                        $("#shadowlayer2").hide();
                        $("#shadowtext2").hide();
                        $('#namelist2').html("");
                        layer.msg("success!")
                    },
                    //执行失败或错误的回调函数
                    error: function (data) {
                        layer.msg("执行撤销失败, 请联系超管!");
                    }
                });
            }
        } //修改通道重新确认数据
        function showchannel() {
            $("#shadowlayer2").show();
            $("#shadowtext2").show();
            let channelName = data.data;
            let norm_data = data.norm_data;
            for (let j = 0; j < channelName.length; j++) {
                $("#namelist").append("<div class='layui-form layui-form-item layui-input-inline'><div class='layui-input-inline' style='line-height:38px;text-align:center;margin-right:70px'>" + channelName[j] + "</div><div class='layui-input-inline' style='margin-right:8px'><select name='produce' lay-verify='required' class='proce_option' lay-search=''><option value='00'>直接或搜索选择通道</option></select></div></div>")
                for (let i = 0; i < norm_data.length; i++) {
                    $(".proce_option").append("<option class='clearchannel' >" + norm_data[i].name + "</option>")
                }
            }//得到不确定的通道信息放在页面显示
        }
    </script>

    <!-- 这里是选择位置发送的ajax请求 -->
    <!-- 后台返回车型 -->
    <script>
        var vm = new Vue({
            el: "#car_model",
            delimiters: ['[[', ']]'],
            data: {
                car_models: [],
            },
            mounted: function () {
                axios.get('/test/car_model/', {
                    responseType: 'json'
                })
                    .then(response => {
                        this.car_models = response.data;
                    })
                    .catch(error => {
                        // alert(error.response.data);
                        alert("这里是发送车型的请求")
                    })
            }
        })
    </script>
    <script>
        new Vue({
            el: '#namelist2',
            data: {
                options: [],
            },
            mounted: function () {
                var _this = this;
                $.ajax({
                    url: '/test/channel/',
                    type: "get",
                    success: function (result) {
                        console.log(result.data);
                        _this.options = result.data;
                        console.log(_this.options);
                    },
                    error: function (result) {
                        alert(result.msg)
                    }
                });
            }
        })
    </script>
    <script>
        var vm = new Vue({
            el: "#car_gearbox",
            delimiters: ['[[', ']]'],
            data: {
                car_gearboxs: [],
            },
            mounted: function () {
                axios.get('/test/gearbox/', {
                    responseType: 'json'
                })
                    .then(response => {
                        this.car_gearboxs = response.data;
                    })
                    .catch(error => {
                        // alert(error.response.data);
                        alert("这里是发送 变速箱的请求")
                    })
            }
        })
    </script>

    <!-- 后台返回动力总成+功率 -->
    <script>
        var vm = new Vue({
            el: '#propulsion_power',
            delimiters: ['[[', ']]'],
            data: {
                propulsions: [],
                powers: [],
                form_power: {
                    propulsion_id: '',
                    power_id: '',
                },
            },
            mounted: function () {
                axios.get(
                    '/test/propulsionpower_num/', {
                        responseType: 'json'
                    })
                    .then(response => {
                        this.propulsions = response
                            .data; // 这里把返回的数据赋值给propulsion
                        // alert(response.data[1]["num"])
                    })
                    .catch(error => {
                        alert(error.response.data);
                    });
            },
            watch: {
                // 在第一次加载页面的时候, form_power.propulsion会发生变化
                'form_power.propulsion_id': function () {
                    if (this.form_power.propulsion_id) {
                        axios.get(
                            '/test/propulsionpower_num/' +
                            this.form_power.propulsion_id +
                            '/', {
                                responseType: 'json'
                            })
                            .then(response => {
                                this.powers = response.data
                                    .subs;
                            })
                            .catch(error => {
                                this.powers = [];
                            });
                    }
                },
            },
        })
    </script>

    <!-- 后台返回专业方向-零部件-工况 -->
    <script>
        var vm = new Vue({
            el: '#direction_parts',
            delimiters: ['[[', ']]'],
            data: {
                directions: [],
                parts: [],
                workings: [],
                form_data: {
                    direction_id: '',
                    parts_id: '',
                    working_id: '',
                },
            },
            mounted: function () {
                axios.get(
                    // 页面加载的时候就发送婆娘个ajax请求
                    '/test/direction_num/', {
                        responseType: 'json'
                    })
                    .then(response => {
                        this.directions = response.data; // 这里把返回的数据赋值给propulsion
                    })
                    .catch(error => {
                        alert(error.response.data);
                    });
            },
            watch: {
                // 监听到direction_id发生变化时,根据选择的direction_id 发送ajax请求
                'form_data.direction_id': function () {
                    if (this.form_data.direction_id) {
                        axios.get(
                            '/test/direction_num/' + this.form_data.direction_id +
                            '/', {
                                responseType: 'json'
                            })
                            .then(response => {
                                this.parts = response.data.subs;
                                this.workings = [];
                            })
                            .catch(error => {
                                alert(error.response.data);
                                this.parts = [];
                                this.workings = []
                            });
                    }
                },
                // 监听到parts_id 发生变化时,根据选择的parts_id 发送ajax请求
                'form_data.parts_id': function () {
                    if (this.form_data.parts_id) {
                        axios.get(
                            '/test/direction_num/' + this.form_data.parts_id + '/', {
                                responseType: 'json'
                            })
                            .then(response => {
                                this.workings = response.data.subs;
                            })
                            .catch(error => {
                                alert(error.response.data);
                                this.workings = [];
                            });
                    }
                },
            },
            // updated: function () {
            //     layui.use(['form'], function () {
            //         layui.form.render('select');
            //     })
            // }
        })
    </script>

    <!-- 撤销的点击事件 -->
    <!--<script>


        // $("#cancel").parent().siblings()[0].innerHTML
        // $("#cancel").parent().parent().siblings()
        // $("#demoList").children()
        function cancel() {
            var oUl = document.getElementById('demoList);
            var Lis = oUl.getElementsByTagName('button');
            for (var i = 0; i < Lis.length; i++) {
                Lis[i].index = i;
                Lis[i].onclick = function () {
                    alert(i)
                }
            }


            var fileName2019 = $(this).parent().siblings();
            console.log($(this));
            // console.log($(this).html());
            console.log(fileName2019);
            $.ajax({
                url: '/cancel/',
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                async: true,//异步请求
                cache: false,
                data: JSON.stringify({'filename': fileName}),

                //执行成功的回调函数
                success: function (data) {
                    layer.msg(data.info)
                },
                //执行失败或错误的回调函数
                error: function (data) {
                    layer.msg("执行撤销失败, 请联系超管!");
                }
            });
        }

        $("#cancel").click(function () {
            $.ajax({
                url: '/cancel/',
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                async: true,//异步请求
                cache: false,
                data: $('#file_name').val(),
                //执行成功的回调函数
                success: function (data) {
                    layer.msg(data.info)
                },
                //执行失败或错误的回调函数
                error: function (data) {
                    layer.msg("执行撤销失败, 请联系超管!");
                }
            });
        })
    </script>-->

    <!-- 绑定用户信息 -->
    <!--<script>
        var vm = new Vue({
            el: "#layui-fluid",
            // el: "#LAY_app",
            delimiters: ['[[', ']]'],
            data: {
                user_id: sessionStorage.user_id || localStorage.user_id,
                token: sessionStorage.token || localStorage.token,
                username: '',
                job_number: '',
            },
            mounted: function () {
                // 判断用户的登录状态
                if (this.user_id && this.token) {
                    axios.get('/user/', {
                        // 向后端传递JWT token的方法
                        headers: {
                            'Authorization': 'JWT ' + this.token
                        },
                        responseType: 'json',
                        withCredentials: true
                    })
                        .then(response => {
                            // 加载用户数据
                            this.user_id = response.data.id;
                            this.job_number = response.data.job_number;
                            this.username = response.data.username;
                        })
                        .catch(error => {
                            if (error.response.status == 401 || error.response.status == 403) {
                                location.href = '../../../epgn_front_end/login_2.html';
                            }
                        });
                } else {
                    location.href = '/login/';
                }
            },
            methods: {
                // 登录
                login: function () {
                    location.href = '../../../epgn_front_end/login_2.html';
                },
                // 退出
                logout: function () {
                    sessionStorage.clear();
                    localStorage.clear();
                    location.href = '../../../epgn_front_end/login_2.html';
                },
            }
        })
    </script>-->

{% endblock %}