{% extends 'base.html' %}

{% load static %}

{% block title %}
    DETAIL
{% endblock %}

{% block link %}
    <style>
        .layui-form-label {
            font-size: 16px;
            font-weight: bold;
        }

        .layui-elem-field legend {
            font-weight: bold;
        }

        .layui-table td, .layui-table th {
            font-weight: bold;
        }

        .list-data {
            font-size: 18px;
            padding: 3px;
            height: 35px;
            line-height: 35px
        }

        .list-data img {
            height: 50%;
            padding-top: 2px;
            width: auto
        }

    </style>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/layui/css/admin.css" media="all">
    <link rel="stylesheet" href="../../static/layui/css/modules/layer/default/layer.css">
    <link rel="stylesheet" href="../../static/ele/index.css">
    <style>
        #app {
            margin-top: 10px;
        }

        #detail_content {
            display: flex;
        }

        #content1 {
            width: 50%;
            padding-right: 1%;
            line-height: 45px;
            padding-left: 2%;
            font-size: 19px;
        }

        #content1 div {
            width: 98%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 5px;
            margin-right: 10px;
            padding-left: 5%;
        }

        #content1 div div {
            width: 30%;
        }

        #content1 div:nth-child(2) {
            display: flex;
            justify-content: flex-start;
        }
        #download-content {
            display: flex;
            justify-content: space-between;
            width: 65%;
            margin-left: 15%;
            line-height: 50px;
            font-size: 20px;
        }

        #download-left {
            width: 50%;
        }

        #download-right {
            width: 50%;
        }

        #download-left div {
            display: flex;
            margin-bottom: 10px;
        }

        #download-left div div {
            width: 50%;
            text-align: center;
        }

        #download-right {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="layui-fluid" id="complain_upload">
        <div class="layui-card" style="padding: 10px">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>音频信息</legend>
            </fieldset>
            <div id="app">
                <div id="detail_content">
                    <div id="content1">
                        <div>
                            <div>车辆信息：</div>
                            <div id="car_info"></div>
                        </div>
                        <div>
                            <div>工况信息：</div>
                            <div id="frequency"></div>
                        </div>
                        <div>
                            <div>声源信息：</div>
                            <div id="sound_source"></div>
                        </div>
                        <div>
                            <div>声音描述：</div>
                            <div id="depict"></div>
                        </div>
                        <div>
                            <div>备注信息：</div>
                            <div id="remark"></div>
                        </div>
                    </div>
                    <div id="content2" style="display: flex;margin-left: 1%;font-size: 19px;width: 40%">
                        <div style="width:20%;margin-right: 10px">特征图：</div>
                        <div style="width: 80%;display: flex">
                            <div style="width: 49%"><img id="audio_img" style="width: 100%"></div>
                            <div style="width: 49%;margin-left: 2%"><img id="audio_img2" style="width: 100%"></div>
                        </div>

                    </div>
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>文件下载</legend>
            </fieldset>
            <div id="download-content">
                <div id="download-left">
                    <div>
                        <div>原始音频：</div>
                        <div>
                            <audio id="audio_mp3" controls="controls">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>

                    <div>
                        <div>原始数据：</div>
                        <div style="padding-left: 180px">
                            <a id="audio_hdf">
                                <button href="" style="background:#3a8ee6;color: white;width: 80px;text-align: center;line-height: 30px;height: 45px;border: 0px;font-size: 18px;border-radius: 2px">
                                    下载
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="download-right">
                    <a id="audio_all">
                        <button style="background:#3a8ee6;color: white;width: 120px;text-align: center;line-height: 60px;height: 60px;border: 0px;font-size: 20px;border-radius: 2px">
                            打包下载
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="../../static/js/vue_2.6.10.js"></script>
    <script type="text/javascript" src="../../static/js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="../../static/ele/index.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../static/layui/layui.js"></script>
    <script>
        layui.use(['upload', 'form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                upload = layui.upload;
        });
        new Vue({
            el: '#app',
            data: function () {
                return {
                    file_info: '',
                    img_href: '',
                }
            },
            methods: {},
            mounted() {
                let file_info = JSON.parse(sessionStorage.getItem("file_info"));
                document.getElementById("car_info").innerHTML = file_info.car_model + "-" + file_info.propulsion + "-" + file_info.power;
                document.getElementById("frequency").innerHTML = file_info.status;
                document.getElementById("sound_source").innerHTML = file_info.source;
                document.getElementById("depict").innerHTML = file_info.remark;
                document.getElementById("remark").innerHTML = file_info.depict;
                if (file_info.img_1 == null) {
                    document.getElementById("audio_img").innerHTML = "无";
                } else {
                    document.getElementById("audio_img").src = "/voice/img_1/?id=" + file_info.id;
                    if (file_info.img_2 == null) {

                    } else {
                        document.getElementById("audio_img2").src = "/voice/img_2/?id=" + file_info.id;
                    }
                }
                // document.getElementById("audio_img").src = "/voice/img_1/?id="+file_info.id;
                // new
                document.getElementById("audio_mp3").src = "/voice/download/?id=" + file_info.id + "&type=mp3";
                document.getElementById("audio_hdf").href = "/voice/download/?id=" + file_info.id + "&type=hdf";
                document.getElementById("audio_all").href = "/voice/download/?id=" + file_info.id + "&type=all";
            },
        })
    </script>
{% endblock %}
