{% extends 'base.html' %}
{% load static %}
{% block title %} WORKTIME {% endblock %}

{% block link %}
    <style>
        #app1_top {
            display: flex;
            font-size: 22px;
        }

        .content_right {
            padding: 0 20px;
            width: 90%;
            line-height: 40px;
            margin-left: 5%;
        }

        .layui-table tbody tr:hover, .layui-table-hover, .layui-table-click {
            background-color: rgba(255, 255, 255, 0) !important;
        }

        .layui-table-hover {
            background-color: rgba(255, 255, 255, 0);
        }

        .el-input--prefix .el-input__inner {
            font-size: 21px;
        }

        #qua_standard_table {
            width: 90%;
            margin-left: 5%;
        }

        .layui-form-select dl {
            z-index: 9999;
        }


        {#.layui-table-cell {#}
        {#    height: auto;#}
        {#    text-overflow: inherit;#}
        {#    white-space: normal;#}


    </style>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'ele/index.css' %}">
{% endblock %}

{% block content %}
    <div class="layui-fluid layui-card" id="body_upload" v-loading="loading" element-loading-text="" style="margin: 20px">
        <div id="app1">
            <div id="qua_standard_table" lay-filter="qua_standard_table">

            </div>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/vue_2.6.10.js' %}"></script>
    <script src="{% static "ele/index.js" %}"></script>
    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <script>
        var userId = sessionStorage.getItem('user_id');
        var res = '';
        console.log(userId);
        $.ajax({
            type: 'get',
            url: '/time/work/?manager_id=' + userId,
            dataType: "json",
            success: function (data) {
                console.log(data);
                var testData = {
                    carModal: "",
                    carNumber: "",
                    carVin: "",
                    color: "",
                    creatTime: "",
                    id: "",
                    manager: "",
                    room: "",
                    taskDetail_1: "",
                    taskDetail_2: "",
                    taskHour: "",
                    taskName: "",
                    taskRole: "",
                    taskStatus: "",
                    totalHour: "",
                };

                res = data.data;
                {#for(i=0;i<2;i++){#}
                {#    res.push(testData);};#}
                layui.use(['element', 'table', 'form'], function () {
                        var element = layui.element,
                            form = layui.form,
                            table = layui.table;
                        table.render({// 数据表格生成
                            elem: '#qua_standard_table',
                            height: "full-120",
                            data: res,
                            page: {
                                layout: ['count', 'limit', 'prev', 'page', 'next', 'skip']
                            }, //开启分页
                            limit: 18,
                            limits: [18, 30],
                            cols: [
                                [ {
                                    field: 'room',
                                    title: '实验室',
                                    width: 130,
                                    align: 'center'
                                }, {
                                    field: 'creatTime',
                                    title: '日期',
                                    width: 110,
                                    align: 'center'
                                }, {
                                    field: 'carModal',
                                    title: '车型',
                                    width: 125,
                                    align: 'center'
                                }, {
                                    field: 'carNumber',
                                    title: '车号',
                                    width: 110,
                                    align: 'center',
                                }, {
                                    field: 'carVin',
                                    title: 'Vin',
                                    width: 140,
                                    align: 'center',
                                }, {
                                    field: 'taskName',
                                    title: '任务',
                                    width: 240,
                                    align: 'center',
                                }, {
                                    field: 'taskDetail_2',
                                    title: '任务详细内容',
                                    width: 175,
                                    align: 'center',
                                }, {
                                    field: 'taskHour',
                                    title: '工时',
                                    width: 60,
                                    align: 'center',
                                    templet: setHourState,
                                }, {
                                    field: 'taskRole',
                                    title: '角色',
                                    width: 60,
                                    align: 'center'
                                }, {
                                    field: 'totalHour',
                                    title: '总工时',
                                    width: 90,
                                    align: 'center'
                                },
                                    {
                                        align: 'center', rowspan: 2, width: 120, field: 'task', title: '是否数据上传', templet: function (d) {
                                            return '<div class="layui-breadcrumb" lay-separator="|">' +
                                                '<input type="checkbox" name="data_upload" value=' + d.id + ' lay-skin="switch" lay-text="是|否" lay-filter="dataUpload" >' +
                                                '</div>';
                                        }, fixed: 'right'
                                    },
                                    {
                                        align: 'center', rowspan: 2, width: 100, field: 'operation', title: '是否有报告', templet: function (d) {
                                            return '<div class="layui-breadcrumb" lay-separator="|">' +
                                                '<input type="checkbox" name="report_upload" value=' + d.id + ' lay-skin="switch" lay-text="是|否" lay-filter="reportUpload" >' +
                                                '</div>';
                                        }, fixed: 'right'
                                    },
                                    {
                                        align: 'center', rowspan: 2, width: 140, field: 'testid', title: '确认任务内容', templet: function (d) {
                                            return '<div class="layui-input-line" ><select name="interest" lay-filter="aihao"><option value=' + '1' + d.id + ' name="请选择" selected="selected">请选择</option><option value=' + '2' + d.id + ' name="通过">通过</option><option value=' + '3' + d.id + ' name="拒绝">拒绝</option>' +
                                                '</select></div>';
                                        }, fixed: 'right'
                                    },

                                    // {
                                    //     title: '操作',
                                    //     width:200,
                                    //     toolbar:'#barDemo'
                                    //
                                    // }
                                ],
                            ],
                            done: function (res, curr, count) {

                                // $(".layui-input-line").css('overflow', 'visible');
                                $(".layui-table-body").css('overflow', 'visible');
                                 $(".layui-table-box").css('overflow-x', 'scroll');
                                  $(".layui-table-box").css('overflow-y', 'visible');
                                {#$(".layui-table-body").css('overflow-x', 'auto');#}
                                element.init();
                                $('#qua_standard_table').siblings('div').find('dl').find('.layui-this').click();//模拟点击 初始化数据
                                merge(res);//合并单元格
                                // $(".layui-table-body, .layui-table-box, .layui-table-cell,.layui-input-line").css('overflow', 'visible');
                            }
                            ,
                        });
                        var statusArray = [];
                        form.on('switch(dataUpload)', function (data) {
                            let obj = {};
                            obj.id = this.value;
                            statusArray.map(e => {
                                if (this.value.includes(e.id)) {
                                    let index = statusArray.findIndex(x => x.id === this.value);
                                    console.log(index);
                                    if (data.elem.checked == true) {
                                        statusArray[index].file_status = 2
                                    } else {
                                        statusArray[index].file_status = 1
                                    }

                                }
                                ;
                            });
                            if (statusArray.findIndex(x => x.id === this.value) == -1) {
                                if (data.elem.checked == true) {
                                    obj.file_status = 2
                                } else {
                                    obj.file_status = 1
                                }
                                statusArray.push(obj);

                            } else {

                            }
                            ;
                            console.log(statusArray);


                        });
                        form.on('switch(reportUpload)', function (data) {
                            let obj = {};
                            obj.id = this.value;
                            statusArray.map(e => {
                                if (this.value.includes(e.id)) {
                                    let index = statusArray.findIndex(x => x.id === this.value);
                                    console.log(index);
                                    if (data.elem.checked == true) {
                                        statusArray[index].report_status = 2
                                    } else {
                                        statusArray[index].report_status = 1
                                    }
                                };
                            });
                            if (statusArray.findIndex(x => x.id === this.value) == -1) {
                                if (data.elem.checked == true) {
                                    obj.report_status = 2
                                } else {
                                    obj.report_status = 1
                                }
                                statusArray.push(obj);
                            } else {
                            }
                            ;
                            console.log(statusArray);
                        });

                        form.on('select(aihao)', function (data) {
                            let check_status = this.innerHTML;
                            console.log(data.value);
                            let taskId = data.value.substr(1);


                            if (check_status == "拒绝") {
                                layer.confirm('确定本条任务审核不通过？', function (index) {
                                    $.ajax({
                                        type: 'patch',
                                        url: '/time/work/' + taskId + '/',
                                        data: {
                                            "manager_id": userId,
                                            "time_status": 3,
                                            "report_status": 1,
                                            "file_status": 1,
                                        },
                                        success: function (data) {
                                            layer.alert("处理完成!");
                                            reloadTable();
                                        },
                                        error: function (jqXHR) {
                                            layer.alert("处理失败!")
                                        }
                                    });
                                    layer.close(index);
                                });
                            } else if (check_status == "通过") {
                                layer.confirm('确定本条任务审核通过？', function (index) {
                                    if (statusArray.findIndex(x => x.id === taskId) == -1) {
                                        $.ajax({
                                            type: 'patch',
                                            url: '/time/work/' + taskId + '/',
                                            data: {
                                                "manager_id": userId,
                                                "time_status": 2,
                                                "report_status": 1,
                                                "file_status": 1,
                                            },
                                            success: function (data) {
                                                layer.alert("处理完成!");
                                                reloadTable();
                                            },
                                            error: function (jqXHR) {
                                                layer.alert("处理失败!")
                                            }
                                        });

                                    } else {
                                        let index = statusArray.findIndex(x => x.id === taskId);
                                        if ("report_status" in statusArray[index]) {

                                        } else {
                                            statusArray[index].report_status = 1
                                        }
                                        ;
                                        if ("file_status" in statusArray[index]) {

                                        } else {
                                            statusArray[index].file_status = 1
                                        }
                                        $.ajax({
                                            type: 'patch',
                                            url: '/time/work/' + taskId + '/',
                                            data: {
                                                "manager_id": userId,
                                                "time_status": 2,
                                                "report_status": statusArray[index].report_status,
                                                "file_status": statusArray[index].file_status,
                                            },
                                            success: function (data) {
                                                layer.alert("处理完成!");
                                                reloadTable();
                                            },
                                            error: function (jqXHR) {
                                                layer.alert("处理失败!")
                                            }
                                        });
                                    }
                                    ;


                                    layer.close(index);
                                });
                            } else {

                            }


                        });

                        table.on('tool(qua_standard_table)', function (obj) {

                            if (obj.event === 'qua_standard_edit') {
                                layer.msg('添加');
                            } else if (obj.event === 'qua_standard_del') {
                                layer.confirm('确定删除本条数据嘛？', function (index) {
                                    obj.del();
                                    layer.close(index);
                                    //向服务端发送删除指令
                                });
                            } else if (obj.event === "qua_standard_sexDemo") {
                                layer.confirm('确定删除本条任务嘛？', function () {
                                    layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                                        offset: '6px'
                                    });
                                    //向服务端发送删除指令
                                });

                            }
                        });
                    }
                )

            },
            error: function (jqXHR) {
                console.log(jqXHR);
            }
        });

        function reloadTable() {
            location.reload();
        }

        function setState(data) {
            let status = data.taskStatus;
            if (status == "未审核") {
                return "<span style='color: Gold'>未审核</span>"
            } else {
                return "<span style='color:#2ec770'>已审核</span>"
            }
        };

        function setHourState(data) {
            let status = data.color;
            if (status == "0") {
                return "<span style='color: red'>" + data.taskHour + "</span>"
            } else {
                return "<span>" + data.taskHour + "</span>"
            }
        };


        function merge(res) {
            var data = res.data;
            var mergeIndex = 0;//定位需要添加合并属性的行数
            var mark = 1; //这里涉及到简单的运算，mark是计算每次需要合并的格子数
            var _number = 1;//保持序号列数字递增
            var columsName = ['idNumber', 'laboratory', 'date', 'carModal', 'carNum', 'carVin', 'task', 'personCharge', 'totalHour', 'taskStatus', 'operation'];//需要合并的列名称
            var columsIndex = [0, 1, 2, 3, 4, 5, 9, 10, 11, 12,];//需要合并的列索引值
            var mergeCondition = 'id';//需要合并的 首要条件  在这个前提下进行内容相同的合并
            // var tdArrL = $('.layui-table-fixed-l > .layui-table-body').find("tr");//序号列左定位产生的table tr
            var tdArrR = $('.layui-table-fixed-r > .layui-table-body').find("tr");//操作列定右位产生的table tr
            var tt = $('.layui-table-fixed-r > .layui-table-body');
            tt.find(".laytable-cell-1-0-12").css("overflow", "visible");
            for (var k = 0; k < columsName.length; k++) { //这里循环所有要合并的列
                var trArr = $(".layui-table-main>.layui-table").find("tr");//所有行
                for (var i = 1; i < res.data.length; i++) { //这里循环表格当前的数据

                    if (data[i][mergeCondition] === data[i - 1][mergeCondition]) {
                        var tdCurArr = trArr.eq(i).find("td").eq(columsIndex[k]);//获取当前行的当前列
                        var tdPreArr = trArr.eq(mergeIndex).find("td").eq(columsIndex[k]);//获取相同列的第一列

                        if (data[i][columsName[k]] === data[i - 1][columsName[k]]) { //后一行的值与前一行的值做比较，相同就需要合并
                            mark += 1;
                            tdPreArr.each(function () {//相同列的第一列增加rowspan属性
                                $(this).attr("rowspan", mark);
                            });
                            tdCurArr.each(function () {//当前行隐藏
                                $(this).css("display", "none");
                            });
                        } else {
                            mergeIndex = i;
                            mark = 1;//一旦前后两行的值不一样了，那么需要合并的格子数mark就需要重新计算
                        }
                    } else {
                        mergeIndex = i;
                        mark = 1;//一旦前后两行的值不一样了，那么需要合并的格子数mark就需要重新计算
                    }
                }
                mergeIndex = 0;
                mark = 1;
            }

            //操作左右定位列的表格
            $.each($("#qua_standard_table").siblings('.layui-table-view').find('.layui-table-main>.layui-table').find("tr"), function (i, v) {
                if ($(v).find('td').eq(5).css('display') === 'none') {
                    // tdArrL.eq(i).find('td').css('display','none');
                    tdArrR.eq(i).find('td').css('display', 'none');
                } else {
                    // tdArrL.eq(i).find('td').find('.laytable-cell-numbers').html(_number++);
                    // tdArrL.eq(i).find('td').css('height',$(v).find('td').eq(2)[0].clientHeight);
                    tdArrR.eq(i).find('td').css('height', $(v).find('td').eq(5)[0].clientHeight);

                }
            })
        }
    </script>

{% endblock %}