{% extends 'base.html' %}
{% load static %}
{% block title %} WORKTIME {% endblock %}


{% block link %}
    <style>
        #app1_top {
            display: flex;
            font-size: 22px;
            border-bottom: 1px solid #b2b2b2;
        }

        .content_left {
            width: 30%;
            height: 220px;
        }

        .content_right {
            padding: 0 20px;
            width: 70%;
        {#border-left: 1px solid #b2b2b2;#} line-height: 40px;
        }

        .layui-table tbody tr:hover, .layui-table-hover, .layui-table-click {
            background-color: rgba(255, 255, 255, 0) !important;
        }

        .layui-table-hover {
            background-color: rgba(255, 255, 255, 0);
        }

        .el-input--prefix .el-input__inner {
            font-size: 21px;
        }

        #qua_standard_table {
            width: 90%;
            margin-left: 5%;
        }
    </style>

    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/vue_2.6.10.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
    <link rel="stylesheet" href="{% static 'ele/index.css' %}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <link rel="stylesheet" href="{% static "ele/index.css" %}">
{% endblock %}


{% block content %}
    <div id="app1" class="layui-fluid">
        <div id="app1_top" class="layui-card" style="padding: 20px">
            <div class="content_right">
                <div style="font-size: 26px;font-weight: bold;text-align: center;letter-spacing: 5px;line-height: 80px">
                    试验信息
                </div>
                <div style="display: flex;justify-content: left;margin-bottom: 20px" id="testinfo_list1">
                    <div style="display: flex;width: 360px;margin-right: 10px">
                        <div style="width: 150px">车型:</div>
                        <el-select v-model="carModal" placeholder="请选择" style="width: 100%">
                            <el-option
                                    v-for="item in car_modal"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div style="display: flex;width: 340px;">
                        <div style="width: 120px">车号:</div>
                        <el-input v-model="carNum" placeholder="请输入车号"></el-input>
                    </div>
                    <div style="display: flex">
                        <div style="width: 100px">Vin:</div>
                        <el-input v-model="carVin" placeholder="请输入Vin"></el-input>
                    </div>
                    <div style="display: flex">
                        <div style="width: 130px">任务类型:</div>
                        <el-select v-model="taskType" placeholder="请选择">
                            <el-option
                                    v-for="item in task_type"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div style="display: flex;justify-content: left" id="testinfo_list2">
                    <div style="display: flex;width: 360px;margin-right: 10px">
                        <div style="width: 150px">任务名称:</div>
                        <el-input v-model="carVin" placeholder="请输入名称" style="width: 100%"></el-input>
                    </div>
                    <div style="display: flex;width: 340px">
                        <div style="width: 120px">负责人:</div>
                        <el-select v-model="role" placeholder="请选择" style="width: 100%">
                            <el-option
                                    v-for="item in car_modal"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div style="display: flex;margin-left: 6.1%">
                        <div style="width: 100px">总工时:</div>
                        <div>{{ total_hour }}</div>
                    </div>
                </div>
                <div style="display: flex;flex-wrap: wrap; font-size: 20px;margin-top: 20px">
                    <div style="width: 18%;font-size: 22px;height: 100%">
                        <div>试验详细内容列表:</div>
                    </div>
                    <div style="width: 70%;">
                        <div style="display: flex;margin-bottom: 10px" v-for="(swi,index) in num" :key="index"
                             :value="swi">
                            <div style="width: 100px">任务{{ index }}:</div>
                            <el-select v-model=" swi.value " placeholder="请选择"
                                       @change="changeTestItem(swi.value,index)">
                                <el-option
                                        v-for="item in test_item"
                                        :key="item.value"
                                        :label="item.value"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                            <div style="padding-left: 10%;margin-bottom: 20px">
                                <span class="demonstration" style="">日期：</span>
                                <el-date-picker
                                        v-model="date_value"
                                        type="date"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </div>
                            <div style="display: flex">
                                <div style="width: 100px">工时:</div>
                                <el-input v-model="swi.workHours" placeholder="请输入工时"></el-input>
                            </div>
                            <div style="display: flex">
                                <div style="width: 100px">角色:</div>
                                <el-select v-model=" swi.role " placeholder="请选择角色">
                                    <el-option
                                            v-for="item in role_item"
                                            :key="item.value"
                                            :label="item.value"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <el-button type="danger" @click="delTask(index)">删除</el-button>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 18%;display: flex;justify-content: center;border: 1px dashed #C0C0C0;margin-bottom: 20px;padding: 5px;width: 64%;margin-top: 20px">
                    <el-button type="primary" @click="addTask">+ 添加任务</el-button>
                </div>
                <div style="margin-left: 18%;display: flex;justify-content: center;margin-top: 20px;padding: 5px;width: 64%;margin-top: 20px">
                    <el-button type="success" @click="submit1" round
                               style="width: 130px;line-height: 25px;font-size: 20px">
                        提交任务
                    </el-button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{% static "ele/index.js" %}"></script>
    <script>
        new Vue(
            {
                el: '#app1',
                data() {
                    return {
                        options: [],
                        date_value: '',
                        car_modal: [],
                        carModal: '',
                        carNum: '',
                        carVin: '',
                        testName: '',
                        testContent: '',
                        role: '',
                        num: [{
                            value: ''
                        }],
                        total_hour: 0,
                        timeHour: '',
                        test_item: [{
                            value: '车辆准备（上转鼓）'
                        }, {
                            value: '轮胎认可测试'
                        }, {
                            value: '测试准备'
                        }],
                        role_item: [{value: 'R'}, {value: 'S'}, {value: 'M'},],
                        task_type: [{value: 1, label: "测试任务"}, {value: 2, label: "管理任务"}],
                        taskType: 1,
                    }
                },

                methods: {
                    addTask() {
                        this.num.push({
                                value: ''
                            }
                        )
                    },
                    delTask(val) {
                        this.num.splice(val, 1);
                        const that = this;
                        this.$options.methods.calculateHours(that);
                    },
                    submit1() {

                        console.log(this.num);

                    },
                    changeTestItem(val, index) {
                        if (val == '测试准备') {
                            this.num[index].workHours = 0.5;
                            console.log(this.num)
                        } else if (val == '轮胎认可测试') {
                            this.num[index].workHours = 2;
                        } else {
                            this.num[index].workHours = 1;
                        }
                        const that = this;
                        this.$options.methods.calculateHours(that);
                    },
                    calculateHours(that) {
                        let nums = that.num;
                        let hours = 0;
                        for (let i = 0; i < nums.length; i++) {
                            if (nums[i].hasOwnProperty('workHours') == true) {
                                hours = hours + nums[i].workHours;
                            } else {
                            }

                        }
                        that.total_hour = hours
                    }
                },

                computed: {
                    timeDefault() {
                        var date = new Date();
                        var s1 = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate());
                        return s1;
                    }
                },

                mounted() {
                    // 初始化查询，默认为前一天
                    this.date_value = this.timeDefault;
                }
            });
    </script>
{% endblock %}




