{% extends 'base.html' %}

{% load static %}

{% block title %}CALCULATE{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue_2.6.10.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
    <style>
        .data_list {
            float: left;
            width: 320px;
            overflow: scroll;
            overflow-y: hidden
        }

        .layui-table-celle {
            font-size: 18px !important;
        }

        .layui-icon-file {
            display: none
        }

        .pic-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-content: flex-start;
            width: 100%;
            height: 750px;
            overflow: scroll
        }

        .pic {
            width: 100%;
            margin: 10px 0px;
        }

        .pic img {
            width: 100%
        }

        #addsec {
            display: flex;
            width: 1200px;
            height: auto;
            flex-wrap: wrap;
        }

        .imgstyle {
            width: 500px;
            height: 400px;

        }
    </style>
{% endblock %}

{% block content %}
    <div class="layui-fluid">
        <!-- 左侧从cookie中获取到的数据 -->
        <div class="data_list">

            <!-- 已选数据的筛选在这里使用layui中的表格实现 ==> 显示一个文件名，同时添加右上方的功能区 -->
            <div class="layui-btn-group demoTable" style="margin-right: 10px">
                <button class="layui-btn layui-btn-sm" data-type=" getCheckData"
                        style="margin-top: 10px;height: 37.89px" lay-demo="getChecked">获取
                </button>
            </div>
            <div class="layui-form" style="float: left;width: 155px;margin-top: 10px;">
                <select name="direction" lay-verify="required" id="direction" lay-search="">
                    <option value="">搜索关键字</option>
                    <option value="1">这里显示勾选的文件名</option>
                </select>
            </div>
            <!-- <table id="data" lay-filter="test"></table> -->
            <table>

            </table>
            <div id="file_tree" class="demo-tree demo-tree-box"></div>


        </div>

        <!-- 右侧关于算法部分==>Tab样式 -->
        <div class="layui-form layui-tab layui-tab-card" style="width:80%;float: left;">
            <!-- <form class="layui-form" action="" lay-filter="example" style="margin-top: 10px"> -->
            <div class="layui-inline layui-form">
                <label class="layui-form-label" style="font-size: 18px;font-weight: bold">算法选择:</label>
                <div class="layui-input-inline">
                    <select lay-verify="required" id="calculate" lay-filter="calculatename">
                        <option value="">直接选择或搜索选择</option>
                        <option value="FFT">FFT</option>
                        <option value="倍频程">Octave</option>
                        <option value="二阶对转速">2nd Order vs RPM</option>
                        <option value="FFT对时间">FFT vs Time</option>
                        <option value="FFT对转速">FFT vs RPM</option>
                        <option value="LEVEL对时间">Level vs Time/option>
                        <option value="LEVEL对转速">Level vs RPM</option>
                    </select>
                </div>
            </div>
            <form class="layui-form" action="">
                <div class="layui-form-item" style="margin-top: 10px">
                    <label class="layui-form-label" style="font-size: 18px;font-weight: bold">数据通道</label>
                    <div class="layui-input-block" lay-demo="changeTree" lay-submit="" lay-filter="formCheckbox"
                         id="channelselectList">

                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="run" lay-submit="" lay-filter="formDemo" lay-demo="pic_data">
                            Run
                        </button>
                        <button type="reset" class="layui-btn layui-btn-normal">Reset</button>
                    </div>
                </div>
            </form>
            <!-- </form> -->

            <!-- <ul class="layui-tab-title">
                <li class="layui-this">FFT</li>
                <li>1/3倍频程</li>
            </ul> -->
            <!-- 这里对应上面li标签里面的内容 -->
            <div class="layui-tab-content" style="height: auto;">
                <div class="layui-tab-item layui-show">
                    <div class="pic-container">
                        <div id="addsec"></div>
                        <div class="pic1">
                        </div>
                    </div>
                </div>
            </div>

            <button class="layui-btn" style="margin: 0px 10px 10px 0px; float: right" onclick="sendbase64()">立即导出
            </button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'js/echart.js' %}"></script>
    <script>
        layui.config({base: '{% static 'home/' %}'}).use('index', function () {
            var $ = layui.jquery,
                layer = layui.layer,
                admin = layui.admin,
                element = layui.element,
                table = layui.table,
                form = layui.form;
        });
    </script>

    <script>
        var channelselect = [];
        var checkedData1;
        var judge_pic = 0;
        var old_tree = [11];
        var echartArr = [];
        var echartdata;
        var letdata;
        var arr = [];
        var series = [];
        var data1 = [];
        var sessionType = sessionStorage.getItem("sessionType");
        console.log(sessionType);
        if (sessionType == 1) {
            var uploadfilenewname = JSON.parse(sessionStorage.getItem("uploadnewname"));
            console.log(Array.isArray(uploadfilenewname))
            $.ajax({
                url: /parse_ppt/,
                dataType: "json",
                data: JSON.stringify({"fileList": uploadfilenewname}),
                type: "put",
                success: function (result) {
                    echartdata = result.data;
                    console.log(result);
                    getpic();
                }
            });
        } else {
            getTree();
        }

        layui.config({base: '{% static 'home/' %}'}).use('index', function () {
            var $ = layui.jquery,
                layer = layui.layer,
                admin = layui.admin,
                element = layui.element,
                table = layui.table,
                form = layui.form;
        });

        function getpic() {
            for (let i = 0; i < echartdata.length; i++) {
                letdata = echartdata[i].data;
                let filename = echartdata[i].filename;
                let chartnum = "main" + i;
                var imgsection = "<div  class='imgstyle' id=" + chartnum + "></div>";
                $("#addsec").append(imgsection);
                var myChart = echarts.init(document.getElementById(chartnum));
                var option = {
                    title: {
                        text: filename,
                        x: 'center',
                        y: 'top',
                    },
                    xAxis: {
                        type: 'value',
                        {#name: '横坐标',#}
                        {#fontSize: '25'#}
                    },
                    yAxis: {
                        type: 'value',
                        {#name: '纵坐标',#}
                        {#fontSize: '25'#}
                    },
                    dataZoom: [
                        {
                            type: 'slider',
                            xAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                        {
                            type: 'slider',
                            yAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                    ],
                    series: [
                        {
                            type: 'line',
                            {#itemStyle: {#}
                            {#    opacity: 1,#}
                            {#    normal: {#}
                            {##}
                            {#        lineStyle: {#}
                            {#            width: 1,#}
                            {#             color: '#FFD700',#}
                            {#        }#}
                            {#    }#}

                            symbolSize: 0.1,
                            showAllSymbol: false,
                            data: letdata
                        }
                    ],
                    animation: false
                };
                myChart.setOption(option);
                var picBase64Info = myChart.getDataURL({
                    pixelRatio: 1,　　//导出的图片分辨率比率,默认是1
                    backgroundColor: 'white',　　//图表背景色
                    excludeComponents: [　　//保存图表时忽略的工具组件,默认忽略工具栏
                        'toolbox'
                    ],
                    type: 'png'　　//图片类型支持png和jpeg
                });
                series.push({
                    filename: echartdata[i].filename,
                    status: echartdata[i].status,
                    channel: echartdata[i].channel,
                    base64: picBase64Info,
                })
            }
        };
        function getpic2() {
            for (let i = 0; i < echartdata.length; i++) {
                letdata = echartdata[i].data;
                letdata2 = echartdata2[i].data;
                let filename = echartdata2[i].filename;
                let chartnum = "main" + i;
                var imgsection = "<div  class='imgstyle' id=" + chartnum + "></div>";
                $("#addsec").append(imgsection);
                var myChart = echarts.init(document.getElementById(chartnum));
                var option = {
                    title: {
                        text: filename,
                        x: 'center',
                        y: 'top',
                    },
                    xAxis: {
                        type: 'value',
                        {#name: '横坐标',#}
                        {#fontSize: '25'#}
                    },
                    yAxis: {
                        type: 'value',
                        {#name: '纵坐标',#}
                        {#fontSize: '25'#}
                    },
                    dataZoom: [
                        {
                            type: 'slider',
                            xAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                        {
                            type: 'slider',
                            yAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                    ],
                    series: [
                        {
                            type: 'line',

                            symbolSize: 0.1,
                            showAllSymbol: false,
                            data: letdata
                        },
                        {
                            type: 'line',

                            symbolSize: 0.1,
                            showAllSymbol: false,
                            data: letdata2
                        }
                    ],
                    animation: false
                };
                myChart.setOption(option);
                var picBase64Info = myChart.getDataURL({
                    pixelRatio: 1,　　//导出的图片分辨率比率,默认是1
                    backgroundColor: 'white',　　//图表背景色
                    excludeComponents: [　　//保存图表时忽略的工具组件,默认忽略工具栏
                        'toolbox'
                    ],
                    type: 'png'　　//图片类型支持png和jpeg
                });
                series.push({
                    filename: echartdata[i].filename,
                    status: echartdata[i].status,
                    channel: echartdata[i].channel,
                    base64: picBase64Info,
                })
            }
        }

        function sendbase64() {
            series = JSON.stringify(series);
            sessionStorage.setItem("filebase64list", series);
            console.log(sessionStorage.getItem("filebase64list"));
            window.open('/test_page/')
        }

        function getTree() {
            var send_message = JSON.parse(sessionStorage.getItem("sessionString"));
            console.log(send_message);
            $.ajax({
                url: "/channelList/",
                dataType: "json",
                type: "put",
                data: JSON.stringify({"file_info": send_message}),
                success: function (result) {
                    old_tree = result.file_info;
                    console.log(old_tree);
                    data1 = old_tree;
                    var VList = result.channel_list;
                    console.log(VList.length)
                    for (let i = 0; i < VList.length; i++) {
                        console.log(VList[i]);
                        $("#channelselectList").append("<input type='checkbox' name=" + VList[i] + " title=" + VList[i] + " value=" + VList[i] + " lay-filter='selectChannellist'>");
                    }

                    layui.use(['tree', 'util', 'form', 'layer'], function () {
                        var tree = layui.tree
                            , layer = layui.layer
                            , form = layui.form
                        util = layui.util
                        //基本演示
                        tree.render({
                            elem: '#file_tree'
                            , data: result.file_info
                            , showCheckbox: true  //是否显示复选框
                            , id: 'demoId12'
                            , isJump: true //是否允许点击节点时弹出新窗口跳转
                            , edit: ['del'], click: function (obj) {
                                var data = obj.data;  //获取当前点击的节点数据
                                layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                            }
                        });

                        form.render();
                        form.on('checkbox(selectChannellist)', function (data) {
                            for (let i = 0; i < data1.length; i++) {
                                var len = data1[i].children;
                                for (let j = 0; j < len.length; j++) {
                                    var lenchild = data1[i].children[j].children;
                                    for (let k = 0; k < lenchild.length; k++) {
                                        var obj = data1[i].children[j].children[k]
                                        if (data.elem.checked == true && obj.title == data.value) {
                                            obj.checked = true;
                                            clickchannel();
                                        } else if (data.elem.checked == false && obj.title == data.value) {
                                            obj.checked = false;
                                            clickchannel();
                                        } else {
                                        }
                                    }
                                }
                            }
                        });

                        //按钮事件
                        util.event('lay-demo', {
                            getChecked: function (othis) {
                                var checkedData = tree.getChecked('demoId12'); //获取选中节点的数据
                                layer.alert(JSON.stringify(checkedData), {shade: 0});
                                console.log(checkedData);
                            }
                            ,
                            changeTree: function () {
                                changeTreeView();
                            },
                            pic_data: function () {
                                checkedData1 = tree.getChecked('demoId12'); //获取选中节点的数据
                                {#layer.alert(JSON.stringify(checkedData1), {shade: 0});#}
                                layer.msg("正在计算中...")
                                checkedData1 = JSON.parse(JSON.stringify(checkedData1));
                                getchannellist();
                                console.log(checkedData1);
                                //
                                var channel_number = [];
                                for (let i = 0; i < checkedData1.length; i++) {
                                    for (let j = 0; j < checkedData1[i].children.length; j++) {
                                        for (let k = 0; k < checkedData1[i].children[j].children.length; k++) {
                                            console.log(checkedData1[i].children[j].children[k].title);
                                            let channelname = checkedData1[i].children[j].children[k].title;
                                            channel_number.push(channelname)
                                        }
                                    }
                                }
                                console.log(channel_number);

                                $.ajax({
                                    // url:'/static/result2.json',
                                    url:'/static/result_data.json',
                                    async:false,
                                    success:function (data) {

                                       result=data;
                                       console.log(result);
                                    }
                                });
                                 $.ajax({
                                    // url:'/static/result2.json',
                                    url:'/static/result2.json',
                                    async:false,
                                    success:function (data) {

                                       result2=data;
                                       console.log(result2);
                                    }
                                });
                                if (channel_number.length == 1) {

                                    $("#addsec").html("");
                                    echartdata = [result2.data[0]];
                                    console.log(echartdata);
                                    getpic();
                                } else if (channel_number.length == 4) {
                                    $("#addsec").html("");
                                    echartdata = result.data;
                                    console.log(echartdata);
                                    getpic();
                                } else if (channel_number.length == 5) {
                                    $("#addsec").html("");
                                    echartdata = result.data;
                                    echartdata2 = result2.data;
                                    getpic2();
                                }


                            },
                            setChecked: function () {
                                tree.setChecked('demoId1', [12, 16]); //勾选指定节点
                            }
                            , reload: function () {
                                //重载实例
                                tree.reload('demoId1', {});

                            }
                        });
                    });
                }
            });
        };

        function clickchannel() {
            layui.use(['tree', 'util'], function () {
                var tree = layui.tree,
                    layer = layui.layer,
                    util = layui.util,
                    form = layui.form,
                    data = data1
                tree.render({
                    elem: '#file_tree'
                    , data: data
                    , showCheckbox: true  //是否显示复选框
                    , id: 'demoId1'
                    , isJump: true //是否允许点击节点时弹出新窗口跳转
                    ,
                    edit: ['del'], click: function (obj) {
                        var data = obj.data;  //获取当前点击的节点数据
                        layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                    }
                });
            });
        }

        function changeTreeView() {
            layui.use('form', function () {
                var tree = layui.tree;
                var form = layui.form;
                var channellist = [];
                form.on('submit(formCheckbox)', function (data) {
                    for (var key in data.field) {
                        channellist.push(data.field[key]);
                    }
                    ;
                    console.log(channelselect);
                    for (let i = 0; i < old_tree[0].children.length; i++) {
                        for (let t = old_tree[0].children[i].children.length - 1; t >= 0; t--) {
                            if (channellist.includes(old_tree[0].children[i].children[t].title)) {
                                old_tree[0].children[i].children[t]['checked'] = true;
                            } else {
                                old_tree[0].children[i].children[t]['checked'] = false;
                            }
                        }
                    }
                    tree.render({
                        elem: '#file_tree'
                        , data: old_tree
                        , showCheckbox: true  //是否显示复选框
                        , id: 'demoId12'
                        , isJump: true //是否允许点击节点时弹出新窗口跳转
                        , click: function (obj) {
                            var data = obj.data;  //获取当前点击的节点数据
                            layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                        }
                    });
                    return false
                });
            });
        };

        function getchannellist() {
            layui.use('form', function () {
                var form = layui.form;
                //监听提交
                form.on('submit(formDemo)', function (data) {
                    var calculatename = $("#calculate option:selected").val();


                    $.ajax({
                        url: "/channelList/",
                        dataType: "json",
                        type: "post",
                        data: JSON.stringify({"calculate": calculatename, "file_info": checkedData1[0]}),
                        success: function (result) {
                            console.log(result.data);
                            for (let i = 0; i < result.data.length; i++) {
                                if (judge_pic == 0) {
                                    judge_pic = 1;
                                    $(".pic1").append(
                                        `<div class="pic">
                                        <img src="${result.data[i].img_path}">
                                    </div>`
                                    );
                                } else {
                                    var obj = document.getElementsByClassName("pic1")[0];
                                    obj.style.width = "37%";
                                    // console.log(result.data[i].image_path);
                                    $(".pic-container").append(
                                        `<div class="pic" style="width:37%">
                                    <img src="${result.data[i].img_path}">
                                </div>`
                                    );
                                }
                            }
                        }
                    })
                    return false
                });
            });
        }
    </script>

    <script>
        layui.use(['form', 'table'], function () {
            var $ = layui.jquery,
                table = layui.table;

            //方法级渲染
            tableIns = table.render({
                width: 200,
                elem: '#data',
                page: false,
                height: 'full-130',
                // height: 800,
                url: "http://127.0.0.1:8000/car/",
                cols: [
                    [{
                        type: 'checkbox',
                        LAY_CHECKED: true,
                    }, {
                        field: 'file_name',
                        title: '文件名',
                        unresize: true,
                    }]
                ],
            });
            var $ = layui.$,
                active = {
                    getCheckData: function () { //获取选中数据
                        var checkStatus = table.checkStatus('idTest'),
                            data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                    }
                };
        });
    </script>
{% endblock %}