{% extends 'base.html' %}

{% load static %}

{% block title %}CALCULATE{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'ele/index.css' %}" media="all">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue_2.6.10.js' %}"></script>
    <script type="text/javascript" src="{% static 'ele/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
    <style>
        .data_list {
            float: left;
            width: 320px;
            overflow: scroll;
            overflow-y: hidden
        }

        .layui-table-celle {
            font-size: 18px !important;
        }

        .layui-icon-file {
            display: none
        }

        .pic-container {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            width: 100%;
            height: 750px;
            overflow: scroll
        }

        .pic {
            width: 100%;
            margin: 10px 0px;
        }

        .pic img {
            width: 100%
        }

        #addsec {
            display: flex;
            width: 1200px;
            height: auto;
            flex-wrap: wrap;
        }

        .imgstyle {
            width: 500px;
            height: 400px;

        }

        .layui-input-block {
            padding: 20px;
        }

        #listblock {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="layui-fluid">
        <!-- 左侧从cookie中获取到的数据 -->
        <div class="data_list">

            <!-- 已选数据的筛选在这里使用layui中的表格实现 ==> 显示一个文件名，同时添加右上方的功能区 -->
            <div class="layui-btn-group demoTable" style="margin-right: 10px">
                <button class="layui-btn layui-btn-sm" data-type=" getCheckData"
                        style="margin-top: 10px;height: 37.89px" lay-demo="getChecked">获取
                </button>
            </div>
            <div class="layui-form" style="float: left;width: 155px;margin-top: 10px;">
                <select name="direction" lay-verify="required" id="direction" lay-search="">
                    <option value="">搜索关键字</option>
                    <option value="1">这里显示勾选的文件名</option>
                </select>
            </div>
            <!-- <table id="data" lay-filter="test"></table> -->
            <table>

            </table>
            <div id="file_tree" class="demo-tree demo-tree-box"></div>


        </div>

        <!-- 右侧关于算法部分==>Tab样式 -->
        <div class="layui-form layui-tab layui-tab-card" style="width:80%;float: left;">
            <!-- <form class="layui-form" action="" lay-filter="example" style="margin-top: 10px"> -->
            <div class="layui-inline layui-form">
                <label class="layui-form-label" style="font-size: 18px;font-weight: bold">算法选择:</label>
                <div class="layui-input-inline">
                    <select lay-verify="required" id="calculate" lay-filter="calculatename">
                        <option value="">直接选择或搜索选择</option>
                        <option value="FftCalculate">FFT</option>
                        <!--<option value="OctaveFft">Octave</option>-->
                        <option value="StartStop">Start Stop</option>
                        <option value="LevelVsRpm">Level vs rpm</option>
                        <option value="LevelVsTime">Level vs time</option>
                        <option value="OrderVsVfft">2nd Order vs rpm</option>
                    </select>
                </div>
            </div>
            <div class="layui-form" action="">
                <div class="layui-form-item" style="margin-top: 10px">
                    <label class="layui-form-label"
                           style="font-size: 18px;font-weight: bold;padding-top: 30px">数据通道:</label>
                    <div class="layui-input-block" lay-demo="changeTree" lay-submit="" lay-filter="formCheckbox"
                         id="channelselectList">

                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 10px">
                    <label class="layui-form-label"
                           style="font-size: 18px;font-weight: bold;padding-top: 30px">参考通道:</label>
                    <div class="layui-input-block"
                         id="referenceChannel">

                    </div>
                </div>
                <div class="layui-form-item">
                    <div style="display: flex">
                        <div class="layui-input-block" style="border: 1px solid gainsboro">
                            <button class="layui-btn" id="run" lay-submit="" lay-demo="pic_data">Run</button>
                            </button>
                            <button type="reset" class="layui-btn layui-btn-normal">Reset</button>
                        </div>
                        <div class="layui-input-block"
                             style="border: 1px solid gainsboro;display: flex;justify-content: space-around">
                            <div id="app1" style="width:55%">
                                <el-cascader
                                        v-model="value1"
                                        :options="options"
                                        :show-all-levels="false" placeholder="请选择步长">

                                </el-cascader>
                            </div>
                            <button class="layui-btn" id="run1" lay-submit="" lay-filter="formDemo"
                                    lay-demo="pic_data2">
                                Run
                            </button>
                            <button class="layui-btn" lay-submit="" lay-filter="formDemo" lay-demo="exportdata()" onclick="exportexcel()">导出数据
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </form> -->

            <!-- <ul class="layui-tab-title">
                <li class="layui-this">FFT</li>
                <li>1/3倍频程</li>
            </ul> -->
            <!-- 这里对应上面li标签里面的内容 -->
            <div class="layui-tab-content" style="height: auto;">
                <div class="layui-tab-item layui-show">
                    <div class="pic-container">
                        <div id="addsec"></div>
                        <div class="pic1">
                        </div>
                        <div id="listblock"></div>
                    </div>
                </div>
            </div>

            <button class="layui-btn" style="margin: 0px 10px 10px 0px; float: right" onclick="sendbase64()">立即导出
            </button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'js/echart.js' %}"></script>


    <script>
        new Vue({
            el: '#app1',
            data: function () {
                return {
                    value1: [],
                    options: [{
                        value: 'frequency',
                        label: '频率(hz)',
                        children: [{
                            value: '50',
                            label: '50'
                        }, {
                            value: '100',
                            label: '100'
                        }, {
                            value: '200',
                            label: '200'
                        }, {
                            value: '500',
                            label: '500'
                        }, {
                            value: '1000',
                            label: '1000'
                        }]
                    }, {
                        value: 'rpm',
                        label: '转速(rpm)',
                        children: [{
                            value: '100',
                            label: '100'
                        }, {
                            value: '200',
                            label: '200'
                        }, {
                            value: '500',
                            label: '500'
                        }, {
                            value: '1000',
                            label: '1000'
                        }]
                    }, {
                        value: 'time',
                        label: '时间(s)',
                        children: [{
                            value: '1',
                            label: '1'
                        }, {
                            value: '2',
                            label: '2'
                        }, {
                            value: '5',
                            label: '5'
                        }, {
                            value: '10',
                            label: '10'
                        }]
                    }]


                }
            },

        })
        layui.config({base: '{% static 'home/' %}'}).use('index', function () {
            var $ = layui.jquery,
                layer = layui.layer,
                admin = layui.admin,
                element = layui.element,
                table = layui.table,
                form = layui.form;
        });

    </script>

    <script>
        var channelselect = [];
        var judge_pic = 0;
        var old_tree = [11];
        var echartArr = [];
        var echartdata;
        var letdata;
        var arr = [];
        var series = [];
        var data1 = [];
        var referenceChannel = [];
        var tree_info;

        var sessionType = sessionStorage.getItem("sessionType");
        console.log(sessionType);
        if (sessionType == 1) {
            var uploadfilenewname = JSON.parse(sessionStorage.getItem("uploadnewname"));
            $.ajax({
                url: '/calculate/parse_ppt/',
                dataType: "json",
                data: JSON.stringify({"fileList": uploadfilenewname}),
                type: "put",
                success: function (result) {
                    echartdata = result.data;
                    console.log(result);
                    getpic();
                }
            });
        } else {
            getTree();
        }

        layui.config({base: '{% static 'home/' %}'}).use('index', function () {
            var $ = layui.jquery,
                layer = layui.layer,
                admin = layui.admin,
                element = layui.element,
                table = layui.table,
                form = layui.form;
        });

        function getpic() {
            for (let i = 0; i < echartdata.length; i++) {
                letdata = echartdata[i].data;
                let filename = echartdata[i].channel;
                let leg = echartdata[i].filename
                let chartnum = "main" + i;
                var imgsection = "<div  class='imgstyle' id=" + chartnum + "></div>";
                $("#addsec").append(imgsection);
                var myChart = echarts.init(document.getElementById(chartnum));
                var option = {
                    title: {
                        text: filename,
                        x: '8%',
                        y: 'top',
                    },
                    xAxis: {
                        type: 'value',
                        {#name: '横坐标',#}
                        {#fontSize: '25'#}
                    },

                    yAxis: {
                        type: 'value',
                        {#name: '纵坐标',#}
                        {#fontSize: '25'#}
                    },

                    dataZoom: [
                        {
                            type: 'slider',
                            xAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                        {
                            type: 'slider',
                            yAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                    ],
                    toolbox: {

                        feature: {
                            restore: {},
                            saveAsImage: {},
                        }
                    },
                    legend: {leg},

                    series: [
                        {
                            type: 'line',
                            symbolSize: 0.1,
                            showAllSymbol: false,
                            data: letdata,
                            name: leg,
                        }
                    ],
                    animation: false
                };
                myChart.setOption(option);
                var picBase64Info = myChart.getDataURL({
                    pixelRatio: 1,　　//导出的图片分辨率比率,默认是1
                    backgroundColor: 'white',　　//图表背景色
                    excludeComponents: [　　//保存图表时忽略的工具组件,默认忽略工具栏
                        'toolbox'
                    ],
                    type: 'png'　　//图片类型支持png和jpeg
                });
                series.push({
                    filename: echartdata[i].filename,
                    status: echartdata[i].status,
                    channel: echartdata[i].channel,
                    base64: picBase64Info,
                })
            }
        };

        function getpic2() {
            for (let i = 0; i < echartdata.length; i++) {
                letdata = echartdata[i].data;
                letdata2 = echartdata2[i].data;
                let filename = echartdata2[i].filename;
                let chartnum = "main" + i;
                var imgsection = "<div  class='imgstyle' id=" + chartnum + "></div>";
                $("#addsec").append(imgsection);
                var myChart = echarts.init(document.getElementById(chartnum));
                var option = {
                    title: {
                        text: filename,
                        x: 'center',
                        y: 'top',
                    },
                    xAxis: {
                        type: 'value',
                        {#name: '横坐标',#}
                        {#fontSize: '25'#}
                    },
                    yAxis: {
                        type: 'value',
                        {#name: '纵坐标',#}
                        {#fontSize: '25'#}
                    },
                    toolbox: {

                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none',
                            },
                            restore: {},
                            saveAsImage: {},
                            dataView: {readOnly: false},
                        }
                    },
                    dataZoom: [
                        {
                            type: 'slider',
                            xAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                        {
                            type: 'slider',
                            yAxisIndex: 0,
                            start: 0,
                            end: 100
                        },
                    ],
                    series: [
                        {
                            type: 'line',

                            symbolSize: 0.1,
                            showAllSymbol: false,
                            data: letdata
                        },
                        {
                            type: 'line',

                            symbolSize: 0.1,
                            showAllSymbol: false,
                            data: letdata2
                        }
                    ],
                    animation: false
                };
                myChart.setOption(option);
                var picBase64Info = myChart.getDataURL({
                    pixelRatio: 1,　　//导出的图片分辨率比率,默认是1
                    backgroundColor: 'white',　　//图表背景色
                    excludeComponents: [　　//保存图表时忽略的工具组件,默认忽略工具栏
                        'toolbox'
                    ],
                    type: 'png'　　//图片类型支持png和jpeg
                });
                series.push({
                    filename: echartdata[i].filename,
                    status: echartdata[i].status,
                    channel: echartdata[i].channel,
                    base64: picBase64Info,
                })
            }
        }

        function sendbase64() {
            series = JSON.stringify(series);
            sessionStorage.setItem("filebase64list", series);
            window.open('/test_page/')
        }

        String.prototype.signMix = function () {
            if (arguments.length === 0) return this;
            var param = arguments[0], str = this;
            if (typeof (param) === 'object') {
                for (var key in param)
                    str = str.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
                return str;
            } else {
                for (var i = 0; i < arguments.length; i++)
                    str = str.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
                return str;
            }
        };

        var exportdata=[];
        function exportexcel() {
            console.log("111");
            var table = layui.table;
            for(let i = 0 ; i<exportdata.length;i++){
                table.exportFile(listblock, exportdata[i], 'xls')
            }
        }

        function getTree() {
            var send_message = JSON.parse(sessionStorage.getItem("sessionString"));
            console.log(send_message);
            $.ajax({
                url: "/calculate/channellist/",
                dataType: "json",
                type: "put",
                data: JSON.stringify({"file_info": send_message}),
                success: function (result) {
                    console.log(result);
                    tree_info = result.file_info;
                    old_tree = result.file_info;
                    console.log(old_tree);
                    data1 = result;
                    var VList = result.channel_list;
                    for (let i = 0; i < VList.length; i++) {
                        $("#channelselectList").append("<input type='checkbox' name=" + VList[i] + " title=" + VList[i] + " value=" + VList[i] + " lay-filter='selectChannellist'>");
                        $("#referenceChannel").append("<input type='checkbox' name=" + VList[i] + " title=" + VList[i] + " value=" + VList[i] + ">");
                    }

                    layui.use(['tree', 'util', 'form', 'layer'], function () {
                        var tree = layui.tree,
                            layer = layui.layer,
                            form = layui.form,
                            util = layui.util,
                            layedit = layui.layedit;
                        laydate = layui.laydate;
                        $ = layui.jquery;
                        upload = layui.upload;

                        //基本演示
                        tree.render({
                            elem: '#file_tree'
                            , data: tree_info
                            , showCheckbox: true  //是否显示复选框
                            , id: 'demoId12'
                            , isJump: true //是否允许点击节点时弹出新窗口跳转
                            , edit: ['del'], click: function (obj) {
                                var data = obj.data;  //获取当前点击的节点数据
                                layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                            }
                        });


                        form.render();
                        form.on('checkbox(selectChannellist)', function (data) {
                            for (let i = 0; i < data1.length; i++) {
                                var len = data1[i].children;
                                for (let j = 0; j < len.length; j++) {
                                    var lenchild = data1[i].children[j].children;
                                    for (let k = 0; k < lenchild.length; k++) {
                                        var obj = data1[i].children[j].children[k]
                                        if (data.elem.checked == true && obj.title == data.value) {
                                            obj.checked = true;
                                            clickchannel();
                                        } else if (data.elem.checked == false && obj.title == data.value) {
                                            obj.checked = false;
                                            clickchannel();
                                        } else {
                                        }
                                    }
                                }
                            }
                        });

                        //按钮事件
                        util.event('lay-demo', {
                            getChecked: function (othis) {
                                var checkedData = tree.getChecked('demoId12'); //获取选中节点的数据
                                layer.alert(JSON.stringify(checkedData), {shade: 0});
                            }
                            ,
                            changeTree: function () {
                                changeTreeView();
                            },
                            pic_data2: function (othis) {
                                console.log(old_tree);
                                document.getElementById("listblock").innerHTML = "";
                                let ph1 = document.getElementsByClassName("el-input__inner");
                                let stepvalue = ph1[0].value;
                                let checkedData2 = tree.getChecked('demoId12'); //获取选中节点的数据
                                console.log(checkedData2);
                                let file_channel11 = tree.getChecked('demoId12');//qqq
                                let checkedData3 = JSON.parse(JSON.stringify(checkedData2));
                                referenceChannel = [];
                                $("#referenceChannel input:checkbox:checked").each(function (i) {
                                    referenceChannel.push($(this).val());
                                });
                                let channel_number = [];
                                for (let i = 0; i < checkedData3.length; i++) {
                                    for (let j = 0; j < checkedData3[i].children.length; j++) {
                                        for (let k = 0; k < checkedData3[i].children[j].children.length; k++) {
                                            let channelname = checkedData3[i].children[j].children[k].title;
                                            channel_number.push(channelname)
                                        }
                                    }
                                }
                                ;
                                let calculatename = $("#calculate option:selected").val();
                                let getdata1 = old_tree;
                                getdata1[0].children = file_channel11[0].children;
                                getdata1[0].calculate_name = calculatename;
                                getdata1[0].refer_channel = referenceChannel;
                                getdata1[0].step = stepvalue;
                                $.ajax({
                                    url: '/calculate/parse_ppt/',
                                    dataType: "json",
                                    data: JSON.stringify(getdata1[0]),
                                    type: "patch",
                                    success: function (result) {
                                        console.log(result);
                                       // if(result.code==0){
                                         //   alert(result.msg)
                                        //}
                                        //test测试代码
                                        for (let i = 0; i < result.result.length; i++) {
                                            let result_text = {};
                                            result_text.data = [];
                                            result_text.filename = result.result[i].filename;
                                            for (let j = 0; j < result.result[i].data.length; j++) {
                                                let k = result.result[i].data[j];
                                                let keys1 = [];
                                                for (var p1 in k) {
                                                    if (k.hasOwnProperty(p1)) {
                                                        keys1.push(p1)
                                                    }
                                                }
                                                for (let m = 0; m < result.result[i].data[j][keys1[0]].length; m++) {
                                                    let t = result.result[i].data[j][keys1[0]][m];
                                                    console.log(t);
                                                    t.channel = keys1[0];
                                                    {#console.log(t.point);#}
                                                    {#t.point.splice(0, 1);#}
                                                    t.point = "("+t.point[0]+", "+t.point[1]+")";
                                                    t.range = t.range[0] + "-" + t.range[1];
                                                    result_text.data.push(t);
                                                }
                                            }

                                            $("#listblock").append("<table class='layui-hide table-content' id='test" + i + "'></table>");
                                            let result_j = result_text.data;
                                            exportdata.push(result_text.data);
                                            layui.use('table', function () {
                                                var table = layui.table;
                                                table.render({
                                                    elem: '#test{0}'.signMix(i),
                                                    data: result_j
                                                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                                                    , limit: 200,
                                                    cols: [
                                                        [
                                                            {title: result_text.filename, colspan: 3, align: "center"}
                                                        ],
                                                        [
                                                            {field: 'channel', width: 180, title: '通道名',}
                                                            , {field: 'range', width: 180, title: '范围'}
                                                            , {field: 'point', width: 180, title: '最大值',}

                                                        ]]
                                                });
                                            });
                                        }
                                    }
                                });
                            },
                            exportdata: function () {

                            },


                            pic_data: function () {
                                document.getElementById("listblock").innerHTML = "";
                                let checkedData4 = tree.getChecked('demoId12'); //获取选中节点的数据
                                console.log(checkedData4);
                                let file_channel = tree.getChecked('demoId12');//qqq
                                let checkedData1 = JSON.parse(JSON.stringify(checkedData4));
                                //getchannellist();
                                referenceChannel = [];
                                $("#referenceChannel input:checkbox:checked").each(function (i) {
                                    referenceChannel.push($(this).val());
                                });
                                //console.log(referenceChannel);
                                //
                                let channel_number = [];
                                for (let i = 0; i < checkedData1.length; i++) {
                                    for (let j = 0; j < checkedData1[i].children.length; j++) {
                                        for (let k = 0; k < checkedData1[i].children[j].children.length; k++) {
                                            let channelname = checkedData1[i].children[j].children[k].title;
                                            channel_number.push(channelname)
                                        }
                                    }
                                }
                                ;
                                let calculatename = $("#calculate option:selected").val();
                                let getdata = old_tree;
                                getdata[0].children = file_channel[0].children;
                                getdata[0].calculate_name = calculatename;
                                getdata[0].refer_channel = referenceChannel;
                                console.log(getdata);

                                $.ajax({
                                    url: '/calculate/user_calculate/',
                                    dataType: "json",
                                    data: JSON.stringify(getdata[0]),
                                    type: "put",
                                    success: function (result) {
                                        echartdata = result.data;
                                        console.log(result);
                                        getpic();
                                    }
                                });
                            },


                            setChecked: function () {
                                tree.setChecked('demoId12', [12, 16]); //勾选指定节点
                            }
                            , reload: function () {
                                //重载实例
                                tree.reload('demoId12', {});
                            }
                        });
                    });
                }
            });
        };


        function clickchannel() {
            layui.use(['tree', 'util'], function () {
                var tree = layui.tree,
                    layer = layui.layer,
                    util = layui.util,
                    form = layui.form,
                    datah = data1
                tree.render({
                    elem: '#file_tree'
                    , data: tree_info
                    , showCheckbox: true  //是否显示复选框
                    , id: 'demoId12'
                    , isJump: true //是否允许点击节点时弹出新窗口跳转
                    ,
                    edit: ['del'], click: function (obj) {
                        var data = obj.data;  //获取当前点击的节点数据
                        layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                    }
                });
            });
        }

        function changeTreeView() {
            layui.use('form', function () {
                var tree = layui.tree;
                var form = layui.form;
                var channellist = [];
                form.on('submit(formCheckbox)', function (data) {
                    for (var key in data.field) {
                        channellist.push(data.field[key]);
                    }
                    ;
                    console.log(channelselect);
                    for (let i = 0; i < old_tree[0].children.length; i++) {
                        for (let t = old_tree[0].children[i].children.length - 1; t >= 0; t--) {
                            if (channellist.includes(old_tree[0].children[i].children[t].title)) {
                                old_tree[0].children[i].children[t]['checked'] = true;
                            } else {
                                old_tree[0].children[i].children[t]['checked'] = false;
                            }
                        }
                    }
                    tree.render({
                        elem: '#file_tree'
                        , data: tree_info
                        , showCheckbox: true  //是否显示复选框
                        , id: 'demoId12'
                        , isJump: true //是否允许点击节点时弹出新窗口跳转
                        , click: function (obj) {
                            var data = obj.data;  //获取当前点击的节点数据
                            layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                        }
                    });
                    return false
                });
            });
        };


        function getchannellist() {
            layui.use('form', function () {
                var form = layui.form;

                //监听提交
                form.on('submit(formDemo)', function (data) {
                    let calculatename = $("#calculate option:selected").val();
                    $.ajax({
                        url: "/calculate/channellist/",
                        dataType: "json",
                        type: "post",
                        data: JSON.stringify({"calculate": calculatename, "file_info": checkedData1[0]}),
                        success: function (result) {
                            console.log(result.data);
                            for (let i = 0; i < result.data.length; i++) {
                                if (judge_pic == 0) {
                                    judge_pic = 1;
                                    $(".pic1").append(
                                        `<div class="pic">
                                        <img src="${result.data[i].img_path}">
                                    </div>`
                                    );
                                } else {
                                    var obj = document.getElementsByClassName("pic1")[0];
                                    obj.style.width = "37%";
                                    // console.log(result.data[i].image_path);
                                    $(".pic-container").append(
                                        `<div class="pic" style="width:37%">
                                    <img src="${result.data[i].img_path}">
                                </div>`
                                    );
                                }
                            }
                        }
                    })
                    return false
                });
            });
        }
    </script>

    <script>
        layui.use(['form', 'table'], function () {
            var $ = layui.jquery,
                table = layui.table;

            //方法级渲染
            tableIns = table.render({
                width: 200,
                elem: '#data',
                page: false,
                height: 'full-130',
                // height: 800,
                url: "http://127.0.0.1:8000/car/",
                cols: [
                    [{
                        type: 'checkbox',
                        LAY_CHECKED: true,
                    }, {
                        field: 'file_name',
                        title: '文件名',
                        unresize: true,
                    }]
                ],
            });
            var $ = layui.$,
                active = {
                    getCheckData: function () { //获取选中数据
                        var checkStatus = table.checkStatus('idTest'),
                            data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                    }
                };
        });
    </script>
{% endblock %}