{% extends 'base.html' %}
{% load static %}
{% block title %}HOME{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/layui/css/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
    <style>
        .tips {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-left: 1%;
            margin-right: 5%
        }

        .tips-block {
            width: 24%;
            height: 150px;
            background: white;
            border-radius: 2px
        }

        .schedule {
            width: 23%;
            height: 430px;
            background: white;
            border-radius: 2px;
            margin-left: 1.2%;
        }

        .tips-block-title {
            padding-left: 14px;
            font-size: 21px;
            font-weight: bold;
            border-bottom: 1px solid #f6f6f6;
            color: #333;
            border-radius: 2px 2px 0 0;
            line-height: 42px;
            height: 42px;
            display: flex;
            padding-right: 20px;
            justify-content: space-between
        }

        .tips-block-all-data {
            font-size: 14px;
            /* border-bottom: 1px solid #f6f6f6; */
            color: #333;
            border-radius: 2px 2px 0 0;
            line-height: 42px;
            height: 42px;
            display: flex;
            justify-content: space-between
        }

        .layui-icon-flag:before {
            content: "\e66c";
        }

        .time-frequency {
            border-radius: 2px;
            padding: 0px 6px;
            top: 50%;
            margin-top: 12px;
            height: 21px;
            line-height: 21px;
            font-size: 13px;
            color: white;
        }

        .day {
            background-color: #FFB800;
        }

        .week {
            background-color: #1E9FFF;
        }

        .month {
            background-color: #2F4056;
        }

        .tips-block-datadisplay {
            padding: 12px
        }

        .now-data {
            font-size: 36px;
            color: #666;
            line-height: 36px;
            padding: 5px 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }

        .task-list {
            overflow: auto;
            word-break: break-all;
            padding: 16px;
            font-size: 20px;
            height: 350px
        }

        .task-list div {
            margin-bottom: 8px;
            font-size: 18px
        }

        .index-body {
            display: flex;
            justify-content: flex-start;
            margin-left: 1%;
        }

        .data-chart {
            width: 47%;
            background: white;
            height: 430px;
        }

        .chart-title {
            padding-left: 10px;
            border-bottom: 1px #f6f6f6 solid;
            line-height: 40px;
            height: 40px;
            font-size: 16px
        }

        .bulletbox-button {
            position: relative;
            top: 15px
        }

        .bulletbox-button button {
            background-color: #1E9FFF;
            color: white;
            width: 80px;
            text-align: center;
            font-size: 12px;
            line-height: 25px;
            border: 0px;
            font-weight: bold;
            height: 25px;
        }

        .list-data-close {
            padding-right: 8px;
            width: 16px;
            height: 16px;
        }

        .list-data-close:hover {
            width: 20px;
            height: 20px;
        }

        .list-data {
            white-space: nowrap;
            font-size: 20px;
            margin-bottom: 5px;
            /* padding-right: 20px; */
            /* background: rgb(57, 170, 226) url("../image/close.gif") right 9px no-repeat */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="layui-body" id="LAY_app_body" style="padding:15px">
        <div class="tips">
            <div class="tips-block">
                <div class="tips-block-title">
                    <div>访问量</div>
                    <div class="time-frequency day">日</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data" id="totalpageview"></div>
                    <div class="tips-block-all-data">
                        <div>总访问量</div>
                        <div>28,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>
            <div class="tips-block">
                <div class="tips-block-title">
                    <div>文件上传量</div>
                    <div class="time-frequency week">周</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data" id="totalupload"></div>
                    <div class="tips-block-all-data">
                        <div>文件上传总量</div>
                        <div>5,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>
            <div class="tips-block">
                <div class="tips-block-title">
                    <div>文件下载量</div>
                    <div class="time-frequency month">月</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data" id="totaldownload"></div>
                    <div class="tips-block-all-data">
                        <div>文件下载总量</div>
                        <div>1,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>
            <div class="tips-block">
                <div class="tips-block-title">
                    <div>待完成任务数量</div>
                    <div class="time-frequency" style="background-color: #009688">周</div>
                </div>
                <div class="tips-block-datadisplay">
                    <div class="now-data" id="tasknumber"></div>
                    <div class="tips-block-all-data">
                        <div>已完成任务总量</div>
                        <div>1,292&nbsp &nbsp &nbsp<i class="layui-inline layui-icon layui-icon-flag"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-body">
            <div class="data-chart">
                <div class="chart-title" style="font-weight:bold;font-size: 18px;color: black">数据概览</div>
                <div style="display: flex;justify-content: flex-start;;">
                    <div id="main" style="width: 96%;height:400px;margin-left: 2%"></div>
                </div>
            </div>
            <div style="width: 22.8%;margin-left: 1.2%;background: white;">
                <div id="main2" style="width: 82%;height:400px;padding-left: 9%;margin-top: 20px;"></div>
            </div>
            <div class="schedule">
                <div class="tips-block-title" style="font-size: 19px;font-weight: bold">
                    <div>待办事项</div>
                    <div class="time-frequency week">周</div>
                </div>
                <div class="task-list" id="task_list">

                </div>
            </div>
        </div>
        <div class="layui-form">
            <table class="layui-table" style="background: white;width: 94.2%;margin-left: 1%" id="file_info"
                   lay-filter="test">
            </table>
        </div>
    </div>
    <div id="shadowlayer" style="width:100%;
    height: 100%;position:absolute;background:rgba(0,0,0,.5);z-index: 1000;display: none;top:0px"></div>
    <div id="shadowtext"
         style="width: 420px;height: 400px;background-color:white;position:absolute;z-index: 1001;left: 50%;margin-left:-275px;top:50%;margin-top:-240px;border-radius:5px;display: none">
        <div class="Popup-head" style="height: 40px;border-bottom:1px #DCDCDC solid">
            <div style="width:30px;height: 30px;margin-left:90%;padding-top:7px">
                <img id="closewindow11" style="width:100%;height: 100%;"
                     src="{% static "image/close_window.png" %}"/>
            </div>
        </div>
        <div style="height: 290px;margin-bottom:10px;padding:6px;overflow: auto" id="namelist"></div>
        <div class="Popup-bottom" style="height: 60px;display: flex;justify-content:center">
            <button style="border:0px;width:150px;height: 40px;background-color:#1E9FFF;color:white;text-align:center;line-height:40px;font-size:16px"
                    id="confirmcalculate">确认计算
            </button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'js/echart.js' %}"></script>

    <script>
        var userList = ["22", "34"] // 试验室人员的列表
        var user_id = sessionStorage.user_id;

        function isInArray(arr, value) {
            for (var i = 0; i < arr.length; i++) {
                if (value === arr[i]) {
                    return true;
                }
            }
            return false;
        }

        var isManager = isInArray(userList, user_id)
        $.ajax({
            url: "/user/home/",
            dataType: "json",
            data: {"user_id": user_id},
            type: "post",
            success: function (result) {
                $("#totalpageview").text(result.views);
                $("#totalupload").text(result.user_update);
                $("#totaldownload").text(result.user_download);
                $("#tasknumber").text(result.user_task);
                var vtask = result.user_task_info;
                if (vtask.length == 0) {

                } else {
                    if (isManager) {
                        $("#task_list").append("<div ><a href='/time/submit/' style='color:red'>" + "1." + "工时审核" + " -- " + vtask.length + "条</a> </div>");
                    } else {
                        $("#task_list").append("<div ><a href='/time/check_/' style='color:red'>" + "1." + "工时审核" + " -- " + vtask.length + "条</a> </div>");
                    }
                }

                /*for (let j = 0; j < vtask.length; j++) {
                    let k = j + 1;
                    $("#task_list").append("<div> " + k + ". " + vtask[j] + " </div>");
                }*/
            }
        });

        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: ''
            },
            tooltip: {},
            legend: {
                // data: ['Upload data volume', 'Download data volume'],
                data: ['上传量', '下载量'],
                "textStyle": {
                    "fontSize": 15
                }
            },
            xAxis: {
                data: ["KW_14", "KW_15", "KW_16", "KW_17", "KW_18", "KW_19", "KW_20", "KW_21", "KW_22", "KW_23", "KW_24", "KW_25"]
            },
            yAxis: {},
            series: [{
                // name: 'Upload data volume',
                name: '上传量',
                type: 'line',
                data: []
            },
                {
                    // name: 'Download data volume',
                    name: '下载量',
                    type: 'line',
                    data: []
                }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        var myChart2 = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option2 = {
            title: {
                text: ''
            },
            tooltip: {
                "trigger": "item",
                "formatter": "{a} <br\/>{b} : {c}%",
                "textStyle": {
                    "fontSize": 20
                }
            },
            legend: {
                // data: ['Vehicle Data Ratio'],
                data: ['车型数据占比'],
                "textStyle": {
                    "fontSize": 17
                }
            },
            series: [{
                // name: 'Vehicle Data Ratio',
                name: '车型数据占比',
                type: 'pie',
                avoidLabelOverlap: true,
                minAngle: 5,
                data: [],
                "label": {
                    "normal": {
                        "show": true,
                        "textStyle": {
                            "fontSize": 14
                        }
                    },
                    "emphasis": {
                        "show": true
                    }
                },
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);
        layui.config({
            base: '{% static 'home/' %}' //静态资源所在路径
        }).use('index', function () {
            var layer = layui.layer,
                // admin = layui.admin,
                element = layui.element;
        });


        layui.use('table', function () {
            var $ = layui.$,
                table = layui.table;

            //方法级渲染
            tableIns = table.render({
                elem: '#file_info', // 找到制定的容器
                url: "/user/file/" + user_id, // 表格请求的URL
                page: true, // 是否分页
                limit: 30, // 一页显示多少条数据
                height: 'full-130', // 表格的高度
                {#defaultToolbar: ['filter', 'print', 'exports'], // 表头右侧工具栏#}
                toolbar: '#toolbarDemo',
                cols: [
                    [{
                        type: 'checkbox',
                        LAY_CHECKED: false,
                    },
                        {
                            field: 'carmodel',
                            title: '车型',
                            width: '8%',
                            sort: true,     // 开启排序
                            align: 'center'   // 居中显示
                        }, {
                        field: 'car_num',
                        title: '车辆编号',
                        width: '8%',
                        sort: true,     // 开启排序
                        align: 'center'   // 居中显示
                    }, {
                        field: 'power',
                        title: '功率',
                        width: '8%',
                        sort: true,
                        align: 'center'
                    }, {
                        field: 'status',
                        title: '试验工况',
                        width: '20%'
                    }, {
                        field: 'file_name',
                        title: '文件名',
                        width: '35%',
                        sort: true,

                    }, {
                        field: 'other_need',
                        title: '其他',
                        width: '10%',
                    }, {
                        field: 'file_status',
                        title: '是否可计算',
                        width: '8.32%'
                    }]
                ],

            });

            // 表格重载动作
            active_table = {
                reload: function () {
                    //执行重载
                    table.reload('info', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            "carmodel": $('#carmodel').children('a').html(),
                            "propulsion": $('#propulsion').children('a').html(),
                            "power": $('#power').children('a').html(),
                            "discipline": $("#discipline").children('a').html(),
                            "parts": $('#parts').children('a').html(),
                            "key_word": $("#demoReload").val(),
                            "time": (new Date()).valueOf(),
                        },
                        done: function (res, curr, count) {
                            this.where = {
                                "carmodel": $('#carmodel').children('a').html(),
                                "propulsion": $('#propulsion').children('a').html(),
                                "power": $('#power').children('a').html(),
                                "discipline": $("#discipline").children('a').html(),
                                "parts": $('#parts').children('a').html(),
                                "key_word": $("#demoReload").val(),
                                "time": (new Date()).valueOf(),
                            };
                        }
                    });
                }
            };

            //监听复选框点击

        });

        var filenameArr = [];
        var nameArray = [];
        var deleteArr = [];
        layui.use(['upload', 'form', 'layedit', 'laydate', 'element', 'table',], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                upload = layui.upload;
            table = layui.table;
            table.on('toolbar(test)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    switch (obj.event) {
                        case 'getCheckData':
                            var add_arrayData1 = checkStatus.data;
                            var confirmstatus = 0;
                            if (add_arrayData1.length == 0) {
                                layer.msg("请选择需要分析计算的文件！")
                            } else {
                                for (let j = 0; j < add_arrayData1.length; j++) {

                                    if (add_arrayData1[j]["file_status"] == "否") {

                                        confirmstatus = 1;
                                        break;
                                    } else {
                                        continue;
                                    }
                                }
                                if (confirmstatus == 1) {
                                    layer.msg("存在不可计算的文件，请重选！");
                                } else {
                                    for (let i = 0; i < add_arrayData1.length; i++) {
                                        filenameArr.push(add_arrayData1[i].file_name)
                                    }
                                    sessionStorage.setItem("uploadnewname", JSON.stringify(filenameArr));
                                    nameArray = filenameArr;
                                    for (var i = 0; i < nameArray.length; i++) {
                                        $("#namelist").append(
                                            `<div class='list-data'><img class='list-data-close'src='{% static "image/close_window.png" %}'/>${nameArray[i]}</div>`
                                        )
                                    }
                                    $("#shadowlayer").show();
                                    $("#shadowtext").show();
                                    $("#namelist").off('click');
                                    $("#namelist").on('click', '.list-data', function () {
                                        var compare_dataIndex = $(".list-data").index(this);
                                        $(this).remove();
                                        nameArray.splice(compare_dataIndex, 1);
                                        if (nameArray.length == 0) {
                                            $("#shadowlayer").hide();
                                            $("#shadowtext").hide();
                                            sessionStorage.removeItem("uploadnewname");
                                            filenameArr = [];
                                        } else {
                                            nameSession = JSON.stringify(nameArray);
                                            sessionStorage.setItem("uploadnewname", nameSession);
                                        }

                                    });
                                }
                            }
                            ;
                            break;
                        case 'deleteFile':
                            var delete_arrayData = checkStatus.data;
                            deleteArr = [];
                            for (let i = 0; i < delete_arrayData.length; i++) {
                                deleteArr.push(delete_arrayData[i].pk)
                            }
                            if (deleteArr.length >= 10) {
                                layer.confirm('确定删除当前选择的' + deleteArr.length + '条数据？', {
                                    btn: ['确定', '取消'] //按钮
                                }, function () {
                                    $.ajax({
                                        url: '/test/delete_file/',
                                        dataType: "json",
                                        data: JSON.stringify({"fileList": deleteArr}),
                                        type: "delete",
                                        success: function (result) {
                                            layer.msg("删除成功")
                                        },
                                        error: function (result) {
                                            layer.msg("文件删除失败，请联系官明超(53331)！")
                                        }
                                    });
                                }, function () {
                                    layer.msg('取消成功');
                                });
                            } else {
                                $.ajax({
                                    url: '/test/delete_file/',
                                    dataType: "json",
                                    data: JSON.stringify({"fileList": deleteArr}),
                                    type: "delete",
                                    success: function (result) {
                                        layer.msg("删除成功")
                                        var $ = layui.$,
                                            table = layui.table;

                                        //方法级渲染
                                        tableIns = table.render({
                                            elem: '#file_info', // 找到制定的容器
                                            url: "/user/file/" + user_id, // 表格请求的URL
                                            page: true, // 是否分页
                                            limit: 30, // 一页显示多少条数据
                                            height: 'full-130', // 表格的高度
                                            {#defaultToolbar: ['filter', 'print', 'exports'], // 表头右侧工具栏#}
                                            toolbar: '#toolbarDemo',
                                            cols: [
                                                [{
                                                    type: 'checkbox',
                                                    LAY_CHECKED: false,
                                                },
                                                    {
                                                        field: 'carmodel',
                                                        title: '车型',
                                                        width: '8%',
                                                        sort: true,     // 开启排序
                                                        align: 'center'   // 居中显示
                                                    }, {
                                                    field: 'car_num',
                                                    title: '车辆编号',
                                                    width: '8%',
                                                    sort: true,     // 开启排序
                                                    align: 'center'   // 居中显示
                                                }, {
                                                    field: 'power',
                                                    title: '功率',
                                                    width: '8%',
                                                    sort: true,
                                                    align: 'center'
                                                }, {
                                                    field: 'status',
                                                    title: '试验工况',
                                                    width: '20%'
                                                }, {
                                                    field: 'file_name',
                                                    title: '文件名',
                                                    width: '35%',
                                                    sort: true,

                                                }, {
                                                    field: 'other_need',
                                                    title: '其他',
                                                    width: '10%',
                                                }, {
                                                    field: 'file_status',
                                                    title: '是否可计算',
                                                    width: '8.32%'
                                                }]
                                            ],

                                        });
                                    },
                                    error: function (result) {
                                        layer.msg("文件删除失败，请联系官明超(53331)！")
                                    }
                                });
                            }
                            break;
                    }
                }
            );

            form.render();
            //日期
            laydate.render({
                elem: '#date_hash',
                value: new Date(),
                isInitValue: true
            });

            // 用户名
            form.val("three", {
                "author": username
            });
            // 这里绑定分析计算的点击事件
            $("#analysisCalculate").click(function () {
                for (let i = 0; i < filenameArray.length; i++) {
                    filenameArr.push(filenameArray[i].newname)
                }
                sessionStorage.setItem("uploadnewname", JSON.stringify(filenameArr));
                nameArray = filenameArr;
                for (var i = 0; i < nameArray.length; i++) {
                    $("#namelist").append(
                        `<div class='list-data'><img class='list-data-close' src='{% static "image/close_window.png" %}'/>${nameArray[i]}</div>`
                    )
                }
                $("#shadowlayer").show();
                $("#shadowtext").show();
                $("#namelist").off('click');
                $("#namelist").on('click', '.list-data', function () {
                    var compare_dataIndex = $(".list-data").index(this);
                    $(this).remove();
                    nameArray.splice(compare_dataIndex, 1);
                    if (nameArray.length == 0) {
                        $("#shadowlayer").hide();
                        $("#shadowtext").hide();
                        sessionStorage.removeItem("uploadnewname");
                        filenameArr = [];
                    }
                    nameSession = JSON.stringify(nameArray);
                    sessionStorage.setItem("uploadnewname", nameSession);
                });
            });

            $("#closewindow11").click(function () {
                $("#shadowlayer").hide();
                $("#shadowtext").hide();
                sessionStorage.removeItem("uploadnewname");
                filenameArr = [];
                $('#namelist').html("");
            });

            $("#confirmcalculate").click(function () {
                $("#shadowlayer").hide();
                $("#shadowtext").hide();
                $('#namelist').html("");
                filenameArr = [];
                sessionStorage.setItem("sessionType", 1);
                window.open('/calculate/parse/')
                // $.ajax({
                //     url: /parsefilelist/,
                //     dataType: "json",
                //     data: JSON.stringify({"fileList": filenameArr}),
                //     type: "post",
                //     success: function (result) {
                //         $('#jumpbox').html(result);
                //         $('#jumpbox').modal('show');
                //     }
                // });
            })
        });


    </script>
    <script type="text/html" id="toolbarDemo">
        <div class="demoTable">
            <button class="layui-btn layui-btn-sm layui-btn-normal data-download" lay-event="deleteFile">删除文件</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal data-download" lay-event="getCheckData">分析计算</button>
        </div>
    </script>
{% endblock %}
