{% extends 'base.html' %}

{% load static %}

{% block title %}USER{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layui/css/modules/layer/default/layer.css' %}">
    <script>
        var user_id = sessionStorage.user_id || localStorage.user_id;
        var username = sessionStorage.username || localStorage.username;
        var token = sessionStorage.token || localStorage.token;
        var job_number = sessionStorage.job_number || localStorage.job_number;
        if (!(user_id && token && username)) {
            location.href = '{% static "login_2.html" %}';
        }
    </script>
{% endblock %}

{% block content %}
    <div class="layadmin-tabsbody-item layui-show">
        <div class="layui-card layadmin-header">
            <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                <a lay-href="">主页</a><span lay-separator="">/</span>
                <a><cite>设置</cite></a><span lay-separator="">/</span>
                <a><cite>我的资料</cite></a>
            </div>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">设置我的资料</div>
                        <div class="layui-card-body" pad15="">

                            <div class="layui-form" id="change_user_info" lay-filter="change_user_info">
                                <!-- 工号 -->
                                <div class="layui-form-item">
                                    <label class="layui-form-label">工号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="change_job_number" id="change_job_number"
                                               lay-verify="change_job_number" readonly=""
                                               class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">不可修改</div>
                                </div>
                                <!-- 用户名 -->
                                <div class="layui-form-item">
                                    <label class="layui-form-label">用户名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="change_username" id="change_username"
                                               lay-verify="change_username" value="{{ username }}"
                                               readonly="" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">不可修改</div>
                                </div>

                                <div class="layui-form" lay-filter="">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">当前密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="oldPassword" id="oldPassword"
                                                   lay-verify="required"
                                                   lay-vertype="tips" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">新密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="password" id="password" lay-verify="pass"
                                                   lay-vertype="tips" autocomplete="off" id="LAY_password"
                                                   class="layui-input">
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">确认新密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="repassword" id="repassword" lay-verify="repass"
                                                   lay-vertype="tips" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="setmyinfo"
                                            onclick="submitinfo()">确认修改
                                    </button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // layui.use('set', layui.factory('set'));
    </script>
{% endblock %}

{% block javascript %}
    <script>
        layui.config({
            base: './home/' //静态资源所在路径
        }).use(['upload', 'form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                upload = layui.upload;

            form.val('change_user_info', {
                "change_job_number": job_number,
                "change_username": username,
            });
        });

        function submitinfo() {
            //定义变量sendData
            $.ajax({
                url: '/user/user/' + user_id,
                type: 'PUT',
                dataType: 'json',
                async: true,//异步请求
                data: {
                    username: $("#change_username").val(),
                    old_password: $("#oldPassword").val(),
                    new_password: $("#password").val(),
                    re_password: $("#repassword").val()
                },//使用变量sendData
                //执行成功的回调函数
                success: function (data) {
                    if (data.code == 1) { // 判断msg的值 ==> 决定是否跳转和密码修改情况
                        window.location.href = '/';
                    }
                },
                //执行失败或错误的回调函数
                error: function (data) {
                    layer.msg(data.msg);
                }
            });
        }
    </script>
{% endblock %}
